<div class="f fr ai--b b--crb b--solid bw3 bt-0 br-0 bl-0">
  <h2>{{ title }}</h2>
  <div class="fa--r">Contact: <a href="{{ contact.link }}" title="{{ contact.title }}">{{ contact.title }}</a></div>
</div>
