/*

   FLEXBOX

   Base:
    ai = align-items

   Modifiers:
    b   = baseline
    c   = center
    s   = stretch
    fe  = flex-end
    fs  = flex-start

 */

.ai
  &--b
    align-items: baseline

  &--c
    align-items: center

  &--s
    align-items: stretch

  &--fe
    align-items: flex-end

  &--fs
    align-items: flex-start
