/*

   FLEXBOX

   Base:
     fd = flex-direction

   Modifiers:
    r = row
    c = column
    rr = row-reverse
    cr = column-reverse

 */

.fd
  &--r
    flex-direction: row

  &--rr
    flex-direction: row-reverse

  &--c
    flex-direction: column

  &--cr
    flex-direction: column-reverse
