/*

   FLEXBOX

   Base:
    jc = justify-content

   Modifiers:
    c   = center
    fe  = flex-end
    fs  = flex-start
    sa  = space-around
    sb  = space-between

 */

.jc
  &--c
    justify-content: center

  &--fe
    justify-content: flex-end

  &--fs
    justify-content: flex-start

  &--sa
    justify-content: space-around

  &--sb
    justify-content: space-between
