/*

   FLEX-WRAP

   Base:
    fw = flex-wrap

   Modifiers:
    w   = wrap
    n   = no-wrap
    wr  = wrap-reverse

 */

.fw
  &--w
    flex-wrap: wrap

  &--n
    flex-wrap: nowrap

  &--fs
    flex-wrap: wrap-reverse
