/*

   FYI

   Base:
    fyi

   Elements:
    c = container
    i = icon
    s = slash
    t = title
    l = link
    d = description

   Modifier:
    None Yet

 */

.fyi
  &-c
    display: block
    text-align: center

  &-t
    @media $media-xxlarge
      display: inline-block

  &-d
    @media $media-xxlarge
      display: inline-block

  &-i
    @media $media-xxlarge
      display: inline-block

  &-l
  &-l:link
    @media $media-xxlarge
      display: inline-block

  &-s
    @media $media-xxlarge
      display: inline-block
