/*

   MAIN NAV

   Base:
    nv-m

 */

.nv
  &-m
    width: 300px
    position: fixed
    overflow-y: auto
    background-color: $charles-blue

    &-h
      background-color: $white
      text-align: center
      padding: $sizing-700
      margin-bottom: 3px

      &-t
        color: $charles-blue
        font-size: $font-700
        font-family: $sans
        font-weight: 700
        letter-spacing: 1px
        text-transform: uppercase

      &-ic
        margin-bottom: $sizing-400

      &-i
        display: block
        margin: 0 auto
