/* 

    NEWS

    Base:
        news--card
    
    Modifier: 
        sm = small

*/ 

.news--card
    position relative
    background-color: $white
    // display: flex

    // &-wrapper
    //     position relative
    //     background: green
    &-thumb-wrapper
      display: flex
