/* 

    NEWS

    Base:
        n--a
    
    Modifier: 
        sm = small

*/ 

.n--a
    position: absolute 
    background-color: $white
    text-decoration: none
    font-family: $serif 

    &:hover, &:focus
        background-color: $optimistic-blue-light
        text-color: $white
        
    &-news-item-wrapper
        padding: 0
        height: 100%
        position: relative
        margin-left: 1px
        background-color: #fff
    
    &-thumb-wrapper
        float: left
        margin-right: 20px
        margin-top: 0
        width: 190px
        height: 190px
    
    &-text-wrapper
        margin-left: 170px
        padding: 20px 20px 20px 0

    &-department-title
        text-transform: uppercase
        color: #58585b
        font-family: $sans
        font-weight: inherit
        font-size: .88889rem
        line-height: 1.08333rem
        margin: 20px 30px 40px

    &-title
        padding: 15px 30px 10px
        color: #1871bd
        font-family: $serif
        font-weight: 400
        font-style: italic
        text-transform: none

    &-date-flag
        left: 0
        top: -5px

    &-date-flag-text
        left: 20px
