/* 

    NEWS

    Base:
        n--a
    
    Modifier: 
        sm = small

*/ 

.n--a
    position: absolute 
    background-color: $white
    text-decoration: none
    font-family: $serif 


    &:hover, &:focus
        background-color: $optimistic-blue-light
        text-color: $white
        
        .n--a-t
        .n--a-st
            color: $white

    
    &-t
        font-style: italic  
        padding: 30px 10px 20px 175px

    &-st
        color: $body-text
        padding: 10px 10px 20px 175px

.n--a 
    .n--a-c 
        position: relative 

    .svg-date-flag
        position: absolute
        left: 10px
        top: 0px




 

    