/* 

    NEWS

    Base:
        news-card
    
    Modifier: 
        sm = small

*/ 

.news-card
  position relative
  background-color: $white

  h3.title
    font-size: 20px;
    font-style: italic
    font-family: "Lora", serif
    color: $optimistic-blue-dark
    text-transform: none
    letter-spacing: .4px
    margin: 5px 0px 5px
    line-height: 35px;
    
    a
      display: inline-block

  &--thumb-wrapper
    display: flex

    img
      min-width: 190px
  
  .news-column
    padding-top: 0px

    .thumb-and-title
      display: flex
      justify-content: space-between;

      .thumb-and-flag
        margin-right: 10

      @media $media-small-max
        flex-direction: column

    &--left
      border: 0
      padding-left: 20px

    &--right
      display: none
      padding-left: 1.5em
      // padding-right: 1.5em
      border-top: 0
      border-right: 0
      border-bottom: 0
      border-left: 1px
      border-style: dashed
      border-color: $grey-100

      @media $media-large
        display: block
    
    &--left, &--right
      padding-top: 20px
      @media $media-small-max
        padding: 10px 15px

  .optional-news-layout
    display: flex
    flex-direction: columns

    .icon-wrapper
      display: none
      min-width: 56px

      @media $media-xlarge
        display: block
      
      .di
        margin-top: 18px
        margin-left: 20px
        margin-right: 20px

    .intro-text
      color: $body-text
      font-size: 18px
      font-style: normal
      font-family: "Lora", serif
      line-height: 31.2px
      margin-top: 1em
