/* 

    NEWS

    Base:
        n--a
    
    Modifier: 
        sm = small

*/ 

.n--a
    position: relative 
    background-color: $white
    text-decoration: none
    font-family: $serif 
    height: 450px
    @media $media-medium-max
        height: auto
        min-height: 250px
        display: block
    @media $media-xxxlarge
        height: 190px
        display: block
        
    &-news-item-wrapper
        padding: 0
        position: relative
        background-color: $white
        @media $media-xxlarge-max
            height: auto
            max-height: 450px
            min-height: 400px
            display: block

        &:hover, &:focus, &:focus-visible
            background-color: $optimistic-blue-dark
            color: $white

            .n--a-department-title, .n--a-title
                color: $white

    &-thumb-wrapper
        margin-top: 0
        width: 100%
        height: 190px
        background-image: url(https://www.boston.gov/modules/custom/bos_content/modules/node_post/default_news.svg)
        background-repeat: no-repeat
        background-position: left center
        background-size: cover
       

    
    &-text-wrapper
        padding: 20px 10px 20px 0
        @media $media-xxlarge-max
            padding: 20px
        
    &-department-title
        text-transform: uppercase
        color: $body-text
        font-family: $sans
        font-size: .88889rem
        line-height: 1.08333rem
        margin: 20px 0 20px
        bottom: 0
        position: absolute
            

    &-title
        color: #1871bd
        font-weight: 400
        font-style: italic
        text-transform: none
        margin: 5px 0px 5px
        font-size: 1.2222rem
        letter-spacing: .4px
        line-height: 1.5552rem
        font-family: "Lora", serif
        overflow: hidden
        max-height: 90px
        @media $media-large-max
            overflow: visible
            max-height: 100%

    &-date-flag
        left: 0
        top: -5px

    &-date-flag-text
        left: 20px

.n--a .g--5
    @media $media-xxlarge-max
        min-width: 100%
        max-width: 100%

.n--a .g--7
    @media $media-xxlarge-max
        min-width: 100%
        max-width: 100%

.n--a img
    min-width: 100%
    max-height: 100%
    width: auto
    height: auto
    object-fit: cover
    object-position: center

// handle hover interference with focus
.n--a.focus-active:hover,
.n--a.focus-active:hover .n--a-news-item-wrapper
    pointer-events: none
    background-color: $white

    .n--a-department-title
        color: $body-text

    .n--a-title
        color: $optimistic-blue-dark

.n--a.focus-active:focus .n--a-news-item-wrapper
    pointer-events: auto
    background-color: $optimistic-blue-dark
    color: $white

    .n--a-department-title, .n--a-title
        color: $white

.news-item-news:last-child
    margin-bottom: 50px

