/*

   Detail List

   Base:
    dl

   Elements:
    i = item
    t = title
    d = description

   Modifier:
    b = block
    sm = small (less vertical spacing)

 */

.dl
  list-style: none
  margin: 0
  padding: 0

  &-i
    clear: fix
    margin: 0
    padding: 0
    list-style: none
    background: none

    &:not(:first-child)
      padding-top: $sizing-300

    .dl--sm &:not(:first-child)
      padding-top: $sizing-100

    &:not(:last-child)
      border-bottom: 1px dashed $grey-100
      padding-bottom: $sizing-300

    .dl--sm &:not(:last-child)
      padding-bottom: $sizing-100

    &--b
      line-height: 1

      .dl-t
        float: none
        width: 100%
      
      .dl-d
        margin-top: $sizing-100

  &-t
    clear: both
    color: $grey-300
    float: left
    font-family: $serif
    font-size: responsive $font-200 $font-300
    font-style: italic
    line-height: $line-height-200
    width: 20%
    
    &--l
      width: 30%

  &-d
    color: $charles-blue
    float: left
    font-family: $sans
    font-size: responsive $font-100 $font-200
    // Keeps the line-height relative to the responsive font-size, but
    // compensates for the dl-t font size being bigger. Aims to preserve
    // vertical centering.
    line-height: "calc(%s * 1.25)" % ($line-height-200)
    text-transform: uppercase
    width: 80%
    
    &--s
      width: 70%

    &--tt-n
      text-transform: none
