/*

   Detail List

   Base:
    dl

   Elements:
    i = item
    t = title
    d = description

   Modifier:
    None Yet

 */

.dl
  list-style: none
  margin: 0
  padding: 0

  &-i
    clear: fix
    margin: 0
    padding: 0

    &:not(:first-child)
      padding-top: $sizing-300

    &:not(:last-child)
      border-bottom: 1px dashed $grey-100
      padding-bottom: $sizing-300

  &-t
    clear: both
    color: $grey-300
    float: left
    font-family: $serif
    font-size: responsive $font-200 $font-300
    font-style: italic
    line-height: $line-height-200
    width: 20%

  &-d
    color: $charles-blue
    float: left
    font-family: $sans
    font-size: responsive $font-100 $font-200
    line-height: $line-height-200
    text-transform: uppercase
    width: 80%
