a[href]:after
  content: none !important

.page
  padding-top: 0 !important

.container,
.b-c
  margin: 0
  padding-left: 0
  padding-right: 0
  max-width: 100vw !important

.b
  background-color: $white !important
