/*

   FYI

   Base:
    fyi

   Elements:
    c = container
    i = icon
    s = slash
    t = title
    l = link
    d = description

   Modifier:
    None Yet

 */

.fyi

  &--red
    .fyi
      &-l
      &-l:link
        color: $white

        &:hover, &:focus
          color: $charles-blue
          border-color: $charles-blue

  &-c
    color: $white
    display: flex
    flex-flow: column
    text-align: center

    @media $media-xxlarge
      flex-flow: row
      text-align: left
      align-items: center
      justify-content: center

  &-t
    color: $freedom-red-light
    font-family: $sans
    font-size: $font-200
    text-transform: uppercase
    letter-spacing: 1px
    line-height: $line-height-100
    margin-bottom: $sizing-200

    @media $media-xxlarge
      margin-bottom: 0
      white-space: nowrap

    &--red
      color: $white

  &-d
    font-family: $serif
    font-size: responsive 16px 18px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-100
    margin-bottom: $sizing-200

    @media $media-xxlarge
      margin-bottom: 0
      margin-right: $sizing-300

    &--red
      color: $charles-blue

  &-i
    width: 45px
    height: 45px
    display: block
    margin: 0 auto $sizing-200

    @media $media-xxlarge
      margin: 0 $sizing-300 0 0

    svg
      display: block
      width: 100%
      height: 100%

    .svg-stroke-hover
      stroke: $freedom-red-light

    .svg-fill-hover
      fill: $freedom-red-light

    &--red
      .svg-stroke-hover
        stroke: $white

      .svg-fill-hover
        fill: $white

  &-l
  &-l:link
    color: $optimistic-blue-light
    font-family: $sans
    font-size: $font-200
    text-transform: uppercase
    text-decoration: underline
    line-height: $line-height-100

    &:hover, &:focus
      color: $freedom-red-light
      border-color: $freedom-red-light

    @media $media-xxlarge
      white-space: nowrap

  &-s
    display: none

    @media $media-xxlarge
      display: block
      margin: -3px $sizing-300 0
      font-size: 36px
      position: relative
      color: $freedom-red-light

    &--red
      color: $charles-blue
