/*

   POSITION

   Base:
    po = position

   Modifiers:
    a = absolute
    r = relative

 */

.po
  &--a
    position: absolute

  &--r
    position: relative

  // Scale for bottom positioning
  &-b
    &--0
      bottom: 0

  // Scale for top positioning
  &-t
    &--0
      top: 0

  // Horizontal positioning
  &-h
    // Aligns center
    &--c
      left: 50%
      transform: translateX(-50%)

  // Position (a)ll
  &-a
    // Aligns center
    &--c
      left: 50%
      top: 50%
      transform: translateX(-50%) translateY(-50%)
