/*

   Photo

   Base:
    ph

   Elements:
    t = title
    i = intro
    sh = subheader

 */

.ph {
  position: relative;

  @media #{$media-xlarge} {
    height: 500px;

    &--wc {
      height: 800px;
    }
  }

  &-p {
    height: 250px;
    background-size: cover;
    background-position: center;

    @media #{$media-medium} {
      height: 420px;
    }

    @media #{$media-xlarge} {
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-c {
    background-color: $white;
    border-bottom: $border-200 solid $charles-blue;
    padding: 10%;

    @media #{$media-xlarge} {
      position: absolute;
      border-bottom: none;
      border-top: $border-200 solid $charles-blue;
      width: 30%;
      min-width: 300px;
      max-width: 400px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: $sizing-600;
    }
  }
}
