/*

   LINK WITH ICON

   Base:
    lwi

   Modifier:
    None Yet

 */

.lwi

  // Containing link
  &-l
    display: flex
    align-items: center
    padding: $sizing-300
    background-color: $white
    height: 100%
    text-decoration: none

    &:hover
      color: $white
      background-color: $optimistic-blue

  // Image container
  &-ic
    width: 20%
    padding-top: $sizing-300
    padding-bottom: $sizing-300
    text-align: center

  // Icon
  &-i
    max-width: 75%
    max-height: 100%

  &-t
    font-style: italic
    font-size: $font400

  &:hover
    background-color: $optimistic-blue
    color: $white

  @media $media-medium

    &-l
      padding: $sizing-600

    // Containing link, image container, text
    &-l, &-ic, &-t
      display: block
      text-align: center
      width: 100%

    &-i
      margin: 0 auto
