<input type="checkbox" id="hb-tr" class="hb-tr" aria-hidden="true">
<input type="checkbox" id="s-tr" class="s-tr" aria-hidden="true">

<header class="h" role="header">
  {{> @hamburger }}
  {{> @logo }}
  {{> @seal }}
  {{> @nav }}
  <div class="h-s">
    {{> @form_search }}
  </div>
</header>
