/*

   THE SEAL

   Base:
    s

   Modifier:
    u = up

 */

.s
  background-color: $seal-bg
  border-radius: 50%
  bottom: 0
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.2)
  display: none
  height: 106px
  width: 106px
  padding: 8px
  position: absolute
  z-index: 0
  left: 50%
  transform: translateX(-50%) translateY(40%)
  transition-property: all
  transition-duration: 0.15s
  transition-timing-function: linear

  @media $media-xxlarge
    display: block

  &:active
    background-color: $seal-bg

  &--u
    transform: translateX(-50%) translateY(-20%)
    box-shadow: none

  &--h
    transform: translateX(-50%) translateY(-105%)
    box-shadow: none

  &-i
    height: 100%
    width: 100%
