.svg-date-flag
    position: absolute
    top: -3px
    width: 90px
    padding-left: 20px
    z-index: 1
    text-align: center
    font-family: "Montserrat", sans-serif
    font-weight: 700
    text-transform: uppercase
    line-height: 1
    color: $charles-blue
    right: 0

.date-flag-text
    padding: 14px 15px
    width: 70px

.date-flag-img
    x: 30%
    y: 25%
    height: 15px
    width: 15px
