/*

   Notice List Items

   Base:
    n

   Elements:
    li

   Modifier:
    None Yet

 */

.n
  &-li
    background: #ffffff
    margin-bottom: $sizing-400
    text-decoration: none

    // Blocks inside the notice list item
    &-b
      padding: $sizing-400
      display: flex
      flex-direction: column

      @media $media-large
        &--br
          border-right: 1px dotted $grey-000

    // Notice list title
    &-t
      font-family: $serif
      font-style: italic
      font-size: responsive 18px 25px
      font-range: 480px 1440px
      line-height: $line-height-200

    // Notice list icon container
    &-ic
      display: none
      text-align: right

      @media $media-large
        display: block

    // Notice list icon container
    &-i
      width: 100%
      min-width: 50px
      max-width: 75px

    // Notice list alert
    &-a
      color: $freedom-red
      float: left
      font-family: $sans
      font-size: responsive $font100 $font200
      font-range: 480px 1440px
      text-transform: uppercase
      margin-top: $sizing-200

      @media $media-large
        margin-top: auto
