/*

   Notice List Items

   Base:
    n

   Elements:
    li

   Modifier:
    None Yet

 */

.n
  &-li
    background: #ffffff
    text-decoration: none

    &:not(:last-child)
      margin-bottom: $sizing-400

    // Blocks inside the notice list item
    &-b
      padding: $sizing-400
      display: flex
      flex-direction: column

      @media $media-large
        &--br
          border-right: 1px dotted $grey-000

    // Notice list title
    &-t
      font-family: $serif
      font-style: italic
      font-size: responsive 18px 25px
      font-range: 480px 1440px
      line-height: $line-height-200

    // Notice list icon container
    &-ic
      display: none

      @media $media-large
        display: flex
        justify-content: center
        align-items: center

    // Notice list alert
    &-a
      color: $freedom-red
      font-family: $sans
      font-size: responsive $font100 $font200
      font-range: 480px 1440px
      text-transform: uppercase
      line-height: $line-height-000
      margin-top: $sizing-200

      @media $media-large
        margin-top: auto
