/*

   FOOTER

   Base:
    ft

   Modifier:
    None Yet

 */

.ft
  background-color: $charles-blue
  padding: $sizing-500

  &-c
    min-height: 83px
    padding-left: 75px
    background-image: url(../images/b-light.svg)
    background-position: 0 0
    background-repeat: no-repeat
    background-size: 54px 83px

    @media $media-medium
      padding-top: 30px

  &-ll
    font-family: $sans
    font-size: responsive 12px 14px
    font-range: 480px 1440px
    font-weight: 300
    letter-spacing: 1px
    line-height: 1
    list-style: none
    margin: 0
    padding: 0

    &:not(:first-child)
      margin-top: $sizing-300

    &-i
      &:not(:first-child)
        margin-top: $sizing-300

    &-a
      text-transform: uppercase
      text-decoration: none
      font-weight: 500
      color: $optimistic-blue-light !important

      &:hover
        color: $freedom-red-light

    @media $media-medium
      &:not(:first-child)
        margin-top: 0

      &-i
        float: left

        &:first-child
          margin-left: 25px

        &:not(:first-child)
          margin-top: 0
          margin-left: 18px

      &-311
        float: right
        margin-left: 18px
        height: 82px
        width: 82px
        background-image: url(../images/311-circle.svg)
        background-position: bottom left
        text-indent: -999em
        transform: translateY(-50%) translateY(8px)

      &-a:hover
        .ft-ll-311
          background-position: top left

      &--r
        float: right
