$charles-blue           = #091f2f
$freedom-red            = #fb4d42
$optimistic-blue-light  = #378EA5
$optimistic-blue-dark   = #307c90

$optimistic-blue-hover  = darken($optimistic-blue-dark, 20)
$yellow                 = rgb(252,182,26)
$white                  = #ffffff
$grey-000               = #f3f3f3

$seal-bg                = $charles-blue
$hero-main              = #36b2c6
$hero-alt               = rgb(45,160,186)
$nav-header             = $charles-blue
$nav-header-text        = $white
$header-nav-color       = $optimistic-blue-light
$header-background      = $charles-blue
$header-nav-hover       = $white
$header-search          = $optimistic-blue-light
