$charles-blue     = #091f2f
$freedom-red      = #fb4d42
$optimistic-blue  = #378EA5
$yellow           = rgb(252,182,26)
$white            = #ffffff
$grey-000         = #f3f3f3

$seal-bg          = $charles-blue
$hero-main        = #36b2c6
$hero-alt         = rgb(45,160,186)
