/*

   Drawer

   Base:
    tb

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    sm = small

   Use tb--open to force the drawer open. Useful for JavaScript cases where
   you want control over the opening / closing rather than using checkboxes.
 */

.tb
  &--sm
    border: $border-200 solid $grey-100

    &:first-child
      margin-top: 0

    .tb-h
      padding: $sizing-400
      padding-right: $sizing-400 * 2.25

    .tb-t
      font-family: $serif
      font-size: responsive 14px 18px
      font-range: 480px 1440px

    .tb-ic
      right: $sizing-300

    .tb-tr
      &:checked ~ .tb--sm, ^[-1]--open .tb--sm
        border-color: $charles-blue

    .tb-c
      padding: $sizing-300
