/*

   Drawer

   Base:
    tb

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    sm = small

   Use tb--open to force the drawer open. Useful for JavaScript cases where
   you want control over the opening / closing rather than using checkboxes.
 */

.tb
  background: $white

  &:first-child
    margin-top: $sizing-500

  &:not(:first-child)
    margin-top: $sizing-200

  &-tr
    &:checked ~ .tb, ^[-1]--open .tb
      &-h
        background-color: $charles-blue

        .tb-t
          color: $white

        .tb-st
          color: $optimistic-blue-light

        .tb-ic
          margin-top: -9px
          
          svg
            transform: rotate(-90deg)

        .tb-i
          fill: $white

    &:checked ~ .tb
      &-c
        display: block

  &-h
    display: block
    letter-spacing: 0
    margin: 0
    padding: $sizing-500
    padding-right: $sizing-500 * 2.25
    position: relative
    text-transform: none
    user-select: none

    // these override <button> default styles
    background: transparent
    width: 100%
    border: none
    text-align: left

    &:hover, &:focus
      cursor: pointer
      background-color: $optimistic-blue-light
      color: $white

      .tb-t, .tb-st
        color: $white

      .tb-i
        fill: $white

  &-c
    display: none
    background: $white
    padding: $sizing-500

    p:first-child
    ul:first-child
      margin-top: 0

    p:last-child
    ul:last-child
      margin-bottom: 0

    @media $media-small-max
      .paragraphs-item-text-one-column .content
        padding-left: 0
        padding-right: 0

        .responsive-table
          font-size: 4.5vw
          border: 1px solid black
          word-wrap: break-word;
          word-break: break-word;
  &-ic
    height: 20px
    width: 26px
    position: absolute
    right: $sizing-500
    top: 50%
    margin-top: -8px

    svg
      max-height: 100%
      max-width: 100%
      transform: rotate(90deg)
      transition: transform 250ms

  &-i
    fill: $optimistic-blue-light

  &-t
    color: $optimistic-blue-dark
    font-family: $serif
    font-size: responsive 16px 25px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-100

  &-st
    color: $charles-blue
    font-family: $serif
    font-size: responsive 14px 18px
    font-range: 480px 1440px
    line-height: $line-height-100
    margin-top: $sizing-100

// handle hover interference with focus
.tb.focus-active:hover
  pointer-events: none
  background-color: $white
  color: $optimistic-blue-light

  .tb-t, .tb-st
    color: $optimistic-blue-light

  .tb-i
    fill: $optimistic-blue-light

.tb-h.focus-active:hover
  background-color: $white

.tb.focus-active:focus
  pointer-events: auto
  background-color: $optimistic-blue-light
  color: $white

  .tb-t, .tb-st
    color: $white

  .tb-i
    fill: $white

.tb-h.focus-active:focus-within
  background-color: $optimistic-blue-light
  color: $white

  .tb-t, .tb-ic, .tb-i
    color: $white
    fill: $white

