<div class="coi">
    <div class="sh sh--w cl">
        <h2 class="sh-title">Testing 3 column with image component</h2>
        <div class="sh-contact">
            <div
                class="entity entity-label-hidden field field-name-field-contact field-type-entity-reference sh-contact">
                Contact: <a href="/contact/digital-team" hreflang="en">Digital Team</a>
            </div>
        </div>
    </div>
    <div class="g">
        <div class="coi m-t500 g--4 g--4--sl">
            <div
                class="entity entity-label-hidden paragraphs-items paragraphs-items-field-columns paragraphs-items-full paragraphs-items-field-columns-full three-column-container">
                <div class="clearfix column-wrapper">
                    <div class="entity entity-paragraphs-item component-section paragraphs-item-columns content"
                        bos_context_type="Columns">
                        <div class="field-three-col-image">
                            <article>

                                <img srcset="/sites/default/files/linked/styles/med_small_square__200x200_/public/img/2016/w/winter_swimming_10.jpg?itok=jo6e7E9T 1x"
                                    src="/sites/default/files/linked/styles/med_small_square__200x200_/public/img/2016/w/winter_swimming_10.jpg?itok=jo6e7E9T"
                                    alt="Image for 1" typeof="foaf:Image">
                            </article>
                        </div>
                        <div class="coi-col-title">
                            Column 1 Title

                        </div>
                        <div class="field-three-col-description">
                            <p>Testing the body copy of column 1.&nbsp;Testing the body copy of column 1.&nbsp;Testing
                                the body
                                copy of column 1.&nbsp;Testing the body copy of column 1.&nbsp;Testing the body copy of
                                column
                                1.&nbsp;Testing the body copy of column 1.&nbsp;Testing the body copy of column
                                1.&nbsp;Testing
                                the body copy of column 1.&nbsp;Testing the body copy of column 1.&nbsp;Testing the body
                                copy of
                                column 1.&nbsp;Testing the body copy of column 1.&nbsp;</p>


                        </div>
                        <div class="field-three-col-link">

                            <div class="button cta-button">
                                <div class="link-wrapper download-link">
                                    <a href="https://d8-uat.boston.gov/sites/default/files/linked/file/document_files/2017/03/pdf_for_website_testing.pdf"
                                        class="fyi-l">Testing a document in CTA</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="coi m-t500 g--4 g--4--sl">
            <div class="clearfix column-wrapper">
                <div class="entity entity-paragraphs-item component-section paragraphs-item-columns content"
                    bos_context_type="Columns">
                    <div class="field-three-col-image">
                        <article>

                            <img srcset="/sites/default/files/linked/styles/med_small_square__200x200_/public/img/event/intro_images/2017/03/14459114592_783df2f5ca_o.jpg?itok=WXgQE_G0 1x"
                                src="/sites/default/files/linked/styles/med_small_square__200x200_/public/img/event/intro_images/2017/03/14459114592_783df2f5ca_o.jpg?itok=WXgQE_G0"
                                alt="Image for career fairs" typeof="foaf:Image">





                        </article>


                    </div>
                    <div class="coi-col-title">
                        Column 2 Title

                    </div>
                    <div class="field-three-col-description">
                        <p>Testing the body copy of column 2.&nbsp;Testing the body copy of column 2.&nbsp;Testing the
                            body
                            copy of column 2.&nbsp;Testing the body copy of column 2.&nbsp;Testing the body copy of
                            column
                            2.&nbsp;Testing the body copy of column 2.&nbsp;</p>


                    </div>
                    <div class="field-three-col-link">

                        <div class="button cta-button">
                            <div
                                class="field field-name-field-external-link field-type-link field-label-hidden field-items">
                                <div>
                                    <a href="https://google.com" class="lnk-e" target="_blank">Testing external link in
                                        CTA</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix column-wrapper">
            <div class="entity entity-paragraphs-item component-section paragraphs-item-columns content"
                bos_context_type="Columns">
                <div class="field-three-col-image">
                    <article>

                        <img srcset="/sites/default/files/linked/styles/med_small_square__200x200_/public/img/post/thumbnails/2017/03/pics-parks.jpg?itok=LerZ08ut 1x"
                            src="/sites/default/files/linked/styles/med_small_square__200x200_/public/img/post/thumbnails/2017/03/pics-parks.jpg?itok=LerZ08ut"
                            alt="Image for pics in the parks" typeof="foaf:Image">





                    </article>


                </div>
            </div>
            <div class="coi m-t500 g--4 g--4--sl">
                <div class="coi-col-title">
                    Column 3 Title

                </div>
                <div class="field-three-col-description">
                    <p>Testing the body copy of column 3.&nbsp;Testing the body copy of column 3.&nbsp;Testing the body
                        copy of column 3.&nbsp;Testing the body copy of column 3.&nbsp;Testing the body copy of column
                        3.&nbsp;Testing the body copy of column 3.&nbsp;Testing the body copy of column 3.&nbsp;Testing
                        the body copy of column 3.&nbsp;Testing the body copy of column 3.&nbsp;Testing the body copy of
                        column 3.&nbsp;Testing the body copy of column 3.&nbsp;</p>


                </div>
                <div class="field-three-col-link">

                    <div class="button cta-button">
                        <a href="/departments/innovation-and-technology">Test internal link in CTA</a>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div>
</div>
</div>
</div>