language: node_js
node_js:
- '6'
before_install:
- rvm install 2.4.0
install:
- yarn install
- gem install percy-cli
script:
- gulp build
- fractal build
deploy:
  provider: s3
  access_key_id: $ACCESS_KEY_ID
  secret_access_key: $SECRET_ACCESS_KEY
  bucket: "patterns.boston.gov"
  acl: public_read
  region: us-east-2
  local_dir: public
after_script:
- test $TRAVIS_BRANCH == "develop" && bash ./travis/percy.sh
after_success:
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash ./travis/post_deploy.sh
env:
  global:
  - secure: DQrWraUARyNuUA1KXDT1IJxQG6SrflD622+TX1SKeL0UemhxzliGMBqOgYt2KSrXqTjzimUcGyeSpJhC3hM5ACgNF3ft3Eikw5/2jc9P8oBRzPafnm/QtbD2EI5rwA+VxjqmSbP6rh49CB/ftnkymp0OLH0PD3Epw7BwlmoPPRueyh3uAR5YyMcfSuVaEeJMu6sk3hKaPF0ykGxqDKJcNs0dw50V2hBqYoaj9aWvsvLYZO7j/vrz8Qm+/m7bm0TDVXsnjwTpuSvpSPPQZW4ul92DldYSrvEXxBOL0tSjYa3+uEjto7WZlkRHUgtDvoznxQImrYCpSwlSh1VJdG+JB9STj5xD/+6LPrQiW4s9Q3BPP4KPneT71wTDaaPVE3syx/ZlhK0qBOqhd+KqFdzQ5+r4vysOc8MKVRGtBHJ/7dbN+27wguV9KE/10c2Ln+FUs7TVBnWKhwarT5erVj36/zdWNEPFtZSj41uYwKUc1Q2gwPnyzf6wA49P8UDgIISqWDEWRA6fuDpPZbwP4KGdlLjyAD/CT6ZgyEoLZpmSVRRJ4P/MraSRCaN28dsR/6YrddgpHcZfcngGF79ftP3EsP0Y34lU/UEgQuB+gfz5b5UxeF3VY8uApEl1q8llz/6SKZsrUZ3VVPbb3gMoylgsWmAlfC2v9KcdLC05Ry6YO14=
notifications:
  slack:
    rooms:
      secure: IgW7hkOkPSiECu21oCWelA97WTYzVroPdvByLrmRB6gMlLZLK8MKqIoztXXyC6igyrNSV9HWlU4V6xsCpT/RGj4ybj6Z6lU5BEFTe4c1gC1aNEvaKsaTLu2W78RkgigMDJQlQMR4eIoyS8lUeXEwL2GH+l8foSMAa92y2nYHNE/0PSwebru1UsiVaO8zVGqWUbcakee8yFhB2Bt+NpU8MaU7PS8dYb/gzUv9b7XsA2ZMWqytlI8rHWuedX3GKRQugRatLcHtUPYE8mAa6g2mxyupdLIrj1PfLDx1//ySSzengZqT8rHxyYRM7zOT5/UDmCsHd09RXhw47xCNvDX5ES7dmXICDZfsUlNvjzTVXzeGZWUlbTxEupYtUQMCpPLLCBCZy6iLFNHWiqFJ8UizhQ/7tWAyWGP4LEBJj1jR354l5BuRPXHHNIRQP6uhZkk6RvWI0DWEPQR2qaH/aBHVOH65ZQIGqRPNu5uy2r5qWQpm8uRaXGO7DtN+MP9G3RVU9n6WA84LAjNRtAgYgrDJ2d0A6XxKqOfI8gs0YDZuPyDVuh4zO+ZBSl6nDCEqyKTHWNkplM7tHgQX7fdjdZ2PKCt0VsnzO9xeAfRRB7DZoLBkwUP2KQooWmlrt0OCKXtKA4TSDBG+eO4MdUsUaF1zwWORbLJsOv7e/78h2s5iiyg=
