/*

   Table

   Base:
    tbl

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    None Yet

 */

table {
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  // Prevent cramped-looking tables
  width: 100%;
}

td,
th {
  padding: 0;
}

table.responsive-table {
  @media (min-width: 768px) {
    width: 100%;
    margin:0;
    padding:0;
  }
}

table.responsive-table thead {
  display: none;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: table-header-group;
  }
}

table.responsive-table th {
  display: none;
  background-color: $charles-blue;
  font-family: $sans;
  font-weight: inherit;
  line-height: 2.16667em;
  text-transform: uppercase;
  color: $white;
  @media (min-width: 768px) {
    display: table-cell;
  }
  &:first-of-type,
  &.table-left {
    text-align: left;
  }
  text-align: right;
  padding: 9px;
}

table.responsive-table tr {
  display: block;
  @media (min-width: 768px) {
    display: table-row;
  }
}

table.responsive-table tr:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    display: none;
    margin-bottom: 0;
  }
}

table.responsive-table tr:before {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

table.responsive-table td {
  display: block;
  float: left;
  clear: left;
  width: 100%;
  text-align: right;
  padding: 10px;
  @media (min-width: 768px) {
    width: inherit;
    clear: none;
    float: none;
    display: table-cell;
    //text-align: center;
  }
}

table.responsive-table td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  @media (min-width: 768px) {
    display: none;
  }
}

table.responsive-table,
table.responsive-table * {
  border-color: $charles-blue;
}

table.responsive-table {
  border: none;
  @media (min-width: 768px) {
    border-width: 1px;
    border-style: solid;
  }
}

table.responsive-table tr {
  border-width: 1px;
}

table.responsive-table td {
  //border: 1px solid $charles-blue;
  &:not(:last-child) {
    border-bottom: none;
  }
  @media (min-width: 768px) {
    //border-right-width: 1px;
    //border-right-style: solid;
    //border-bottom-width: 1px;
    //border-bottom-style: solid;
    &:last-child {
      border-right: none;
    }
  }
}

tbody {
  color: #091F2F;
  tr {
    &:nth-child(odd) {
      background-color: #F2F2F2;
    }
    td {
      &:first-of-type,
      &.table-left {
        text-align: left;
        font-style: italic;
      }
      border: none;
      text-align: right;
    }
  }
  tr.total {
    background-color: #091F2F;
    color: white;
  }
  tr.subtotal {
    background-color: #58585B;
    color: white;
  }
}
@media (max-width: 767px) {
.responsive-table tbody tr td:first-of-type,
.responsive-table tbody tr td.table-left {
  text-align: right;
}
}

table.responsive-table th {
  border: 1px solid $charles-blue;
}

table.responsive-table--horizontal th:not(:last-child) {
  border-right-color: $white;
}
table.responsive-table--vertical tr:not(:last-child) th {
  border-bottom-color: $white;
}
