/*

   HERO WITH STRIKETHROUGH TEXT

   Base:
    hro-s

   Elements:
    t = title
    i = intro
    sh = subheader

   Modifier:
    d = default
    b = blank
    t = image with title
    wh = with header (adds top padding to account for fixed position headers)
    mh = min-height
    pb = padding-bottom
    hm = hide on mobile
 */

.hro
  &--img
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    z-index: 0;
    width: 100%;
    height: 100%;

.hros
  text-align: center
  position: relative
  padding-bottom: 4rem
  border-bottom: 8px solid black
  overflow: hidden

  &--img
    position: absolute
    top: 0
    left: 50%
    z-index: 0
    margin-left: -50%
    width: 100%
    height: 100%

  &--pt
    padding-top: 3.5rem // The height of Boston.gov header

  &--pb
    background-position: top center
    padding-bottom: 50%
    max-height: 400px

    @media $media-medium
      padding-bottom: 33.33%
      background-position: center

    @media $media-xlarge
      padding-bottom: 25%

  &--wh
    padding-top: $sizing-700

  &--d
    background: repeating-linear-gradient(-45deg, $hero-alt, $hero-alt 3px, $hero-main 3px, $hero-main 30px)
    background-size: 42px 42px
    position: relative

  &--t
    position: relative
    
    &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: alpha($optimistic-blue-light, 0.6)
      z-index: 1

  &-c
    padding: 12% 0 10%
    position: relative
    z-index: 2

    @media $media-xlarge
      padding: 5% 0 3%

  &-i
    color: $white
    font-family: $serif
    font-size: responsive 22px 24px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-000
    padding-bottom: 1%

    @media $media-xlarge
      padding-bottom: 0.5%

    &--l
      color: $white
      font-style: italic

    span
      height: 3px
      width: 20px
      background-color: $white
      display: inline-block
      margin-bottom: 5px
      margin-left: 5px
      margin-right: 5px

  &-t
    color: $white
    font-family: $sans
    font-size: responsive 40px 75px
    font-range: 480px 1440px
    font-weight: 700
    line-height: $line-height-000
    margin: 0
    text-transform: uppercase
    padding-bottom: 1.75%

    @media $media-xlarge
      padding-bottom: 1.25%

      &--l
        font-size: responsive 45px 90px

.intro-content
  left: 50%
  position: relative
  -webkit-transform: translate(-50%)
  transform: translate(-50%)
  width: 100vw
  top: -100px
  z-index: 1000

.topic-intro-text-container
  text-align: center

.intro-text-top
  background-color: $white
  height: 100px
  border-top: 8px solid black
  display: block
  left: -1px
  position: relative
  margin: auto
  
  @media $media-small-max
    width: 100%

  @media $media-medium
    width: 740px
    border-left: 8px solid black
    border-right: 8px solid black

.topic-intro-text-content 
  position: relative
  margin-top: -30px
  padding: 50px
  margin-bottom: 0

.intro-text
  margin-bottom: 25px
  font-size: 1rem
  line-height: 35px
  font-weight: 400
  font-style: italic
  color: black

.supporting-text 
  font-size:12px
  color: $grey-300
  font-style:italic
  margin-bottom:10px
  margin-top: -20px
