/*

   BACKGROUND-COLOR

   Base:
    bg-c = background-color

   Modifiers:
    g   = grayscale
    crb = charles-blue
    ftr = freedom-red
    ob  = optimistic-blue

 */

.bg-c
  &--g
    &--1
      background-color: #f3f3f3

  &--crb
    background-color: $charles-blue

  &--ftr
    background-color: $freedom-red

  &--ob
    background-color: $optimistic-blue

  &--w
    background-color: $white
