/*

   BACKGROUND-COLOR

   Base:
    bg-c = background-color

   Modifiers:
    crb = charles-blue
    ftr = freedom-red
    ob  = optimistic-blue

 */

.bg-c
  &--crb
    background-color: $charles-blue

  &--ftr
    background-color: $freedom-red

  &--ob
    background-color: $optimistic-blue
