<div class="lo">
  <a href="#" class="lo-l">
    <img src="{{#if hub_logo}}/images/hub/logo.svg{{else}}/images/public/logo.svg{{/if}}" alt="City of Boston" class="lo-i" />
    {{#if show_mayor}}
      <span class="lo-t">Mayor Kim Janey</span>
    {{/if}}
  </a>
</div>
