/*

   GRID

   Base:
    g

   Modifier:
    c = col

 */

.g
  &--1
    width: 100%

  @media $medium
    &--2--m
      width: 50%
      margin-left: 1rem

      &:first-child
        margin-left: 0

  @media $large
    &--4--l
      width: 25%
      margin-left: 1rem

      &:first-child
        margin-left: 0
