/*

   Map

   Base:
    mp

   Elements:
    t = title
    i = intro
    sh = subheader

 */

.mp
  width: 100%
  padding-bottom: 46.2%

  .legend
    border-radius: 0
    color: $charles-blue
    background-color: rgb(255,255,255)
    padding: $sizing-200 $sizing-300
    font-family: $sans
    font-weight: bold
    text-transform: uppercase

    i
      display: inline-block
      height: $sizing-200
      width: $sizing-200
      margin-right: $sizing-200
