/*

   Map

   Base:
    mp

   Elements:
    t = title
    i = intro
    sh = subheader

 */

.mp
  width: 100%
  padding-bottom: 130%

  @media $media-medium
    padding-bottom: 75%

  @media $media-large
    padding-bottom: 60%

  @media $media-xlarge
    padding-bottom: 48%

  &.is-active
    .mp-e
      display: block

    .mp-h
      display: none

    .mp-e
    .legend
    .leaflet-control
      opacity: 1

  &-e
    position: absolute
    top: 0
    right: 0
    z-index: 2
    display: none

  &-h
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2

    &-i
      background: rgb(255,255,255)
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 90%

      @media $media-medium
        width: 75%

      @media $media-large
        width: 60%

      @media $media-xlarge
        width: 48%

  .leaflet-control
  .legend
  .mp-e
    opacity: 0
    transition: all 0.2s

  .co
    position: relative
    z-index: 1000

  @media $media-large-max
    .co-b
      width: 100%

  .legend
    border-radius: 0
    color: $charles-blue
    background-color: rgb(255,255,255)
    padding: $sizing-200 $sizing-300
    font-family: $serif
    font-style: italic

    table
      margin: 0

      td
        padding: $sizing-100
        font-size: $font-300

    i
      display: inline-block
      height: $sizing-200
      width: $sizing-200
      margin-right: $sizing-200

  .map
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1

  &-st
    line-height: $line-height-300

  .leaflet-popup-content
    a
      font-size: responsive 14px 16px
      font-range: 480px 1440px
      font-family: $sans
      text-transform: uppercase
      color: $optimistic-blue

    p
      font-size: responsive 14px 16px
      font-range: 480px 1440px
      font-family: $serif
      line-height: $line-height-300
      font-style: italic

  .marker-cluster div
    color: $white
    width: 30px
    height: 30px
    font-size: responsive 12px 14px
    font-range: 480px 1440px
    font-family: $sans

  .marker-cluster-small
    background-color: rgba(40, 139, 228, 0.6)

  .marker-cluster-small div
    background-color: rgba(40, 139, 228, 0.6)

  .marker-cluster-medium
    background-color: rgba(40, 139, 228, 0.6)

  .marker-cluster-medium div
    background-color: rgba(40, 139, 228, 0.6)

  .marker-cluster-large
    background-color: rgba(40, 139, 228, 0.6)

  .marker-cluster-large div
    background-color: rgba(40, 139, 228, 0.6)
