/*

   FYI

   Base:
    hro

   Elements:
    t = title
    i = intro
    sh = subheader

   Modifier:
    d = default
    b = blank
    t = image with title
    wh = with header (adds top padding to account for fixed position headers)

 */

.hro
  text-align: center
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  position: relative

  &--wh
    padding-top: $sizing-700

  &--d
    background: repeating-linear-gradient(-45deg, #2d82cf, #2d82cf 3px, #288be4 3px, #288be4 30px)
    background-size: 42px 42px

  &--t
    &:after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: alpha($optimistic-blue, 0.6)
      z-index: 1

  &-c
    padding-top: 6%
    position: relative
    z-index: 2

    @media $media-xlarge
      padding-top: 4%

  &-i
    color: $white
    font-family: $serif
    font-size: responsive 18px 30px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-000
    padding-bottom: 1%

    @media $media-xlarge
      padding-bottom: 0.5%

    &--l
      font-size: responsive 18px 35px

  &-t
    color: $white
    font-family: $sans
    font-size: responsive 30px 75px
    font-range: 480px 1440px
    font-weight: 700
    line-height: $line-height-000
    margin: $sizing-400 0 0
    text-transform: uppercase
    padding-bottom: 1.75%

    @media $media-xlarge
      padding-bottom: 1.25%

    &--l
      font-size: responsive 35px 90px

  &-st
    color: $charles-blue
    font-family: $serif
    font-size: responsive 18px 30px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-200
    margin-bottom: $sizing-700

    &--l
      font-size: responsive 18px 35px

    &--w
      color: #ffffff
