/*

   MAIN

   Base:
    mn

 */

.mn
  background: #ffffff
  padding-top: 65px
  position: relative
  z-index: 1
  transition: left 0.2s
  left: 0
  min-width: 100%
  min-height: 100%

  &-c
    min-height: 100vh
    min-width: 100vw
