/*

   MAIN

   Base:
    mn

 */

.mn
  background: #ffffff
  padding-top: 65px
  position: relative
  z-index: 1
  transition: left 0.2s
  left: 0
  min-width: 100%
  min-height: 100%

  // takes up the full page height (minus sticky header)
  &--full
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: center

  // when secondary navigation is included
  &--nv-s
    padding-top: 119px
