/*

   MAIN

   Base:
    mn

 */

.mn {
  background: $white;
  padding-top: 65px;
  position: relative;
  z-index: 1;
  transition: left 0.2s;
  left: 0;
  min-width: 100%;
  min-height: 100%;

  &-fixed-child {
    transition: left 0.2s;
  }

  & .a11y--content-start {
    position: relative;
    top: -65px;
  }

  // takes up the full page height (minus sticky header)
  &--full {
    // We leave 64px on the bottom to accommodate the bottom toolbar on mobile
    // safari. It's assumed that the bottom footer will be below this element,
    // so it will fill in that space. It can be good on other browsers to show
    // a bit of the footer anyway.
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media #{$media-large} {
      min-height: 100vh;
    }

    // IE won't flex children to the size of a min-height'd
    // flex-direction: column element because of a bug. Wrapping
    // that element in a row-direction flex element prevents
    // the bug.
    //
    // This element should wrap "mn mn--full" elements
    &-ie {
      // must be relative so that the _menu styles can apply a left to it.
      position: relative;
      left: 0;
      transition: left 0.2s;
      display: flex;
    }

    // vertically-centered on larger screens
    &-vc {
      @media #{$media-large} {
        justify-content: center;
      }
    }
  }

  // when secondary navigation is included
  &--nv-s {
    padding-top: 119px;

    & .a11y--content-start {
      top: -119px;
    }
  }

  &--g {
    background-color: $grey-000;
  }
}
