/*

   BORDER

   Base:
    b = border-color

   Modifiers:
    crb = charles-blue
    ftr = freedom-red
    ob  = optimistic-blue

 */

.b
  &--crb
    border-color: $charles-blue

  &--ftr
    border-color: $freedom-red

  &--ob
    border-color: $optimistic-blue
