/*
   BORDER STYLES
   Base:
     b = border

   Modifiers:
     none   = none
     dotted = dotted
     dashed = dashed
     solid  = solid
 */

.b

  &--dotted
    border-style: dotted

  &--dashed
    border-style: dashed

  &--solid
    border-style: solid

  &--none
    border-style: none
