

  <label class="cb" for="checkbox-">
    <input id="checkbox-" name="public_notices" type="checkbox" value="public_notices" class="cb-f">
    <span class="cb-l">Public Notices</span>
  </label>
  <label class="cb" for="checkbox-1">
    <input id="checkbox-1" name="public_notices" type="checkbox" value="public_notices" class="cb-f">
    <span class="cb-l">Intergovernmental Relations</span>
  </label>
  <label class="cb" for="checkbox-2">
    <input id="checkbox-2" name="public_notices" type="checkbox" value="public_notices" class="cb-f">
    <span class="cb-l">Here is a really long label that will wrap at some point.</span>
  </label>

