

<form class="https://www.boston.gov" action="https://www.boston.gov" method="GET">
  <div class="fs">
    <div class="fs-c fs-c--i">
        <div class="txt">
          <label for="text" class="txt-l t--err">Your Email Address</label>
            <input id="text" type="text" value="" placeholder="Email address" class="txt-f txt-f--err">
            <div class="t--subinfo t--err m-t100">Please enter a valid email address</div>
        </div>
        <div class="txt">
          <label for="text" class="txt-l">Zip Code</label>
            <input id="text" type="text" value="" placeholder="Zip Code" class="txt-f" size="10">
        </div>
    </div>
    <div class="bc bc--r">
      <button type="submit" class="btn btn--700">Sign Up</button>
    </div>
  </div>
</form>

