

<div class="b  b--fw">
  <div class="b-c">
    <div class="sh">
      <h2 class="sh-title">Starting Transactions</h2>
    </div>
    <div class="g">
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket for Boston" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket for Boston" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket for Boston</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket for Boston" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket for Boston" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket for Boston</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket</span>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl lwi--y">
          <span class="lwi-ic"><img src="https://cdn.rawgit.com/CityOfBoston/bostonicons/master/experiential/pay_taxes.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
          <span class="lwi-t">Pay a parking ticket</span>
        </a>
    </div>
  </div>
</div>

