

<div class="b b--g b--fw">
  <div class="b-c">
    <div class="sh">
      <h2 class="sh-title">Starting Transactions</h2>
    </div>
    <div class="g">
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket for Boston" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket for Boston" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket for Boston</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket for Boston" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket for Boston" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket for Boston</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket</span>
          </div>
        </a>
        <a href="https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket" title="Pay a parking ticket" class="lwi m-t500 g--3 g--3--sl ">
          <div class="p-a300 p-a600--xl">
            <span class="lwi-ic"><img src="/images/b-dark.svg" alt="Pay a parking ticket" class="lwi-i" /></span>
            <span class="lwi-t">Pay a parking ticket</span>
          </div>
        </a>
    </div>
  </div>
</div>

