

  <style>
    .hro {
      background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_mobile_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;XzPWArjL&amp;amp;timestamp&#x3D;1469541909);
    }

    @media screen and (min-width: 768px) {
      .hro {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_tablet_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;g19HCDkD&amp;amp;timestamp&#x3D;1469541909);
      }
    }

    @media screen and (min-width: 1024px) {
      .hro {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_desktop_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;GJmuhNoE&amp;amp;timestamp&#x3D;1469541909);
      }
    }

    @media screen and (min-width: 1200px) {
      .hro {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_wide_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;nWpQdSFD&amp;amp;timestamp&#x3D;1469541909);
      }
    }
  </style>

<div class="hro hro--t">
  <div class="hro-c">
      <div class="hro-i hro-i--l">welcome to the new</div>
    <h1 class="hro-t hro-t--l">Boston.gov</h1>
        <div class="hro-st hro-st--l hro-st--w">Mayor Martin J. Walsh</div>
  </div>
</div>

