

  <style>
    @media screen and (max-width: 768px) {
      .ph-p {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_mobile_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;XzPWArjL&amp;amp;timestamp&#x3D;1469541909);
      }
    }

    @media screen and (min-width: 768px) {
      .ph-p {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_tablet_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;g19HCDkD&amp;amp;timestamp&#x3D;1469541909);
      }
    }

    @media screen and (min-width: 1024px) {
      .ph-p {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_desktop_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;GJmuhNoE&amp;amp;timestamp&#x3D;1469541909);
      }
    }

    @media screen and (min-width: 1200px) {
      .ph-p {
        background-image: url(https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_wide_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok&#x3D;nWpQdSFD&amp;amp;timestamp&#x3D;1469541909);
      }
    }
  </style>

<div class="b b--fw">
  <div class="ph">
    <div class="ph-p"></div>
  </div>
</div>

