

  <div class="sel">
    <label for="language" class="sel-l">Choose a language</label>
    <div class="sel-c">
      <select name="language" id="language" class="sel-f">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="cn">Chinese</option>
      </select>
    </div>
  </div>
  <div class="sel">
    <label for="language" class="sel-l">Choose a language</label>
    <div class="sel-c sel-c--fw">
      <select name="language" id="language" class="sel-f">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="cn">Chinese</option>
      </select>
    </div>
  </div>
  <div class="sel">
    <label for="language" class="sel-l sel-l--err">Choose a language</label>
    <div class="sel-c sel-c--fw sel-c--err">
      <select name="language" id="language" class="sel-f sel-f--err">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="cn">Chinese</option>
      </select>
    </div>
      <div class="t--subinfo t--err m-t100">Please select a language</div>
  </div>

