

<div class="b b--fw">
  <div id="vid" class="vid" style="background-image: url(/images/crispus/boston.jpg)" data-vid-id="UCImopNmmU11qfuWBbiXdowQ" data-vid-channel="true">
    <div class="vid-c">
      <div class="vid-ci">
        <div class="b-c">
          <div class="vid-t">Watch City TV</div>
          <div class="vid-st m-t300">By: <a href="https://www.boston.gov/cable" class="vid-st-a">Cable</a></div>
          <div class="vid-ic m-t300">
            <button class="vid-cta">
              <img src="/images/global/icons/play.svg" alt="Play Video" height="97" width="97" class="vid-cta-i" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

