<svg
  class="svg-date-flag date-flag"
  title="{{flags.default.date}}"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 34.08 44.31"
>
  <path
    d="M32.26,42.16l-15.3-7-15.3,7v-40h30.6Z"
    fill="#ffffff"
    stroke="#000"
    stroke-miterlimit="10"
  />
  <p
    class="svg-date-flag date-flag-text"
  >
    {{flags.default.date}}
  </p>
</svg>
