<div class="stp">
  <div class="stp-wrapper p-t500">
    <div class="stp-column">
      <div class="stp-column-label">
        <div class="stp-column--label">Step</div>
        <div class="stp-column--value">
          {{ header.number }}
        </div>
      </div>
    </div>

    <div class="stp-column-content">
      <h2 class="header-border-bottom">{{ header.title }}</h2>

      <div class="child-content">
        {{header.content}}
      </div>
    </div>
  </div>
</div>