/*

   Tabs

   Base:
    tab

   Modifier:

 */

.tab
  line-height: $line-height-000
  margin: 0 auto
  padding: 0
  text-align: center
  max-width: 66.67rem
  margin: 0 auto
  position: relative
  z-index: 2

  @media $media-large
    white-space: nowrap
    padding: 0

  @media $media-xlarge
    white-space: normal

  &-p
    display: none

  &-li
    box-sizing: border-box
    position: relative
    display: none

    &:not(:last-child)
      border-bottom: none

    @media $media-large
      display: inline-block
      border: none
      margin: 0 2px
      height: auto

    @media $media-xlarge
      display: inline-block
      border: none
      max-width: 25%

    @media $media-xxlarge
      width: 23%

    &-a
      background: $white
      color: $charles-blue
      cursor: pointer
      display: block
      font-family: $sans
      padding: $sizing-400 $sizing-300
      text-align: center
      text-decoration: none
      text-transform: uppercase
      font-size: responsive 14px 16px
      font-range: 480px 1440px
      font-weight: 500
      line-height: 1
      margin: 0
      text-overflow: ellipsis
      white-space: nowrap
      width: 100%

      @media $media-large-max
        color: $optimistic-blue
        border-bottom: 2px solid $optimistic-blue

      @media $media-large
        background: $charles-blue
        color: $optimistic-blue
        padding: $sizing-300 $sizing-500

      @media $media-xlarge
        padding: $sizing-400 $sizing-300

      &:hover
        color: $freedom-red

        @media $media-large
          color: $freedom-red

      &--c
        background-color: $freedom-red
        color: $white

        &:hover
          color: $white

    &-m
      background: $charles-blue
      color: $white
      cursor: pointer
      display: none
      font-family: $sans
      padding: $sizing-400 $sizing-300
      text-align: center
      text-decoration: none
      text-transform: uppercase
      font-size: responsive 14px 16px
      font-range: 480px 1440px
      font-weight: 500
      position: relative
      line-height: 1
      margin: 0
      white-space: nowrap

      &:after
        content: ''
        background: url(/images/global/icons/chevron.svg) no-repeat right center
        height: 20px
        width: 14px
        position: absolute
        right: $sizing-400
        top: 50%
        transform: translateY(-52%)
        transition: 0.125s all

    &-close
      display: none


// Handle the selected state of the menu
.tab-menu-ctrl
  display: none

  // Sometimes the tabs are in heros
  &:checked ~ .tab,
  &:checked ~ .hro
    & .tab-li
      @media $media-large-max
        display: block

// Handle the selected states of tabs
.tab-ctrl
  display: none

  // Here, we manage the tab state
  &-0:checked ~ .tab .tab-li-0,
  &-1:checked ~ .tab .tab-li-1,
  &-2:checked ~ .tab .tab-li-2,
  &-3:checked ~ .tab .tab-li-3,
  &-0:checked ~ .hro .tab-li-0,
  &-1:checked ~ .hro .tab-li-1,
  &-2:checked ~ .hro .tab-li-2,
  &-3:checked ~ .hro .tab-li-3
    @media $media-large-max
      display: block

    .tab-li-m
      @media $media-large-max
        display: block

  // Here, we manage the link state of each tab
  &-0:checked ~ .tab .tab-li-0,
  &-1:checked ~ .tab .tab-li-1,
  &-2:checked ~ .tab .tab-li-2,
  &-3:checked ~ .tab .tab-li-3,
  &-0:checked ~ .hro .tab-li-0,
  &-1:checked ~ .hro .tab-li-1,
  &-2:checked ~ .hro .tab-li-2,
  &-3:checked ~ .hro .tab-li-3
    .tab-li-a
      display: none

      @media $media-large-max
        &:after
          content: ''
          background: url(/images/global/icons/chevron.svg) no-repeat right center
          height: 20px
          width: 14px
          position: absolute
          right: $sizing-400
          top: 50%
          transform: translateY(-52%)
          transition: 0.125s all

      @media $media-large
        color: $charles-blue
        background-color: $white
        display: block

      &:hover
        color: $charles-blue
        background-color: $white

  // Here, we manage the state of each panel
  &-0:checked ~ .tab-pc .tab-p-0,
  &-1:checked ~ .tab-pc .tab-p-1,
  &-2:checked ~ .tab-pc .tab-p-2,
  &-3:checked ~ .tab-pc .tab-p-3
    display: block
