<div class="co">
  <input id="collapsible" type="checkbox" class="co-f d-n" aria-hidden=true>
  <label for="collapsible" class="co-t">Filter</label>
  <div class="co-b">
    The content for the collapsible goes here.
  </div>
</div>
