{{#each cards as |card|}}
  <a href="{{ card.href }}" class="lcd--mini m-t500 g--4 g--4--sl">
    <div class="lcd--mini-c">
      {{#if variant}}
        <div class="lcd--mini-im" id="{{card.variant}}"></div>
      {{/if}}
      <div class="lcd--mini-t">{{ card.title }}</div>
    </div>
  </a>
{{/each}}
