{{#each cards as |card|}}
<div class="section cd g--4 g--4--sl m-t500 cdp-l center-mnl">
  <div class="d-b bg--cb cdp-a ta-c p-a200 t--upper t--sans t--w t--ob--h t--s100">Your Mayor</div>
  <div class="cd--c" id="no-hover--cdr"><a href="https://www.boston.gov/"><img
        src="https://www.boston.gov/sites/default/files/styles/person_profile_card_173x173_/public/img/library/photos/2021/03/new-janey-headshot.jpg"
        class="cdp-i p-a100"></a>
    <div class="mnl-c-group">
      <div class="cd-st t--upper t--subtitle">Kim Janey</div>
      <div class="cdp-st" id="no-hover--cdp">Mayor</div>
    </div>
    <div class="mnl-c-group">
      <div class="cdp-st" id="no-hover--cdp">
        <div>Learn more about <a href="https://www.boston.gov/" class="mnl-link">Boston's Mayor</a>.</div>
      </div>
    </div>
  </div>
</div>
{{/each}}