cob-map {
  display: block;
}

cob-map h3 {
  /* overriding the italics that Boston.gov puts on h3s */
  font-style: inherit;
}

cob-map.leaflet-container a.leaflet-popup-close-button {
  /* By default this is too tight in the corner */
  top: 6px;
  right: 6px;
}

cob-map .cob-overlay {
  cursor: default;

  position: absolute;

  top: 1rem;
  left: 1rem;

  /*
    We give the legend a default width that can be overriden by classes or style
    attributes by the external page.
  */
  width: 60%;
  max-width: 500px;

  /* to get above the ESRI map */
  z-index: 500;
}

/* Causes the overlay element to expand to its children's vertical margin. */
cob-map .cob-overlay-content:before {
  display: table;
  content: ' ';
}
cob-map .cob-overlay-content:after {
  display: table;
  content: ' ';
  clear: both;
}

/* We set the inner margin of the contents rather than the padding so that it
disappears automatically when there's no content. */
cob-map .cob-overlay-content > * {
  margin: 1rem 1.5rem;
}

@media screen and (max-width: 839px) {
  cob-map .cob-overlay {
    top: 0;
    left: 0;

    /*
      The !importants here are to force that when we get narrow enough to do
      collapse / expand UI we go to the full width. Prevents the need for the
      width overrides for the hovering state to have their own media queries.
    */
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* This element is just inside the modal dialog box. */
cob-map .cob-map-modal-contents {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

/**
* Title bar for the modal, includes map title, address search, and close box.
*
* This is at the top of the dialog in desktop widths, and at the bottom on
* mobile.
*/
cob-map .cob-map-modal-title {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  /* We want this to be high enough so that our box shadow goes over map tiles. */
  z-index: 501;
}

/* We have a wrapper we can put padding on without growing the bottom border */
cob-map .cob-map-modal-header {
  flex-grow: 1;
}

cob-map .cob-map-modal-header .sh {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 0;

  /* section header has to be flex at all breakpoints so that the toggle arrow
  can be to the right of the title. */
  display: flex;
  align-items: center;
}

cob-map .cob-map-modal-title .sh-title {
  margin-bottom: 0;
  flex-grow: 1;
}

cob-map .cob-map-controls-checkbox {
  display: none;
}

cob-map .cob-map-controls-toggle {
  flex-shrink: 0;
  display: none;
}

cob-map .cob-map-controls-toggle svg {
  display: block;
  width: 20px;
  height: 24px;
  transform: rotate(-90deg);
  transition: transform .25s;
}

cob-map .cob-map-controls-checkbox:checked~.cob-map-modal-contents .cob-map-controls-toggle svg {
  transform: rotate(90deg);
}

cob-map .cob-map-modal-title .md-cb {
  align-self: flex-start;
  border: none;
  z-index: 1000;
  position: relative;
  flex-shrink: 0;
}

cob-map .cob-map-modal-contents .cob-map-leaflet-container {
  /* We need the map to take up all the space that the header / footer don't. */
  flex-grow: 1;
}

/* Controls is the "footer" element */
cob-map .cob-map-modal-controls {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.1);
  /* We want this to be high enough so that our box shadow goes over map tiles,
  but it has to be lower than the title so that it doesn't cover address suggestions.
  */
  z-index: 500;
}

cob-map .cob-map-modal-legend {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  /* brings this to the right, regardless of the size of the content to the
  left. */
  margin-left: auto;
  background: #f2f2f2;
  /* Keeps the container (and its cells) centered if we grow. */
  justify-content: center;
}

/* inner container is here so we can vertically center all of the legend icons,
but have their tops all align. */
cob-map .cob-map-modal-legend-cell-container {
  display: flex;
  align-items: flex-start;
}

cob-map .cob-map-modal-legend-cell {
  padding: 1rem;
  /* reliable way to get all child blocks horizontally centered */
  display: flex;
  flex-direction: column;
  align-items: center;
}

cob-map .cob-map-modal-legend-label {
  margin-top: 0.5rem;
  line-height: 1.2;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  color: #abaaab;
}

@media screen and (max-width: 479px) {
  cob-map .cob-map-modal-title {
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  /** Little hack to cover the bottom part of the box-shadow that's overlapping
   * the controls element. We only do it when expanded, though, to prevent
   * adding content offscreen. */
  cob-map .cob-map-controls-checkbox:checked~.cob-map-modal-contents .cob-map-modal-title:after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background: white;
  }

  cob-map .cob-map-controls-toggle {
    display: block;
  }

  cob-map .cob-map-modal-contents .md-cb {
    position: fixed;
  }

  /* For mobile widths, we use order to put the map first in the flex column, so
  that the title and controls come together at the bottom. */
  cob-map .cob-map-modal-contents .cob-map-leaflet-container {
    order: -1;
  }

  cob-map .cob-address-search-field-container {
    /* The search field is in the title box, not the controls box, so it needs
    its own hide/show when at mobile breakpoints. */
    display: none;
    margin-bottom: 1rem;
  }

  cob-map .cob-map-controls-checkbox:checked~.cob-map-modal-contents .cob-address-search-field-container {
    /* The address search box is small enough that it's ok that we don't animate
    it the way we animate the bottom controls. */
    display: block;
  }

  cob-map .cob-map-modal-controls {
    box-shadow: none;
    flex-direction: column;
    align-items: stretch;
    /* The old "we can't animate to an intristic height so let's cheat with
    max-height" trick. */
    max-height: 0;
    transition: max-height 0.25s;
    overflow-y: auto;
  }

  cob-map .cob-map-controls-checkbox:checked~.cob-map-modal-contents .cob-map-modal-controls {
    max-height: 60vh;
  }

  cob-map .cob-map-modal-instructions {
    padding-top: 0;
  }

  cob-map .cob-map-modal-legend {
    /* we undo how this was pushed to the right on desktop. */
    margin: 0;
  }
}

cob-map svg {
  width: initial;
  height: initial;
}

cob-map .geocoder-control-suggestions {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  display: none;

  /* Need to get above the modal header / footer */
  z-index: 502;

  border: none !important;
  border-radius: 0;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65) !important;
}

cob-map .geocoder-control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

cob-map .geocoder-control-suggestions .geocoder-control-suggestion {
  font-size: 18px;
  padding: 7px;
  margin-bottom: 0;
  background: white;
  border-top: 1px solid #f1f1f1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  font-style: italic;
  font-family: Lora, serif;
}

cob-map .geocoder-control-suggestions .geocoder-control-suggestion:first-child {
  border: none;
}

cob-map
  .geocoder-control-suggestions
  .geocoder-control-suggestion.geocoder-control-selected,
cob-map .geocoder-control-suggestions .geocoder-control-suggestion:hover {
  background: #d2d2d2;
  border-color: #d2d2d2;
}

cob-map .cob-overlay-content .sf-i-b {
  /* clicking the icon doesn't do a search, so don't make it look like it does */
  cursor: default;
}

cob-map .cob-popup-loading {
  width: 100px;
  height: 100px;
  /* using background for the icon because the experiental icons have a lot of
     unnecessary horizontal padding */
  background: url(https://patterns.boston.gov/images/global/icons/experiential/map.svg)
    center no-repeat;
  background-size: 200%;
}

cob-map .cob-legend-table-row {
  display: flex;
  align-items: center;
}

cob-map .cob-legend-table-icon img,
cob-map .cob-map-modal-legend-icon img {
  display: block;
}

cob-map .cob-legend-table-label {
  flex: 1;
  line-height: 1.2;
  margin-top: -3px;
  margin-left: 0.5rem;
}

cob-map .marker-cluster-small {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-small div {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-medium {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-medium div {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-large {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-large div {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

cob-map .marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;

  font-weight: bold;
  color: white;
}

.marker-cluster span {
  line-height: 30px;
}
