cob-map {
  display: block;
}

cob-map h3 {
  /* overriding the italics that Boston.gov puts on h3s */
  font-style: inherit;
}

cob-map .leaflet-container .leaflet-popup-content-wrapper {
  border-radius: 0;
}

cob-map .leaflet-container a.leaflet-popup-close-button {
  /* By default this is too tight in the corner */
  top: 6px;
  right: 6px;
}

/* This element is just inside the modal dialog box. */
cob-map .cob-map-modal-contents {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

/* Invisible full-screen wrapper so we can vertical / horizontal center using flex */
cob-map .cob-map-dialog {
  position: absolute;
  z-index: 1000;

  width: 100%;
  height: 100%;
  padding: 1rem;

  /* So it doesn’t prevent other interactions */
  pointer-events: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

cob-map .cob-map-dialog-contents {
  /* Override so we can click on buttons */
  pointer-events: all;

  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

  position: relative;
  top: -2rem;
  min-width: 60%;
  max-width: 50rem;
}

/**
* Title bar for the modal, includes map title, address search, and close box.
*
* This is at the top of the dialog in desktop widths, and at the bottom on
* mobile.
*/
cob-map .cob-map-modal-title {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  /* We want this to be high enough so that our box shadow goes over map tiles. */
  z-index: 501;
}

/* We have a wrapper we can put padding on without growing the bottom border */
cob-map .cob-map-modal-header {
  flex-grow: 1;
  /* overwrites boston.gov style */
  margin: 0;
}

cob-map .cob-map-modal-header .sh {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-width: 0;

  /* section header has to be flex at all breakpoints so that the toggle arrow
  can be to the right of the title. */
  display: flex;
  align-items: center;
}

cob-map .cob-map-modal-title .sh-title {
  margin-bottom: 0;
  flex-grow: 1;
}

cob-map .cob-map-controls-checkbox {
  display: none;
}

cob-map .cob-map-controls-toggle {
  flex-shrink: 0;
  display: none;
}

cob-map .cob-map-controls-toggle svg {
  display: block;
  width: 20px;
  height: 24px;
  transform: rotate(-90deg);
  transition: transform 0.25s;
}

cob-map
  .cob-map-controls-checkbox:checked
  ~ .cob-map-modal-contents
  .cob-map-controls-toggle
  svg {
  transform: rotate(90deg);
}

/* When these are used in popups we want to tweak them to keep the titles from
overlapping the content. */
cob-map .leaflet-popup .dl-t {
  width: auto;
  min-width: 20%;
  padding-right: 0.5em;
}

cob-map .leaflet-popup .dl-d {
  width: auto;
  max-width: 80%;
}

cob-map .cob-map-modal-title .md-cb {
  align-self: flex-start;
  border: none;
  z-index: 1000;
  position: relative;
  flex-shrink: 0;
  /* Overwrites a Boston.gov style */
  margin-top: 0;
}

cob-map .cob-map-modal-contents .cob-map-leaflet-container {
  /* We need the map to take up all the space that the header / footer don't. */
  flex-grow: 1;
}

/* Controls is the "footer" element */
cob-map .cob-map-modal-controls {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.1);
  /* We want this to be high enough so that our box shadow goes over map tiles,
  but it has to be lower than the title so that it doesn't cover address suggestions.
  */
  z-index: 500;
}

cob-map .cob-map-modal-filters {
  display: flex;
}

cob-map .cob-map-modal-filter {
  margin: 0 1rem 0 0;
}

cob-map .cob-map-modal-legend {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  /* brings this to the right, regardless of the size of the content to the
  left. */
  margin-left: auto;
  background: #f2f2f2;
  /* Keeps the container (and its cells) centered if we grow. */
  justify-content: center;
}

cob-map .cob-map-modal-legend.cob-map-modal-legend-fill {
  margin-left: 0;
  flex-grow: 1;
}


/* inner container is here so we can vertically center all of the legend icons,
but have their tops all align. */
cob-map .cob-map-modal-legend-cell-container {
  display: flex;
  align-items: flex-start;
}

cob-map .cob-map-modal-legend-cell {
  padding: 1rem;
  /* reliable way to get all child blocks horizontally centered */
  display: flex;
  flex-direction: column;
  align-items: center;
}

cob-map .cob-map-modal-legend-label {
  margin-top: 0.5rem;
  line-height: 1.2;
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  color: #abaaab;
}

cob-map .cob-map-modal-legend-icon img {
  display: block;
}

/**
 * The responsive version of the map. We move the title and address search to a
 * togglable element at the bottom of the screen.
 */
@media screen and (max-width: 767px) {
  cob-map .cob-map-modal-title {
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.1);
  }

  /** Little hack to cover the bottom part of the box-shadow that's overlapping
   * the controls element. We only do it when expanded, though, to prevent
   * adding content offscreen. */
  cob-map
    .cob-map-controls-checkbox:checked
    ~ .cob-map-modal-contents
    .cob-map-modal-title:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background: white;
  }

  cob-map .cob-map-controls-toggle {
    display: block;
  }

  cob-map .cob-map-modal-contents .md-cb {
    position: fixed;
  }

  /* For mobile widths, we use order to put the map first in the flex column, so
  that the title and controls come together at the bottom. */
  cob-map .cob-map-modal-contents .cob-map-leaflet-container {
    order: -1;
  }

  cob-map .cob-address-search-field-container {
    /* The search field is in the title box, not the controls box, so it needs
    its own hide/show when at mobile breakpoints. */
    display: none;
    margin-bottom: 1rem;
  }

  cob-map
    .cob-map-controls-checkbox:checked
    ~ .cob-map-modal-contents
    .cob-address-search-field-container {
    /* The address search box is small enough that it's ok that we don't animate
    it the way we animate the bottom controls. */
    display: block;
  }

  cob-map .cob-map-modal-controls {
    box-shadow: none;
    flex-direction: column;
    align-items: stretch;
    /* The old "we can't animate to an intristic height so let's cheat with
    max-height" trick. */
    max-height: 0;
    transition: max-height 0.25s;
    overflow-y: auto;
  }

  cob-map
    .cob-map-controls-checkbox:checked
    ~ .cob-map-modal-contents
    .cob-map-modal-controls {
    max-height: 60vh;
  }


  cob-map .cob-map-modal-instructions {
    padding-top: 0;
  }

  cob-map .cob-map-modal-filters {
    flex-direction: column;
    padding-top: 0;
  }

  cob-map .cob-map-modal-filter {
    margin: 0 0 0.75rem;
  }

  cob-map .cob-map-modal-legend {
    /* we undo how this was pushed to the right on desktop. */
    margin: 0;
  }
}

cob-map .geocoder-control-suggestions {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  display: none;

  /* Need to get above the modal header / footer */
  z-index: 502;

  border: none !important;
  border-radius: 0;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65) !important;
}

cob-map .geocoder-control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

cob-map .geocoder-control-suggestions .geocoder-control-suggestion {
  font-size: 18px;
  padding: 7px;
  margin-bottom: 0;
  background: white;
  border-top: 1px solid #f1f1f1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  font-style: italic;
  font-family: Lora, serif;
}

cob-map .geocoder-control-suggestions .geocoder-control-suggestion:first-child {
  border: none;
}

cob-map
  .geocoder-control-suggestions
  .geocoder-control-suggestion.geocoder-control-selected,
cob-map .geocoder-control-suggestions .geocoder-control-suggestion:hover {
  background: #d2d2d2;
  border-color: #d2d2d2;
}

cob-map .cob-popup-loading {
  width: 100px;
  height: 100px;
  /* using background for the icon because the experiental icons have a lot of
     unnecessary horizontal padding */
  background: url(https://patterns.boston.gov/images/global/icons/experiential/map.svg)
    center no-repeat;
  background-size: 200%;
}

/* These colors are all overriding defaults from the marker-cluster codebase */

cob-map .marker-cluster-small {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-small div {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-medium {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-medium div {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-large {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster-large div {
  background-color: rgba(40, 139, 228, 0.6);
}

cob-map .marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

cob-map .marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;

  font-weight: bold;
  color: white;
}

cob-map .marker-cluster span {
  line-height: 30px;
}
