<input id="bwarning-cb" type="checkbox" class="bwarning-cb" checked />
<div class="bwarning-b">
  <label for="bwarning-cb" class="bwarning-x">x</label>
  <h3 class="txt-l txt-l--mt000">Browser Warning</h3>
  You have JavaScript turned off in your browser. This site won’t work
  right without it.
</div>
