<cob-map
  title="{{title}}"
  style="height: 500px"
  latitude="42.347316"
  longitude="-71.065227"
  zoom="12"
  show-zoom-control
  show-legend{{#if show_address_search}}
  show-address-search{{/if}}{{#if open_overlay}}
  open-overlay{{/if}}>
  <cob-map-esri-layer url="https://services.arcgis.com/sFnw0xNflSi8J0uh/arcgis/rest/services/City_Council_Districts/FeatureServer/0"
    color="#0C2639" hover-color="#FB4D42" title="Boston City Council districts" interactive></cob-map-esri-layer>
  <cob-map-esri-layer url="https://services.arcgis.com/sFnw0xNflSi8J0uh/arcgis/rest/services/SnowParking/FeatureServer/0"
    icon-src="/images/global/icons/mapping/parking.svg" title="Snow Emergency Parking Lots"></cob-map-esri-layer>
{{#unless show_address_search}}  <div class="t--info" slot="instructions">
    <p class="m-t000">Hover over and click on your district to find your councilor, or search your address.</p>
    <p>To see all City Council members, including at-large councilors, visit the
      <a target="_blank" href="https://www.boston.gov/departments/city-council#city-council-members">City Council page.</a>
    </p>
  </div>
{{/unless}}</cob-map>
