/*

   BACKGROUNDS

   Base:
    bg

   Modifier:
    cb = Charles Blue

 */

.bg {
  &--cb {
    background-color: $charles-blue;
  }

  &--g100 {
    background-color: $grey-100;
  }

  &--g200 {
    background-color: $grey-200;
  }

  &--g300 {
    background-color: $grey-300;
  }
}
