html, body
  background: white
  margin: 0
  padding: 0
  color: #58585B
  font-family: "Lora", serif
  scroll-padding-top: 5.625rem

.no-s
  overflow: hidden

.sr-only
    position:absolute
    left:-10000px
    top:auto
    width:1px
    height:1px
    overflow:hidden
