.br
  border: $border-000 solid $charles-blue

  &-t100
    border-top-width: $border-100

  &-t200
    border-top-width: $border-200

  &-t300
    border-top-width: $border-300

  &-t400
    border-top-width: $border-400

  &--y
    border-color: $yellow
