/*

   HEADINGS

    - Our headings should be free of styles, so that they can be
      used semantically in the correct locations. Thanks @minamarkham.

*/

h1, h2, h3, h4, h5, h6
  font-weight: 300
  font-size: 1rem
  margin: 0

.h2
  color: $charles-blue
  font-family: $sans
  font-size: responsive 20px 45px
  font-range: 480px 1440px
  font-weight: 700
  line-height: $line-height-000
  margin: 0
