.lnk
  color: $optimistic-blue

  button&
    font-family: inherit
    font-size: inherit
    font-style: inherit
    line-height: inherit
    display: inline
    height: auto
    overflow: visible
    border: none
    padding: 0
    margin: 0
    background: transparent
    cursor: pointer

  &:link
    color: $optimistic-blue

  &:visited
    color: $optimistic-blue

  &:hover
    color: $freedom-red

  &--white
    color: $white

    &:link
      color: $white

    &:visited
      color: $white

    &:hover
      color: $freedom-red

  &--yellow
    color: $yellow

    &:link
      color: $yellow

    &:visited
      color: $yellow

    &:hover
      color: $white
