.lnk
  color: $optimistic-blue

  &:hover
    color: $freedom-red

  &--yellow
    color: $yellow

    &:link
      color: $yellow

    &:visited
      color: $yellow

    &:hover
      color: $white
