.lnk
  color: $optimistic-blue-dark

  button&
    font-family: inherit
    font-size: inherit
    font-style: inherit
    line-height: inherit
    display: inline
    height: auto
    overflow: visible
    border: none
    padding: 0
    margin: 0
    background: transparent
    cursor: pointer

  &:link
    color: $optimistic-blue-dark

  &:visited
    color: $optimistic-blue-dark

  &:hover, &:focus
    color: $freedom-red-light

  &--white
    color: $white

    &:link
      color: $white

    &:visited
      color: $white

    &:hover, &:focus
      color: $freedom-red-light

  &--yellow
    color: $yellow !important

    &:link
      color: $yellow

    &:visited
      color: $yellow

    &:hover, &:focus
      color: $white
