.ul
  list-style: none
  padding: 0 0 0 $sizing-600
  margin: 0

  & > li
    padding: 0
    margin: 0
    background: none

    &:before
      content: ''
      border-color: transparent $charles-blue
      border-style: solid
      border-width: $border-300 0 $border-300 $border-400
      display: inline-block
      height: 0
      width: 0
      vertical-align: middle
      margin-left: -($border-400 + $sizing-200)
      margin-right: $sizing-200
      // compensates a bit for descenders to line us up centered with the text
      margin-bottom: 0.15em

.ol
  list-style: none
  padding: 0 0 0 $sizing-600
  margin: 0