// Paddings
.p
  &-a300
    padding: $sizing-300

  &-a400
    padding: $sizing-400

  &-a500
    padding: $sizing-500

  &-a800--xl
    @media $media-xlarge
      padding: $sizing-800
      
  // Vertical paddings
  &-v200
    padding-top: $sizing-200
    padding-bottom: $sizing-200

  &-v300
    padding-top: $sizing-300
    padding-bottom: $sizing-300

  &-v400
    padding-top: $sizing-400
    padding-bottom: $sizing-400

  // Horizontal paddings
  &-h100
    @media $media-small
      padding-left: 5%
      padding-right: 5%

  &-h200
    @media $media-small
      padding-left: 10%
      padding-right: 10%

  &-h300
    @media $media-small
      padding-left: 20%
      padding-right: 20%

  &-t300
    @media $media-small
      padding-top: $sizing-300

  &-t400
    @media $media-small
      padding-top: $sizing-400

  &-t500
    @media $media-small
      padding-top: $sizing-500

// Margins
.m
  &-h100
    @media $media-small
      margin-left: 5%
      margin-right: 5%

  &-h200
    @media $media-small
      margin-left: 10%
      margin-right: 10%

  &-h300
    @media $media-small
      margin-left: 20%
      margin-right: 20%

  &-h400
    @media $media-small
      margin-left: 30%
      margin-right: 30%

  // Vertical
  &-v100
    margin-top: $sizing-100
    margin-bottom: $sizing-100

  &-v200
    margin-top: $sizing-200
    margin-bottom: $sizing-200

  &-v300
    margin-top: $sizing-300
    margin-bottom: $sizing-300

  &-v400
    margin-top: $sizing-400
    margin-bottom: $sizing-400

  &-v500
    margin-top: $sizing-300
    margin-bottom: $sizing-300

    @media $media-small
      margin-top: $sizing-500
      margin-bottom: $sizing-500

  // Bottom
  &-b200
    margin-bottom: $sizing-200

  &-b300
    margin-bottom: $sizing-300

  // Top
  &-t000
    margin-top: 0

  &-t100
    margin-top: $sizing-100

  &-t200
    margin-top: $sizing-200

  &-t300
    margin-top: $sizing-300

  &-t400
    margin-top: $sizing-400

  &-t500
    margin-top: $sizing-500
