// Paddings
.p
  // Vertical paddings
  &-v000
    padding-top: $sizing-000
    padding-bottom: $sizing-000

  &-v100
    padding-top: $sizing-100
    padding-bottom: $sizing-100

  &-v200
    padding-top: $sizing-200
    padding-bottom: $sizing-200

  &-v300
    padding-top: $sizing-300
    padding-bottom: $sizing-300

  &-v400
    padding-top: $sizing-400
    padding-bottom: $sizing-400

  &-v500
    padding-top: $sizing-500
    padding-bottom: $sizing-500

  &-v600
    padding-top: $sizing-600
    padding-bottom: $sizing-600

  &-v700
    padding-top: $sizing-700
    padding-bottom: $sizing-700

  // Horizontal paddings
  &-h000
    padding-left: 2%
    padding-right: 2%

  &-h100
    padding-left: 5%
    padding-right: 5%

  &-h200
    padding-left: 10%
    padding-right: 10%

  &-h300
    padding-left: 20%
    padding-right: 20%

  // Top
  &-t000
    padding-top: $sizing-000

  &-t100
    padding-top: $sizing-300

  &-t200
    padding-top: $sizing-300

  &-t300
    padding-top: $sizing-300

  &-t400
    @media $media-small
      padding-top: $sizing-400

  &-t500
    @media $media-small
      padding-top: $sizing-500

    @media $media-small-max
      &--so
        padding-top: $sizing-500

    @media $media-medium-max
      &--mo
        padding-top: $sizing-500

  &-t600
    padding-top: $sizing-600

  &-t700
    padding-top: $sizing-700

  // Bottom
  &-b000
    padding-bottom: $sizing-000

  &-b100
    padding-bottom: $sizing-100

  &-b200
    padding-bottom: $sizing-200

  &-b300
    padding-bottom: $sizing-300

  &-b400
    padding-bottom: $sizing-400

  &-b500
    padding-bottom: $sizing-500
  
  &-b600
    padding-bottom: $sizing-600

  &-b700
    padding-bottom: $sizing-700

  // Right
  &-r000
    padding-right: $sizing-000

  &-r100
    padding-right: $sizing-100
  
  &-r200
    padding-right: $sizing-200

  &-r300
    padding-right: $sizing-300

  &-r400
    padding-right: $sizing-400

  &-r500
    padding-right: $sizing-500

  &-r600
    padding-right: $sizing-600

  &-r700
    padding-right: $sizing-700

  // All paddings
  &-a000
    padding: 0

    @media $media-small
      &--s
        padding: 0

  &-a100
    padding: $sizing-100

  &-a200
    padding: $sizing-200

  &-a300
    padding: $sizing-300

    &--xl
      @media $media-xlarge
        padding: $sizing-300

  &-a400
    padding: $sizing-400

    &--xl
      @media $media-xlarge
        padding: $sizing-400

  &-a500
    padding: $sizing-500

    &--xl
      @media $media-xlarge
        padding: $sizing-500

  &-a600
    padding: $sizing-600

    &--xl
      @media $media-xlarge
        padding: $sizing-600

  &-a700
    padding: $sizing-700

  &-a800
    padding: $sizing-800

    &--xl
      @media $media-xlarge
        padding: $sizing-800

// Margins
.m
  &-h000
    @media $media-small
      margin-left: 2.5%
      margin-right: 2.5%

  &-h100
    @media $media-small
      margin-left: 5%
      margin-right: 5%

  &-h200
    @media $media-small
      margin-left: 10%
      margin-right: 10%

  &-h300
    @media $media-small
      margin-left: 20%
      margin-right: 20%

  &-h400
    @media $media-small
      margin-left: 30%
      margin-right: 30%

  // Vertical
  &-v000
    margin-top: $sizing-000
    margin-bottom: $sizing-000

  &-v100
    margin-top: $sizing-100
    margin-bottom: $sizing-100

  &-v200
    margin-top: $sizing-200
    margin-bottom: $sizing-200

  &-v300
    margin-top: $sizing-300
    margin-bottom: $sizing-300

  &-v400
    margin-top: $sizing-400
    margin-bottom: $sizing-400

  &-v500
    margin-top: $sizing-300
    margin-bottom: $sizing-300

    @media $media-small
      margin-top: $sizing-500
      margin-bottom: $sizing-500

  &-v600
    margin-top: $sizing-600
    margin-bottom: $sizing-600

  &-v700
    margin-top: $sizing-700
    margin-bottom: $sizing-700

  // Bottom
  &-b000
    margin-bottom: 0

    &--s
      margin-bottom: 0

  &-b100
    margin-bottom: $sizing-100

  &-b200
    margin-bottom: $sizing-200

  &-b300
    margin-bottom: $sizing-300

    @media $media-small-max
      &--so
        margin-bottom: $sizing-300

    @media $media-medium-max
      &--mo
        margin-bottom: $sizing-300

    @media $media-large-max
      &--mo
        margin-bottom: $sizing-300
  
  &-b400
    margin-bottom: $sizing-400

  &-b500
    margin-bottom: $sizing-500

    @media $media-large
      &--l
        margin-bottom: $sizing-500

    @media $media-xlarge
      &--xl
        margin-bottom: $sizing-500

  &-b600
    margin-bottom: $sizing-600

  &-b700
    margin-bottom: $sizing-700

  // Top
  &-t000
    margin-top: 0

    @media $media-small
      &--s
        margin-top: 0

    @media $media-medium
      &--m
        margin-top: 0

    @media $media-large
      &--l
        margin-top: 0

  &-t100
    margin-top: $sizing-100

  &-t200
    margin-top: $sizing-200

    @media $media-xlarge
      &--xl
        margin-top: $sizing200

  &-t300
    margin-top: $sizing-300

    // Top margin only on mobile
    &--mo
      @media $media-small
        margin-top: 0

    @media $media-xlarge
      &--xl
        margin-top: $sizing-300

  &-t400
    margin-top: $sizing-400

    @media $media-xlarge
      &--xl
        margin-top: $sizing-400

  &-t500
    margin-top: $sizing-500

    &--m
      @media $media-medium
        margin-top: $sizing-500

  &-t600
    margin-top: $sizing-600

  &-t700
    margin-top: $sizing-700

  // left
  &-lAAA
    @media $media-small
      margin-left: auto
  
  &-l000
    margin-top: $sizing-000

  &-l100
    margin-left: $sizing-100

  &-l200
    margin-left: $sizing-200

  &-l300
    margin-left: $sizing-300

  &-l400
    margin-left: $sizing-400
  
  &-l500
    margin-top: $sizing-000

  &-l600
    margin-top: $sizing-000

  &-l700
    margin-top: $sizing-000

  // right
  &-rAAA
    @media $media-small
      margin-right: auto

  &-r000
    margin-right: $sizing-000

  &-r100
    margin-right: $sizing-100

  &-r200
    margin-right: $sizing-200

  &-r300
    margin-right: $sizing-300

  &-r400
    margin-right: $sizing-400

  &-r500
    margin-right: $sizing-500

  &-r600
    margin-right: $sizing-600

  &-r700
    margin-right: $sizing-700
