// Text
.t
  &--intro
    color: $charles-blue
    font-family: $serif
    font-size: responsive 18px 30px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-300

  &--info
    color: $charles-blue
    font-family: $serif
    font-size: responsive 16px 20px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-300

  // starts smaller than --info but has responsive font sizing so it doesn't
  // end up bigger on mobile.
  &--subinfo
    color: $charles-blue
    font-family: $serif
    font-size: responsive 14px 16px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-300

  &--subtitle
    color: $charles-blue
    font-family: $sans
    font-style: normal
    font-size: responsive 12px 14px
    font-range: 480px 1440px
    letter-spacing: 0.58px
    line-height: $line-height-200

  &--number
    color: $charles-blue
    font-family: $sans
    font-style: normal

  &--sans
    font-family: $sans

  &--upper
    text-transform: uppercase

  &--ellipsis
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  &--req
    font-weight: 300
    font-family: $serif
    font-style: italic
    letter-spacing: 0
    color: $freedom-red
    text-transform: none

  &--legal
    color: $grey-200
    font-family: $sans
    font-size: responsive 12px 14px
    font-range: 480px 1440px
    font-weight: 300

  // Text colors
  &--err
    color: $freedom-red

  &--b
    color: $black

  &--cb
    color: $charles-blue

    &--h
      &:hover
      &:link:hover
        color: $charles-blue
        
  &--ob
    color: $optimistic-blue

    &--h
      &:hover
      &:link:hover
        color: $optimistic-blue

  &--w
    color: $white

    &:link
      color: $white

    &--h
      &:hover
        color: $white

  &--g300
    color: $grey-300

  // Text sizing
  &--s100
    font-size: responsive $font-100 $font-200
    font-range: 480px 1440px

  &--s300
    font-size: responsive $font-200 $font-300
    font-range: 480px 1440px

  &--s400
    font-size: responsive $font-300 $font-400
    font-range: 480px 1440px

  &--s500
    font-size: responsive $font-400 $font-500
    font-range: 480px 1440px

// Text-alignment
.ta
  &-c
  &--c
    text-align: center

// Text-transforms
.tt
  &-u
    text-transform: uppercase

  &-n
    text-transform: none
