// Text
.t
  &--intro
    font-family: $serif
    font-size: responsive 18px 30px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-300


// Text-alignment
.ta
  &-c
    text-align: center

// Text-transforms
.tt
  &-u
    text-transform: uppercase
