// Text
.t
  &--intro
    color: $charles-blue
    font-family: $serif
    font-size: responsive 18px 30px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-300

  &--info
    color: $charles-blue
    font-family: $serif
    font-size: responsive 12px 20px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-300

  &--subtitle
    color: $charles-blue
    font-family: $sans
    font-style: normal
    font-size: responsive 12px 14px
    font-range: 480px 1440px
    letter-spacing: 0.58px
    line-height: $line-height-200

  &--number
    color: $charles-blue
    font-family: $sans
    font-style: normal

  &--sans
    font-family: $sans

  &--upper
    text-transform: uppercase

  &--ellipsis
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

// Text-alignment
.ta
  &-c
    text-align: center

// Text-transforms
.tt
  &-u
    text-transform: uppercase

  &-n
    text-transform: none
