*
  box-sizing: border-box

img
  border: 0

.d
  &-n
    display: none

.hr
  background: none
  border: none

  &--sq
    height: 7px
    background: url(../images/squiggle.svg) repeat-x center
    background-size: contain

// Hide things only at tablet and above
.tablet
  @media $media-medium
    &--hidden
      display: none

// Accessibility helpers
.a11y
  &--h
    display: block
    height: 1px
    width: 1px
    position: absolute
    overflow: hidden
    top: -100px
