/*

   FONT SIZE

   Base:
    f

 */

.f
  &--0
    font-size: 1rem

  &--1
    font-size: 1.5rem

  &--2
    font-size: 1.66667rem

  &--3
    font-size: 2.5rem

  &--5
    font-size: 2.8125rem

  &--8
    font-size: 6.11111rem

  @media (max-width: 750px)

    &--8
      font-size: 4.11111rem

  @media (max-width: 390px)

    &--8
      font-size: 3.11111rem
