<style>
  @media all and (min-width: 1200px) {
    #hero_image {
      background-image:
        linear-gradient(rgba(10, 154, 255, 0.5), rgba(10, 154, 255, 0.5)),
        url('https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_wide_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok=nWpQdSFD&amp;timestamp=1469541909');
    }
  }
  @media all and (min-width: 800px) and (max-width: 1199px) {
    #hero_image {
      background-image:
      linear-gradient(rgba(10, 154, 255, 0.5), rgba(10, 154, 255, 0.5)),
      url('https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_desktop_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok=GJmuhNoE&amp;timestamp=1469541909');
    }
  }
  @media all and (min-width: 550px) and (max-width: 799px) {
    #hero_image {
      background-image:
        linear-gradient(rgba(10, 154, 255, 0.5), rgba(10, 154, 255, 0.5)),
        url('https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_tablet_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok=g19HCDkD&amp;timestamp=1469541909');
    }
  }
  @media all and (max-width: 549px) {
    #hero_image {
      background-image:
        linear-gradient(rgba(10, 154, 255, 0.5), rgba(10, 154, 255, 0.5)),
        url('https://www.boston.gov/sites/default/files/styles/rep_wide_2000x700custom_boston_tablet_1x/public/hero-image-07-2016/25832647073_167d235f54_o.jpg?itok=g19HCDkD&amp;timestamp=1469541909');
    }
  }
</style>
<div id="hero_image" class="d--f fd--c jc--c p-b--7 po--r ta--c h-n--xl">
  <div class="c--w">
    <div class="f--2 f--i">{{ intro }}</div>
    <h1 class="m-t--0 m-b--0 f--8 f--ss tt--u">{{ title }}</h1>
  </div>
  <div class="bg-c--crb po--a po-b--0 po-h--c w--7 h--7">
    <img src="https://www.boston.gov/sites/all/themes/custom/boston/dist/img/b-logo-light.svg" alt="B Logo" class="po--a po-a--c h-p--65">
  </div>
</div>
