{{#each cards as |card|}}
  <a href="{{ card.href }}" class="evt {{#if card.grid}} m-t500 {{card.grid}}{{/if}} {{#../theme}} evt--{{this}}{{/../theme}}">
    <div class="evt-c">
      <div class="evt-t">{{ card.title }}</div>
    </div>
      <svg class="svg-date-flag {{#if card.grid}} evt-date-flag{{/if}}" style="width:90px;" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.08 44.31"><path d="M32.26,42.16l-15.3-7-15.3,7v-40h30.6Z" fill="#288be4" stroke="#000" stroke-miterlimit="10"/></svg>
      <p class="svg-date-flag {{#if card.grid}} evt-date-flag{{/if}} date-flag-text">Nov 20</p>
  </a>
{{/each}}
 
