/*

   Checkboxes

   Base:
    btn

   Modifier:
    c = charles blue
    sb = small block (becomes block on small screens)

 */

.btn
  background-color: $optimistic-blue
  color: $white
  font-family: $sans
  line-height: 1
  padding: $sizing-300 $sizing-400
  text-transform: uppercase

  &:hover
    background-color: $freedom-red

  &--c
    background-color: $charles-blue !important

  &--sb
    margin-top: 0.5rem

    @media $media-xlarge
      margin-top: 0
