/*

   Checkboxes

   Base:
    btn

   Modifier:
    c = charles blue
    sb = small block (becomes block on small screens)

 */

.btn
  background-color: $optimistic-blue
  color: $white
  font-family: $sans
  font-size: $font-200
  font-weight: 700
  letter-spacing: 1px
  line-height: 1
  padding: $sizing-300 $sizing-500
  text-transform: uppercase
  text-decoration: none
  border: none
  cursor: pointer

  &:hover
    background-color: $freedom-red

  &:disabled
    cursor: default
    background-color: $grey-300

    &:hover
      background-color: $grey-300

  &--ib
    display: inline-block

  &--c
    background-color: $charles-blue

  &--y
    background-color: $yellow

    &:hover
      background-color: $yellow-hover

  &--sb
    margin-top: 0.5rem

    @media $media-xlarge
      margin-top: 0
