/*

   Checkboxes

   Base:
    cb

   Elements:
    l = label
    f = field

   Modifier:
    None Yet

 */

.cb
  align-items: center
  display: flex
  margin: 0
  position: relative

  &:not(:last-child)
    margin: 0 0 $sizing-200

  &-f
    height: 35px
    margin: 0
    padding: 0
    width: 35px
    align-self: flex-start

    @media $media-medium
      height: 42px
      width: 42px

    &:before
      content: ""
      display: block
      height: 35px
      width: 35px
      background-color: #ffffff
      border: 3px solid $charles-blue
      box-sizing: border-box
      position: absolute
      top: 0
      left: 0

      @media $media-medium
        height: 42px
        width: 42px

    &:checked
      &:before
        background: #ffffff $check no-repeat center

    &:focus
      &:before
        box-shadow: 0 0 0 3px $optimistic-blue

    &[type=checkbox]
      display: block
      // hides the button on iOS
      background: none
      -webkit-appearance: none

  &-l
    color: $charles-blue
    font-family: $serif
    font-size: responsive 16px 20px
    font-range: 480px 1440px
    line-height: 1.4
    margin-left: 7px
    width: calc(100% - 42px)

    @media $media-medium
      margin-left: 15px

    @media $media-large
      // Helps to make sure we're centered at larger font sizes
      margin-top: -.1em
