/*

   Multi Option

   This element is used when there are large lists to select from

   Base:
    mo

   Modifier:
    i = fields inline

 */

.prg
  position: relative
  width: 100%

  &-prgbar progress
    margin:1rem 0 0.25rem
    width:100%
    height:1rem
    border:2px solid $charles-blue;
    background-color:#fff
  
  &-prgbar progress::-webkit-progress-bar
    background-color:#fff
  
  &-prgbar progress::-webkit-progress-value
    -webkit-transition:width 0.5s
    transition:width 0.5s
    background-color: $optimistic-blue-light
  
  &-prgbar progress::-moz-progress-bar
    background-color: $optimistic-blue-light
  
  &-prgbar progress::-ms-fill
    background-color: $optimistic-blue-light
  
  &-s
    font-style:italic
    display: block
