/*

   Select Box

   Base:
     sel

   Elements:
    l = label
    f = field

   Modifier:
    None Yet

 */

.sel
  &-c
    display: inline-block
    position: relative

    &:after
      content: ' '
      position: absolute
      z-index: 1
      pointer-events: none
      top: $border-200
      bottom: $border-200
      right: $border-200
      border-left: $border-200 solid $charles-blue
      background: $optimistic-blue
      width: 60px
      background-image: url(../images/global/icons/chevron-down.svg)
      background-repeat: no-repeat
      background-position: center
      background-size: 20px

    &--err:after
      border-color: $freedom-red

    &--fw
      width: 100%

  &-f
    background-color: $white
    border: $border-200 solid $charles-blue
    border-radius: 0
    display: inline-block
    font: inherit
    font-size: inherit
    line-height: $line-height-000
    padding: 0.5em 3.5em 0.5em 1em
    padding: $sizing-400 85px $sizing-400 $sizing-300
    width: 100%

    margin: 0
    box-sizing: border-box
    appearance: none

    &--sm
      padding-top: $sizing-300
      padding-bottom: $sizing-300
      line-height: $line-height-200

    &--err
      border-color: $freedom-red
      color: $freedom-red

    &:focus
      box-shadow: 0 0 0 3px $optimistic-blue

  &-l
    color: $charles-blue
    font-family: $sans
    font-size: responsive 14px 16px
    font-range: 480px 1440px
    font-weight: bold
    line-height: 1.4
    margin: $sizing-500 0 $sizing-100
    letter-spacing: 1px
    text-transform: uppercase
    display: block

    &--mt000
      margin-top: 0

    &--err
      color: $freedom-red
