/*

   Select Box

   Base:
     sel

   Elements:
    l = label
    f = field

   Modifier:
    None Yet

 */

.sel
  &-c
    display: inline-block
    position: relative

    &:after
      content: ' '
      position: absolute
      z-index: 1
      pointer-events: none
      top: $border-200
      bottom: $border-200
      right: $border-200
      border-left: $border-200 solid $charles-blue
      background: $optimistic-blue
      width: 60px
      background-image: url(../images/global/icons/chevron-down.svg)
      background-repeat: no-repeat
      background-position: center
      background-size: 20px

    &--err:after
      border-color: $freedom-red

    &--sq:after
      content: 'Select'
      font-family: $sans
      text-transform: uppercase
      color: white
      font-size: .8rem
      text-align: center
      padding-top: 8px
      background-position: center 30px 

    &--fw
      width: 100%

  &-f
    background-color: $white
    border: $border-200 solid $charles-blue
    border-radius: 0
    display: inline-block
    font: inherit
    font-size: inherit
    line-height: $line-height-000
    padding: 0.5em 3.5em 0.5em 1em
    padding: $sizing-300 85px $sizing-300 $sizing-300
    width: 100%
    height: "calc(2 * %s + 2 * %s + %s)" % ($sizing-300 $border-200 1.5rem)

    margin: 0
    box-sizing: border-box
    -moz-appearance: none
    appearance: none

    &--sm
      padding-top: $sizing-300
      padding-bottom: $sizing-300
      line-height: $line-height-200

    &--sq
      // IE10 doesn't support the pointer-events property used to make the
      // arrow "click through" to the select box. When all you can see is
      // the arrow, this presents a problem, so we have to position the select
      // above the arrow, then make it hidden so just its focus ring appears.
      position: relative
      box-sizing: content-box
      z-index: 2
      width: 0
      height: 1.5rem
      padding-left: 0
      padding-right: 60px
      overflow: hidden
      text-indent: -9999px
      background: transparent
      
      // hides the arrow box on IE10
      &::-ms-expand
        display: none
        
    &--err
      border-color: $freedom-red
      color: $freedom-red

    &:focus
      box-shadow: 0 0 0 3px $optimistic-blue

  &-l
    color: $charles-blue
    font-family: $sans
    font-size: responsive 14px 16px
    font-range: 480px 1440px
    font-weight: bold
    line-height: 1.4
    margin: $sizing-500 0 $sizing-100
    letter-spacing: 1px
    text-transform: uppercase
    display: block

    &--sq
      display: block
      height: 1px
      width: 1px
      position: absolute
      overflow: hidden
      top: -100px

    &--mt000
      margin-top: 0

    &--err
      color: $freedom-red
