/*

   Textboxes

   Base:
     txt

   Elements:
    l = label
    f = field

   Modifier:
    None Yet

 */

.txt
  align-items: center
  display: block
  margin: 0
  position: relative

  &:not(:last-child)
    margin: 0 0 $sizing-300

  &-f
    font-family: $serif
    display: block
    font-size: 1rem
    
    // Force this for IE, which doesn't pick up on the height needing to be
    // based on the line-height
    height: "%srem" % ($line-height-600)
    line-height: $line-height-600

    // We need the height and the line-height to match up for proper vertical
    // centering in IE, so we use content-box so we don't need to worry about
    // accommodating the border.
    //
    // We do this instead of using "calc" on the height because Chrome on
    // Windows will clip descenders when the height is specified as a calc.
    box-sizing: content-box
    
    color: $charles-blue
    border: $border-200 solid $charles-blue
    // We get all of the height from height / line-height for the
    // minimum amount of descender clipping in Firefox.
    padding: 0 $sizing-300
    margin: 0
    // fixes Chrome 57 bug of not rendering left/right/bottom of the box shadow
    position: relative

    &--err
      border-color: $freedom-red

    &--sm
      height: "%srem" % $line-height-400
      line-height: $line-height-400

    input[type=email]&,
    input[type=phone]&,
    input[type=text]&,
    textarea&
      // Since we're using content-box above, this needs to change to
      // a calculation to keep the padding / border from going offscreen.
      // (And we want a width of effectively 100% instead of the arbitrary
      // size a browser will give an input field, despite it being display:
      // block)
      width: 90%
      width: "calc(100% - 2 * %s - 2 * %s)" % ($sizing-300 $border-200)

      &.txt-f--combo
        width: 85%
        // Need to leave space for a .sel-f--sq element, and now a total of
        // 3 border-200s (left, right, and separator between the elements)
        width: "calc(100% - 2 * %s - 3 * %s - %s)" % ($sizing-300 $border-200 $select-arrow-box-width)

    input[type=email]&--auto,
    input[type=phone]&--auto,
    input[type=text]&--auto,
    textarea&--auto
      width: auto
      
      &.txt-f--combo
        width: auto

    textarea&
      height: auto
      line-height: $line-height-300
      padding: $sizing-200 $sizing-300
      
    &::placeholder
      font-style: italic
      color: $grey-300
      line-height: $line-height-600

    textarea&::placeholder
      line-height: $line-height-300

    &::-ms-clear
      width: 1rem
      height: 1rem

    &:focus
      box-shadow: 0 0 0 3px $optimistic-blue

    &--combo
      border-right: 0
      float: left

  &-l
    color: $charles-blue
    font-family: $sans
    font-size: responsive 14px 16px
    font-range: 480px 1440px
    font-weight: bold
    line-height: 1.4
    margin: $sizing-500 0 $sizing-100
    letter-spacing: 1px
    text-transform: uppercase
    display: block

    &--sm
      font-size: $font-100
      font-weight: normal
      margin-top: 0

    &--mt000
      margin-top: 0
