{{#each textboxes as |textbox|}}
  <label class="txt">
    <span class="txt-l">{{label}}</span>
    <textarea placeholder="{{placeholder}}" class="txt-f" rows="10">{{value}}</textarea>
  </label>
{{/each}}
