{{#each textboxes as |textbox|}}
  <label class="txt">
    <span class="txt-l">{{label}}</span>
    <input type="text" value="{{value}}" placeholder="{{placeholder}}" class="txt-f">
  </label>
{{/each}}
