{{#each cards as |card|}}
  <a href="{{ card.href }}" class="lcdl m-t500 g--12">
    <div class="lcdl-c">
        {{#if variant}}
          <div class="lcdl-im {{card.variant}}"></div>
        {{/if}}
        <div class="g">
          <div class="g--4">
            <div class="lcdl-t">{{ card.title }}</div>
          </div>
          <div class="g--8">
            {{#if card.content}}
              <div class="lcdl-d"> {{ card.content }}</div>
            {{/if}} 
          </div>
        </div>
    </div>
  </a>
{{/each}}
