{{#each cards as |card|}}
  <a href="{{ card.href }}" class="lcdl m-t500 g--12">
    <div class="lcdl-c">
        {{#if variant}}
          <div class="lcdl-im">
            <svg class="svg-date-flag date-flag" title="On Jul 8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.08 44.31">
              <path d="M32.26,42.16l-15.3-7-15.3,7v-40h30.6Z" fill="#091f2f" stroke="#091f2f" stroke-miterlimit="10"></path>
              <img src="{{card.url}}" height="18" width="16" class="lcdl-icon" />
          </svg>
          </div>
        {{/if}}
        <div class="g">
          <div class="g--4">
            <div class="lcdl-t">{{ card.title }}</div>
          </div>
          <div class="g--8">
            {{#if card.content}}
              <div class="lcdl-d"> {{ card.content }}</div>
            {{/if}} 
          </div>
        </div>
    </div>
  </a>
{{/each}}
