{{#each cards as |card|}}
<div class="section cd g--4 g--4--sl m-t500 cdp-l left-mnl">
  <div class="d-b bg--cb cdp-a ta-c p-a200 t--upper t--sans t--w t--ob--h t--s100">Your At-Large City Councilors</div>
  <div class="cd-ic bg--cb" style="padding: 20px 0px 0px;"><img
      src="https://patterns.boston.gov/images/global/icons/experiential/podium.svg" style="max-height: 150px;"></div>
  <div class="cd-c">
    <div class="mnl-c-group">
      <div class="cdp-st">
        <div class="councilor-at-large">
          <div class="intro">The four at-large councilors that represent the entire city:</div>
          <div><a href="/departments/city-council/annissa-essaibi-george" class="mnl-link link_underline">Annissa
              Essaibi George</a><a href="/departments/city-council/michael-flaherty"
              class="mnl-link link_underline">Michael Flaherty</a><a href="/departments/city-council/julia-mejia"
              class="mnl-link link_underline">Julia Mejia</a><a href="/departments/city-council/michelle-wu"
              class="mnl-link link_underline">Michelle Wu</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}