@lost flexbox flex
@lost gutter 1.5rem

.g
  lost-flex-container: row

  &--4
    lost-column: 1/1;
    margin-top: $sizing-400

  @media $media-large
    &--4
      lost-column: 1/2;

  @media $media-xlarge
    &--4
      lost-column: 1/4;
