/*

   Grid

   Base:
    g

   Modifier:
    {{ COLUMNS }} = how many columns of the 12 column grid it should take up
    sl = At large break point, split the column 50 / 50

   Notes:
    At mobile sizes, all columns 100%
 */

@lost flexbox flex
@lost gutter 1.5rem

.g
  lost-flex-container: row

  &--top
    align-items: flex-start

  &--1
    lost-column: 12/12

  &--2
    lost-column: 12/12

  &--3
    lost-column: 12/12

  &--4
    lost-column: 12/12

  &--5
    lost-column: 12/12

  &--6
    lost-column: 12/12

  &--7
    lost-column: 12/12

  &--8
    lost-column: 12/12

  &--9
    lost-column: 12/12

  &--10
    lost-column: 12/12

  &--11
    lost-column: 12/12

  &--12
    lost-column: 12/12

  @media $media-medium
    &--3
      &--m
        lost-column: 3/12 4

  @media $media-large
    &--1
      lost-column: 1/12 12

      &--sl
        lost-column: 6/12 2

    &--2
      lost-column: 2/12 6

      &--l
        lost-column: 2/12 6

      &--sl
        lost-column: 6/12 2

    &--3
      lost-column: 3/12 4

      &--l
        lost-column: 3/12 4

      &--sl
        lost-column: 6/12 2

    &--4
      lost-column: 4/12 3

      &--l
        lost-column: 4/12 3

      &--sl
        lost-column: 6/12 2

    &--5
      lost-column: 5/12

    &--6
      lost-column: 6/12 2

      &--l
        lost-column: 6/12 2

    &--7
      lost-column: 7/12

    &--8
      lost-column: 8/12

    &--9
      lost-column: 9/12

    &--10
      lost-column: 10/12

    &--11
      lost-column: 11/12

    &--12
      lost-column: 12/12

  @media $media-xlarge
    &--1
      &--sl
        lost-column: 1/12 12

    &--2
      &--sl
        lost-column: 2/12 6

    &--3
      &--sl
        lost-column: 3/12 4

    &--4
      &--sl
        lost-column: 4/12 3

      &--xl
        lost-column: 4/12 3

    &--5
      &--sl
        lost-column: 5/12

    &--6
      &--sl
        lost-column: 6/12 2

    &--7
      &--xl
        lost-column: 7/12

    &--8
      &--xl
        lost-column: 8/12 3
