/*

   Normal List Items

   Base:
    pg

   Elements:
    li

   Modifier:
    None Yet

 */

.pg
  display: flex
  font-size: responsive 14px 16px
  font-range: 480px 1440px
  justify-content: center
  line-height: 1
  list-style: none
  padding: 0
  padding-top: $sizing-400
  margin: 0

  &-li
    list-style: none
    padding: 0
    margin: 0

    &:last-child
      border-right: 2px solid $charles-blue

    &-i
      border-top: 2px solid $charles-blue
      border-bottom: 2px solid $charles-blue
      border-left: 2px solid $charles-blue
      color: $charles-blue
      display: block
      font-family: $sans
      padding: $sizing-300 15px
      text-transform: uppercase
      font-weight: 700
      opacity: 0.5
      white-space: nowrap

      @media $media-medium
        padding: $sizing-300

      &--link

        &:link
          background-color: $white
          color: $charles-blue
          opacity: 1
          text-decoration: none

        &:hover
          color: $freedom-red

        &:visited
          color: $charles-blue

      &--a:link
        background-color: $optimistic-blue
        color: $white

        &:hover
          color: $white

        &:visited
          color: $white

      &-h
        display: none

        @media $media-medium
          display: inline
