/*

   Normal List Items

   Base:
    pg

   Elements:
    li

   Modifier:
    None Yet

 */

.pg
  display: flex
  font-size: responsive 14px 16px
  font-range: 480px 1440px
  justify-content: center
  line-height: 1
  list-style: none
  padding: 0
  padding-top: $sizing-400
  margin: 0
  letter-spacing: 1

  &-li
    list-style: none
    padding: 0
    margin: 0

    &:first-of-type,
    &:last-of-type
      .pg-li-i--link
        @media $media-medium-max
          display: none
        
        background-color: $optimistic-blue-dark
        color: $white

    &:last-child
      border-right: 3px solid $charles-blue

    &-i
      border-top: 3px solid $charles-blue
      border-bottom: 3px solid $charles-blue
      border-left: 3px solid $charles-blue
      display: block
      padding: $sizing-300 15px
      text-transform: uppercase
      opacity: 0.5
      white-space: nowrap
      font-family: Montserrat,sans-serif
      letter-spacing: 1px

      @media $media-medium
        padding: $sizing-300

      &--link

        &:link
          background-color: $white
          color: $charles-blue
          opacity: 1
          text-decoration: none

        &:hover, &:focus
          background-color: $freedom-red-dark
          color: $white

        &:visited
          color: $charles-blue

      &--a

        &:link
          background-color: $optimistic-blue-dark
          color: $white

        &:hover, &:focus
          color: $white

        &:visited
          color: $white

      &-h
        display: none

        @media $media-medium
          display: inline
        
  &-previous, &-next
    &:first-of-type, &:last-of-type
      .pg-li-i--link
        background-color: $optimistic-blue-dark
        color: $white

        &:hover, &:focus
          background-color: $freedom-red-dark
          color: $white

  &-ellipsis
    .pg-li-i
      border-top: 3px solid $charles-blue
      border-bottom: 3px solid $charles-blue
      border-left: 3px solid $charles-blue
      background-color: $white
      color: $charles-blue
      opacity: 1

  &-disabled 
    background-color: $grey-100
    color: $grey-300
    border-color: $grey-300

.pg-disabled.pg-last
  &:last-child
    border-right: 3px solid $grey-300

  .pg-li-i
    border-left: 3px solid $charles-blue
    border-top: 3px solid $grey-300
    border-bottom: 3px solid $grey-300
    opacity: 1

.pg-disabled.pg-first
  .pg-li-i
    border-top: 3px solid $grey-300
    border-bottom: 3px solid $grey-300
    border-left: 3px solid $grey-300
    opacity: 1

