/*

   Drawer

   Base:
    dr

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    sm = small

   Use dr--open to force the drawer open. Useful for JavaScript cases where
   you want control over the opening / closing rather than using checkboxes.
 */

.dr
  &--sm
    border: $border-200 solid $grey-100

    &:first-child
      margin-top: 0

    .dr-h
      padding: $sizing-400
      padding-right: $sizing-400 * 2.25

    .dr-t
      font-family: $serif
      font-size: responsive 14px 18px
      font-range: 480px 1440px

    .dr-ic
      right: $sizing-300

    .dr-tr
      &:checked ~ .dr--sm, ^[-1]--open .dr--sm
        border-color: $charles-blue

    .dr-c
      padding: $sizing-300
