.coi
    background-color: $charles-blue
    color: $white
    padding: 50px 0px

    &-col-title
        border-top: 0
        border-right: 0
        border-bottom: 1px
        border-left: 0
        border-style: dashed
        border-color: #45789c
        text-transform: uppercase
        padding-bottom: 7px
        padding-top: 20px
        font-family: $montserrat
        font-size: 16px