.coi
    background-color: $charles-blue
    color: $white
    padding: 50px 0px

    &-col-title
        border-top: 0
        border-right: 0
        border-bottom: 1px
        border-left: 0
        border-style: dashed
        border-color: #45789c
        text-transform: uppercase
        padding-bottom: 7px
        padding-top: 20px
        font-family: $sans
        font-size: 16px
    
    &-cta-button
        display: inline-block
        line-height: inherit
        text-decoration: none
        cursor: pointer
        background-color: #1871bd
        font-family: $sans
        font-weight: 400
        font-color: $white
        letter-spacing: 1px
        border: 0
        text-transform: uppercase
        padding: 1.275em 1.5em
        font-size: 14px
        font-size: .77778rem
        line-height: 18px
        line-height: 1rem
        font-weight: 700
        margin-top: 10px

    &-field-three-col-description
        padding-top: 10px
        margin-bottom: 35px
        font-family: $lora, serif
 
    &-column-wrapper
        color: #fff
        background-color: #091f2f
        padding-top: 50px

