.goq
    display: block
    background-color: $white
    border-bottom: 8px solid #d22d23 
    padding: 30px 30px 40px
    flex-wrap: wrap

    &-quote-text
        font-family: $lora
        font-style: italic
        color: #000
        margin-bottom: 34px 
        font-size: 18px
    
    &-quote-name
        font-family: $montserrat
        font-size: 14px
        color: #000
        font-weight: 700
        line-height: $normal
        text-transform: uppercase

    &-quote-location
        font-family: $lora
        font-size: 16px
        font-style: italic
        color: #828282
        line-height: 26px
