<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{path '/css/public.css'}}" />
  <title>Preview Layout</title>
</head>
<body>
  <div style="min-height: 100vh; display: flex; align-items: center; justify-content: center; background-color: #ffffff" class="b--w b--fw">
    <div class="b-c">
      <div class="g">
        {{{ yield }}}
      </div>
    </div>
  </div>
  <script src="{{path '/scripts/all.js'}}"></script>
</body>
</html>
