<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{path '/css/hub.css'}}" />
  <title>Preview Layout</title>
</head>
<body>
  {{{ yield }}}
  <!--[if IE 9]>
    <script src="{{path '/scripts/flexibility.js'}}"></script>
  <![endif]-->
</body>
</html>
