<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <link media="all" rel="stylesheet" href="{{path '/css/main.css'}}">
  <title>Preview Layout</title>
</head>
<body>
  {{{ yield }}}
</body>
</html>
