/*

   Drawer Quick Links

   Base:
    dr-ql

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    sm = small

   Use dr--open to force the drawer open. Useful for JavaScript cases where
   you want control over the opening / closing rather than using checkboxes.
 */

.dr-ql
  background: $charles-blue

  &-tr
    &:checked ~ .dr-ql, ^[-1]--open .dr-ql
      &-h
        background-color: $charles-blue

        .dr-ql-t
          color: $white

        .dr-ql-st
          color: $optimistic-blue-light

        .dr-ql-ic
          margin-top: -9px

          svg
            transform: rotate(-90deg)

        .dr-ql-i
          fill: $white

    &:checked ~ .dr-ql
      &-c
        display: block

  &-h
    display: block
    letter-spacing: 0
    margin: 0
    padding: $sizing-500
    padding-right: $sizing-500 * 2.25
    position: relative
    text-transform: none
    user-select: none

    // these override <button> default styles
    background: transparent
    width: 100%
    border: none
    text-align: left

    &:hover, &:focus
      cursor: pointer
      background-color: $charles-blue
      color: $white

      .dr-ql-t
      .dr-ql-st
        color: $white

      .dr-ql-i
        fill: $optimistic-blue-light

  &-c
    display: none
    background: $charles-blue
    padding: $sizing-500

    p:first-child
    ul:first-child
      margin-top: 0

    p:last-child
    ul:last-child
      margin-bottom: 0

    @media $media-small-max
      .paragraphs-item-text-one-column .content
        padding-left: 0
        padding-right: 0

        .responsive-table
          font-size: 4.5vw
          border: 1px solid black
          word-wrap: break-word;
          word-break: break-word;
  &-ic
    height: 20px
    width: 26px
    position: absolute
    right: $sizing-500
    top: 50%
    margin-top: -8px

    svg
      max-height: 100%
      max-width: 100%
      transform: rotate(90deg)
      transition: transform 250ms

  &-i
    fill: $white

  &-t
    color: $optimistic-blue-dark
    font-family: $serif
    font-size: responsive 16px 25px
    font-range: 480px 1440px
    font-style: italic
    line-height: $line-height-100

  &-st
    color: $charles-blue
    font-family: $serif
    font-size: responsive 14px 18px
    font-range: 480px 1440px
    line-height: $line-height-100
    margin-top: $sizing-100

  &-r
    &:checked ~ .dr-ql, ^[-1]--r .dr-ql
      &-h
        background-color: $freedom-red-dark

// handle hover interference with focus
.dr-ql.focus-active:hover
  pointer-events: none
  background-color: $white
  color: $optimistic-blue-light

  .dr-t
  .dr-st
    color: $optimistic-blue-light

  .dr-i
    fill: $optimistic-blue-light

.dr-ql .dr-h.focus-active:hover
  background-color: $white
