/*

   LINK WITH ARROW

   Base:
    dr-ql-lwa

   Modifier:
    w = white theme

 */

.dr-ql-lwa
  display: flex
  align-items: center
  background-image: url(../images/global/icons/chevron.svg)
  background-position: center right
  background-repeat: no-repeat
  background-size: 10px
  font-family: $sans
  font-size: responsive 12px 14px
  font-range: 480px 1440px
  line-height: $line-height-100
  padding: $sizing-400
  padding-left: 0
  text-transform: uppercase
  border-bottom: 1px dashed #355973

  &--w
    color: $white

    &:link
    &:visited
      color: $white

    &:hover
      color: $optimistic-blue-dark
