@require '../mixins/styled-underline.styl';

.paragraphs-item-3-column-w-image,
.field.field-type-text-long,
.detail-item__body div
  p:not(.department-title) a:not([class]):not(.button)
    styled-underline $charles-blue
