<div class="b b--g b--fw">
<div class="links-grid-field-list-links mobile-100 desktop-100">

    <div class="entity entity-paragraphs-item component-section paragraphs-item-gol-list-links clearfix desktop-1-col"
        bos_context_type="Gol List Links">
        <div class="content">
            <div class="list-link tablet-33-left">


                <div class="download-link entity entity-paragraphs-item component-section paragraphs-item-document link-wrapper"
                    bos_context_type="Document">
                    <div class="link-item ribbon">
                        <a href="https://d8-uat.boston.gov/sites/default/files/linked/file/document_files/2017/03/pdf_for_website_testing_0.pdf"
                            title="Download Testing link - document" target="_blank">Testing link - document</a>
                    </div>
                    Testing link - document
                    <div class="link-icon-ribbon"></div>
                </div>


            </div>
            <div class="list-description tablet-66-right">

                <p>Description for a document goes here. Description for a document goes here. Description for a
                    document goes here. Description...</p>


            </div>
        </div>
    </div>


    <div class="entity entity-paragraphs-item component-section paragraphs-item-gol-list-links clearfix desktop-1-col"
        bos_context_type="Gol List Links">
        <div class="content">
            <div class="list-link tablet-33-left">


                <div class="external-link field field-name-field-external-link field-type-link link-wrapper"
                    data-quickedit-entity-id="paragraph/99516">
                    <div class="link-item ribbon">
                        <a href="https://google.com" title="Go to Testing link - external" target="_blank">Testing link
                            - external</a>
                    </div>
                    Testing link - external
                    <div class="link-icon-ribbon"></div>
                </div>



            </div>
            <div class="list-description tablet-66-right">

                <p>Description for an external link goes here. Description for an external link goes here. Description
                    for an external link goes...</p>


            </div>
        </div>
    </div>


    <div class="entity entity-paragraphs-item component-section paragraphs-item-gol-list-links clearfix desktop-1-col"
        bos_context_type="Gol List Links">
        <div class="content">
            <div class="list-link tablet-33-left">


                <div class="entity entity-paragraphs-item component-section paragraphs-item-internal-link link-wrapper"
                    bos_context_type="Internal Link">
                    <div class="link-item ribbon">
                        <a href="/departments/digital-team" title="Go to Testing link - internal">Testing link -
                            internal</a>
                    </div>
                    Testing link - internal
                </div>


            </div>
            <div class="list-description tablet-66-right">

                <p>Description for an internal link goes here. Description for an internal link goes here. Description
                    for an internal link goes...</p>


            </div>
        </div>
    </div>


</div>
<div class="entity entity-paragraphs-item component-section paragraphs-item-gol-list-links clearfix desktop-1-col"
    bos_context_type="Gol List Links">
    <div class="content">
        <div class="list-link tablet-33-left">


            <div class="external-link field field-name-field-external-link field-type-link link-wrapper"
                data-quickedit-entity-id="paragraph/99516">
                <div class="link-item ribbon">
                    <a href="https://google.com" title="Go to Testing link - external" target="_blank">Testing link -
                        external</a>
                </div>
                Testing link - external
                <div class="link-icon-ribbon"></div>
            </div>



        </div>
        <div class="list-description tablet-66-right">

            <p>Description for an external link goes here. Description for an external link goes here. Description for
                an external link goes...</p>


        </div>
    </div>
</div>
<div class="entity entity-paragraphs-item component-section paragraphs-item-gol-list-links clearfix desktop-1-col"
    bos_context_type="Gol List Links">
    <div class="content">
        <div class="list-link tablet-33-left">


            <div class="entity entity-paragraphs-item component-section paragraphs-item-internal-link link-wrapper"
                bos_context_type="Internal Link">
                <div class="link-item ribbon">
                    <a href="/departments/digital-team" title="Go to Testing link - internal">Testing link -
                        internal</a>
                </div>
                Testing link - internal
            </div>


        </div>
        <div class="list-description tablet-66-right">

            <p>Description for an internal link goes here. Description for an internal link goes here. Description for
                an internal link goes...</p>


        </div>
    </div>
</div>
</div>