<div class="hro">
  <div class="hro-c">
    {{#if intro}}
      <div class="hro-i{{#if home}} hro-i--l{{/if}}">{{intro}}</div>
    {{/if}}
    <h1 class="hro-t{{#if home}} hro-t--l{{/if}}">{{title}}</h1>
    {{#if subheader}}
      <div class="hro-st{{#if home}} hro-st--l{{/if}}">{{subheader}}</div>
    {{/if}}
  </div>
</div>
