/*

   HEADER

   Base:
    h

   Elements:
    t = title
    i = intro
    sh = subheader

 */

.h
  background-color: #ffffff
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1)
  padding-right: $sizing-300
  position: relative
  display: flex
  align-items: center

  .hb
    margin-right: $sizing-300

  .nv-h
    margin-left: auto
