<div class="g">
  <div class="goq m-t500 g--4 g--4--sl">
    <div
      class="paragraphs-items paragraphs-items-field-grid-of-quotes paragraphs-items-full paragraphs-items-field-grid-of-quotes-full field field-name-field-grid-of-quotes field-type-entity-reference-revisions field-label-hidden field-items">
      <div class="goq-quote">
        <div class="goq-quote-text">
          " This is a test quote for a test. "
        </div>
      </div>
      <div class="goq-quote-details">
        <div class="quote-photo">
          <a href="/media/image/35406" hreflang="und">third space</a>
        </div>
        <div class="goq-quote-person-details">
          <div class="goq-quote-name">
            First t.
          </div>
          <div class="goq-quote-location">
            Fenway/Kenmore
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="goq m-t500 g--4 g--4--sl">
    <div class="quote" bos_context_type="Quote">
      <div class="goq-quote-text">
        " Entering a test quote here to test a second quote. "
      </div>
      <div class="goq-quote-details">
        <div class="quote-photo">
          <img src="https://patterns.boston.gov/images/global/icons/quote.svg" alt="No picture available"
            style="width: 50px">
        </div>
        <div class="quote-person-details">
          <div class="goq-quote-name">
            Last s.
          </div>
          <div class="goq-quote-location">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>