<div>
  <nav class="brc" role="navigation">
    <div class="a11y--h">You are here</div>
    <ul class="brc-l">
      <li class="brc-l-i"><a href="/">Home</a><span class="brc-s"> › </span></li>
      <li class="brc-l-i"><a href="/departments">Departments</a><span class="brc-s"> › </span></li>
      <li class="brc-l-i"><a href="/departments/digital-team">Digital Team</a><span class="brc-s"> › </span></li>
      <li class="brc-l-i">Test Page</li>
    </ul>
  </nav>
</div>
