<div class="di">
  <div class="di-ic">
    <a href="{{ department.url }}" title="{{ department.name }}" class="di-tt">
      <img typeof="foaf:Image" src="{{ department.icon }}" alt="{{ department.name }}" class="di-i">
    </a>
  </div>
</div>
