<ul class="dl">
  {{#each details as |detail|}}
    <li class="dl-i">
      <span class="dl-t">{{ detail.name }}</span>
      <span class="dl-d">{{ detail.description }}</span>
    </li>
  {{/each}}
  <li class="dl-i">
    <span class="dl-t">Where</span>
    <span class="dl-d">{{ render '@address' }}</span>
  </li>
  <li class="dl-i dl-i--b">
    <div class="dl-t">This is a block item</div>
    <div class="dl-d">{{ render '@address' }}</div>
  </li>
</ul>
