@require '../stylesheets/variables/_colors.styl';

body {
    overflow-x: hidden
}
html {
    font-size: 112.5%;
    line-height: 2.16667em;
    font-family: "Montserrat", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    scroll-padding-top: 5.625rem
}
@media print {
    html {
        font-size: 12pt
    }
}

* {
    box-sizing: border-box
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden] {
    display: none
}
template {
    display: none
}
.hidden,
html.js .js-hidden,
html.js .element-hidden,
html.js .js-hide {
    display: none
}
.clearfix:before,
.cabinet .node-person-profile.view-mode-listing:before,
.views-exposed-form .views-exposed-widget:before,
.footer:before,
.tabs:before,
.tabs--secondary:before {
    content: '';
    display: table;
}
.clearfix:after,
.cabinet .node-person-profile.view-mode-listing:after,
.views-exposed-form .views-exposed-widget:after,
.footer:after,
.tabs:after,
.tabs--secondary:after {
    content: '';
    display: table;
    clear: both
}
img {
    border: 0
}
.media img {
    max-width: 100%;
    width: auto;
    height: auto
}
svg:not(:root) {
    overflow: hidden
}
:link {
    color: $optimistic-blue-dark;
    text-decoration: none
}
.inverted,
.inverted:link {
    color: $freedom-red-dark
}
:visited {
    color: $optimistic-blue-dark
}
.inverted:visited {
    color: $freedom-red-dark
}
a:hover,
a:focus {
    color: $freedom-red-dark
}
a.inverted:hover,
a.inverted:focus {
    color: $optimistic-blue-dark
}
a:active {
    color: $freedom-red-dark;
    background-color: transparent
}
a.inverted:active {
    color: $optimistic-blue-dark
}
a:active,
a:hover {
    outline: 0
}
@media print {
    :link,
    :visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")";
        font-weight: normal;
        font-size: 18px;
        text-decoration: none
    }
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: ''
    }
}
.divider,
hr {
    margin: 39px 0px;
    margin: 2.16667rem 0rem;
    border: 0;
    border-top: 1px solid $grey-100
}
.divider>:first-child,
hr>:first-child {
    margin-top: 39px;
    margin-top: 2.16667rem
}
blockquote {
    margin: 39px 36px;
    margin: 2.16667rem 2rem;
    color: $charles-blue;
    border-left: 3px solid $freedom-red-dark;
    font-style: italic;
    padding-left: 2em;
    font-size: 18px;
    line-height: 38px;
    font-size: 1rem;
    line-height: 2.11111rem
}
blockquote p {
    margin-top: 0;
    margin-bottom: 1rem
}
blockquote footer {
    color: $body-text;
    font-size: 14px;
    line-height: 22px;
    font-size: 0.77778rem;
    line-height: 1.22222rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-style: normal
}
blockquote footer:before {
    content: "- "
}
address {
    font-style: normal;
    line-height: 1.3em;
    text-indent: 0;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif
}
figure {
    margin: 0px 0px 39px;
    margin: 0rem 0rem 2.16667rem
}
hr {
    box-sizing: content-box;
    height: 0
}
p,
pre {
    margin: 8.97px 0px 20px;
    margin: 0.49833rem 0rem 1.16667rem
}
pre,
code,
kbd,
samp,
var {
    font-family: Menlo, "DejaVu Sans Mono", "Ubuntu Mono", Courier, "Courier New", monospace, sans-serif;
    font-size: 1em
}
pre {
    overflow: auto
}

table {
    margin: 39px 0px;
    margin: 2.16667rem 0rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}
td,
th {
    padding: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
@media print {
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
}
b,
strong {
    font-weight: bold
}
dfn {
    font-style: italic
}
mark {
    background: #fd0;
    color: $body-text
}
small {
    font-size: 16px;
    font-size: 0.88889rem
}
sub,
sup {
    font-size: 14px;
    font-size: 0.77778rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
.container,
.component__content,
.component__header,
.content {
    max-width: 66.667rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%
}
.container:after,
.component__content:after,
.component__header:after,
.content {
    content: " ";
    display: block;
    clear: both
}
@media (min-width: 1300px) {
    .container,
    .component__content,
    .component__header,
    .content {
        padding-left: 0;
        padding-right: 0
    }
}
input::-webkit-input-placeholder {
    color: $grey-300;
    font-style: italic;
    line-height: 1
}
input:-moz-placeholder {
    color: $grey-300;
    font-style: italic;
    line-height: 1
}
input::-moz-placeholder {
    color: $grey-300;
    font-style: italic;
    line-height: 1
}
input:-ms-input-placeholder {
    color: $grey-300;
    font-style: italic;
    line-height: 1
}
input.error {
    border-color: $freedom-red-dark
}
.input-error-mssg {
    color: $freedom-red-dark
}
html input[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}
input[type="search"] {
    -webkit-appearance: textfield
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}
input[type="text"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    line-height: inherit
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    display: none
}
fieldset {
    padding: 13.65px 24.375px 25.35px;
    padding: 0.75833rem 1.35417rem 1.40833rem;
    border: 1px solid $grey-100;
    margin: 0 2px
}
legend {
    border: 0;
    margin-left: -5px;
    padding: 0 5px
}
label {
    display: block;
    color: $charles-blue
}
label {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 3.9px;
    font-size: 0.75rem;
    line-height: 0.21667rem;
    margin: 29.25px 0px 9.75px 0px;
    margin: 1.625rem 0rem 0.54167rem 0rem;
    letter-spacing: 1px
}
.squiggle-border-bottom {
    background: url("../images/squiggle.svg") repeat-x center bottom transparent;
    background-size: 383px 30px;
    margin-bottom: 25px
}
.squiggle-border-top {
    background: url("../images/squiggle.svg") repeat-x center top transparent;
    background-size: 383px 30px
}
.supporting-text {
    font-weight: 400;
    font-style: italic;
    line-height: inherit;
    color: $charles-blue;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 18px;
    line-height: 30px;
    font-size: 1rem;
    line-height: 1.66667rem
}
@media (min-width: 980px) {
    .supporting-text {
        font-size: 30px;
        line-height: 52px;
        font-size: 1.66667rem;
        line-height: 2.88889rem
    }
}
.supporting-text strong {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: $freedom-red-dark;
    font-size: 18px;
    line-height: 24px;
    font-size: 1rem;
    line-height: 1.33333rem
}
@media (min-width: 980px) {
    .supporting-text strong {
        font-size: 30px;
        line-height: 44px;
        font-size: 1.66667rem;
        line-height: 2.44444rem
    }
}
h1 {
    font-size: 30px;
    line-height: 27px;
    font-size: 1.66667rem;
    line-height: 1.5rem;
    margin-top: 29.25px;
    margin-top: 1.625rem;
    margin-bottom: 29.25px;
    margin-bottom: 1.625rem;
    letter-spacing: -1px
}
@media (min-width: 980px) {
    h1 {
        font-size: 75px;
        line-height: 67px;
        font-size: 4.16667rem;
        line-height: 3.72222rem;
        margin-top: 19px;
        margin-top: 1.16667rem;
        margin-bottom: 19px;
        margin-bottom: 1.16667rem
    }
}
h2 {
    font-size: 45px;
    line-height: 47px;
    font-size: 2.5rem;
    line-height: 2.61111rem;
    margin-top: 29.25px;
    margin-top: 1.625rem;
    margin-bottom: 29.25px;
    margin-bottom: 1.625rem;
    letter-spacing: -1px
}
h3 {
    font-size: 30px;
    line-height: 47px;
    font-size: 1.66667rem;
    line-height: 2.61111rem;
    margin-top: 29.25px;
    margin-top: 1.625rem;
    margin-bottom: 29.25px;
    margin-bottom: 1.625rem;
    letter-spacing: 1px;
}
h4 {
    font-size: 30px;
    line-height: 35px;
    font-size: 1.66667rem;
    line-height: 1.94444rem;
    margin-top: 29.25px;
    margin-top: 1.625rem;
    margin-bottom: 29.25px;
    margin-bottom: 1.625rem;
    letter-spacing: 1px
}
h5, address {
    font-size: 16px;
    line-height: 22px;
    font-size: 0.88889rem;
    line-height: 1.22222rem;
    margin-top: 29.25px;
    margin-top: 1.625rem;
    margin-bottom: 29.25px;
    margin-bottom: 1.625rem;
    letter-spacing: 1px
}
h6 {
    font-size: 14px;
    line-height: 20px;
    font-size: 0.77778rem;
    line-height: 1.11111rem;
    margin-top: 29.25px;
    margin-top: 1.625rem;
    margin-bottom: 29.25px;
    margin-bottom: 1.625rem;
    letter-spacing: 1px
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: $charles-blue;
    text-transform: uppercase;
    font-weight: 700;
}
.field-three-col-title h5 {
    color:$white;
    font-weight: 400;
    border-bottom: 1px dashed #fff;
    padding-bottom: 12px;
    border-color: #45789c;
    text-transform: uppercase;
    font-size: 16px;
}
.field-three-col-description .field-three-col-title {
    border-bottom: 1px dashed #fff;
    padding-bottom: 4px;
    border-color: #45789c;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.a11y--hidden {
    display: block;
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -100px
}
.header-border-bottom {
    border-bottom: 5px solid
}
@media (min-width: 980px) {
    .header-border-bottom {
        border-bottom: 8px solid;
        padding-bottom: .75rem
    }
}
.visually-hidden,
.views-widget-filter-field_event_type_target_id>label,
.views-widget-filter-field_neighborhood_target_id>label,
.views-widget-filter-field_contact_target_id>label,
.views-widget-filter-field_published_date_value>label,
.visually-hidden--focusable,
.element-invisible,
.component-short-title,
.paragraphs-item-feedback.component-section .form-type-radios,
.paragraphs-item-feedback.component-section .form-submit,
.node-advpoll .form-type-radios,
.node-advpoll .form-submit,
.node-type-landing-page .page-title,
.node-type-how-to h1.page-title,
.node-type-how-to .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-how-to .page-title.timeline-number,
.node-type-tabbed-content h1.page-title,
.node-type-tabbed-content .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-tabbed-content .page-title.timeline-number,
.node-type-department-profile h1.page-title,
.node-type-department-profile .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-department-profile .page-title.timeline-number,
.node-type-article h1.page-title,
.node-type-article .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-article .page-title.timeline-number,
.node-type-post h1.page-title,
.node-type-post .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-post .page-title.timeline-number,
.node-type-event h1.page-title,
.node-type-event .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-event .page-title.timeline-number,
.node-type-public-notice h1.page-title,
.node-type-public-notice .timeline-step-wrapper .page-title.timeline-number,
.timeline-step-wrapper .node-type-public-notice .page-title.timeline-number,
.node-type-topic-page .page-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}
.visually-hidden--off,
--off.visually-hidden--focusable,
--off.element-invisible,
--off.component-short-title,
.paragraphs-item-feedback.component-section --off.form-type-radios,
.paragraphs-item-feedback.component-section --off.form-submit,
.node-advpoll --off.form-type-radios,
.node-advpoll --off.form-submit,
.node-type-landing-page --off.page-title,
.node-type-topic-page --off.page-title {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto
}
@media (min-width: 980px) {
    .topic-nav.sticky,
    .topic-nav.topic-nav__left.sticky {
        position: fixed;
        top: 65px;
        background-color: $charles-blue;
        z-index: 12;
        padding: 0 0 2px;
        margin-top: 0;
        margin-bottom: 0
    }
    .topic-nav.topic-nav__left.sticky a:hover {
        color: $freedom-red-light
    }
    #page #main-menu.sticky {
        position: fixed;
    }
}
#page {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    z-index: 1;
    background-color: $white
}
#page,
#page>.header,
#page .topic-nav.sticky {
    transition: left 0.2s
}
.brg-tr:checked ~ #page,
.brg-tr:checked ~ #page .header,
.brg-tr:checked ~ #page .topic-nav.sticky {
    left: 256px
}
@media (min-width: 480px) {
    .brg-tr:checked ~ #page,
    .brg-tr:checked ~ #page .header,
    .brg-tr:checked ~ #page .topic-nav.sticky {
        left: 300px
    }
}
.node-type-event .dl-d, 
.node-place-profile .dl-d,
.node-type-public-notice .dl-d {
    padding-left: 70px    
}
.post-contact .department-icon.sb-ic {
    border: none;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 0;
    margin-top: 0
}
.post-no-icon-sidebar .sb-b, .post-no-icon-sidebar .sb-d {
    padding-left: 0
}
.sb-b:last-child.sb-b:first-child {
    padding-top: 0    
}
.sb .sb-i:last-child {
    border-bottom: none    
}
.sb .sb-i:first-child {
    border-bottom: 1px dashed $grey-100   
}
.sb-d:empty {
  background-color: tomato
}
.paragraphs-item-text .entity-paragraphs-item:last-child {
    background-image: none;
    border-bottom: none
}
.si-list-item ~ .si-list-item {
    border-bottom: 1px dashed $grey-100
}
.node-person-profile .person-profile-photo img {
    border-radius: 100%;
    max-width: 100%;
    height: auto
}
.node-person-profile .person-profile-position-title {
    font-size: 18px;
    line-height: 58.5px;
    font-size: 1rem;
    line-height: 3.25rem;
    font-style: italic
}
@media (min-width: 980px) {
    .node-person-profile .person-profile-position-title {
        font-size: 30px;
        font-size: 1.66667rem
    }
}
.node-person-profile .person-profile-bio.squiggle-border-top {
    margin-top: 20px;
    padding-top: 20px
}
.node-listing-page .squiggle-border-bottom {
    background: none;
    padding-bottom: 0;
    margin-bottom: 0
}
.node-type-listing-page .listing-group-title {
    margin-bottom: 0;
    border-bottom: solid 8px;
    padding-bottom: .5rem;
    margin-top: 5rem
}
.node-type-listing-page .listing-group-title:first-child {
    margin-top: 0
}
.node-type-listing-page .description {
    font-style: italic
}
.teaser {
    border-top: 0;
    border-right: 0;
    border-bottom: 1px;
    border-left: 0;
    border-style: dashed;
    border-color: $grey-100;
    padding: 20px 0
}
.teaser.active {
    border-bottom: none
}
.teaser .title {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: $optimistic-blue-dark;
    line-height: 1.5rem;
    display: block
}
@media (min-width: 980px) {
    .teaser .title {
        margin-right: 200px
    }
}
.teaser .title:hover {
    color: $freedom-red-dark
}
.teaser .title .live-stream-flag {
    display: none
}
@media (min-width: 980px) {
    .teaser .title .live-stream-flag {
        font-size: 18px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        color: $freedom-red-dark;
        font-weight: bold;
        display: inline;
        float: left;
        background-image: url("../images/global/icons/icon-play-bold.svg");
        background-position: 0 5px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        padding-left: 20px;
        margin-right: 5px
    }
}
.teaser .time-range {
    display: block;
    padding-right: 15px;
    line-height: 1.5rem
}
@media (min-width: 980px) {
    .teaser .time-range {
        float: right
    }
}
.teaser .time-range .live-stream-flag {
    font-size: 12px;
    font-size: 0.66667rem;
    font-family: "Montserrat", sans-serif;
    text-transform: none;
    color: $freedom-red-dark;
    font-weight: bold
}
@media (min-width: 980px) {
    .teaser .time-range .live-stream-flag {
        display: none
    }
}
.event-details {
    border: 20px solid $grey-000;
    padding: 35px
}
.event-details .intro-text {
    padding-bottom: 40px;
    margin-bottom: 35px
}
.event-details .description {
    margin-top: 40px
}
.drawer-trigger {
    cursor: pointer;
}
.drawer {
    display: none;
}
@media (min-width: 840px) {
    .drawer.mobile-only {
        display: block
    }
}
.drawer-trigger {
    cursor: pointer
}
.drawer-trigger-chevron {
    background: url("../images/global/icons/subnav-toggle.svg") center center no-repeat transparent;
    height: 20px;
    width: 20px;
    margin: 4px;
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    float: right
}
.drawer-trigger.active .drawer-trigger-chevron {
    background-image: url("../images/global/icons/subnav-toggle-open.svg");
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.drawer-trigger.active .title {
    color: $freedom-red-dark
}
.view-filters .drawer-trigger .drawer-trigger-chevron,
.filter-wrapper .drawer-trigger .drawer-trigger-chevron {
    height: 30px;
    margin-top: 14px
}
.view-filters .drawer-trigger.active .drawer-trigger-chevron,
.filter-wrapper .drawer-trigger.active .drawer-trigger-chevron {
    -ms-transform: rotate(180deg);    
    transform: rotate(180deg);        
    height: 20px;
    margin-top: 20px
    background-image: url(../images/global/icons/chevron-down.svg);               
}
.view-filters .drawer-trigger.mobile-only,
.filter-wrapper .drawer-trigger.mobile-only {
    border: 0;
    display: block;
    padding-right: 4px
}
.view-filters .drawer-trigger.mobile-only .drawer-trigger-chevron,
.filter-wrapper .drawer-trigger.mobile-only .drawer-trigger-chevron {
    -ms-transform: rotate(0deg) translateY(-50%);
    transform: rotate(0deg) translateY(-50%)
}
.view-filters .drawer-trigger.mobile-only.active .drawer-trigger-chevron,
.filter-wrapper .drawer-trigger.mobile-only.active .drawer-trigger-chevron {
    margin-top: 0;
    -ms-transform: rotate(90deg) translateX(-70%);
    transform: rotate(90deg) translateX(-70%)
}
.view-filters.sidebar .drawer-trigger .drawer-trigger-chevron {
    margin-top: 9px
}
.view-filters.sidebar .drawer-trigger.active .drawer-trigger-chevron {
    margin-top: 15px
}
.drawer-trigger.mobile-only .drawer-trigger-chevron {
    height: 20px;
    margin-top: 0
}
.view-filters .drawer-trigger.mobile-only .drawer-trigger-chevron,
.filter-wrapper .drawer-trigger.mobile-only .drawer-trigger-chevron {
    background-image: url(../img/chevron.svg)
}
.external-link a {
    background-image: url(../images/global/icons/external-link.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: 20px;
    padding-right: 40px;
    display: block
}
.external-link--inline a {
    display: inline-block
}
.download-link a {
    background-image: url(../images/global/icons/icon-document.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    background-size: 16px;
    padding-right: 40px;
    display: inline-block
}
.node-topic-page .ssm {
    margin-bottom: 0    
}
.node-topic-page .supporting-text.intro-text {
    margin-bottom: 25px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 35px;
    font-weight: 400;
    font-style: italic;
    background-image: none ;
    color: #58585b
}
.b-c.topic-nav {
    padding-top: 0
}
.pager {
    padding-bottom: 25px
}
.paragraphs-items-field-grid-of-quotes {
    display: contents    
}
