@require 'variables/**/**.styl';
@require 'fonts/**/stylesheet.styl';

html,
body
  font-family: 'Lora', serif

a:link,
a:visited
  color: $optimistic-blue-dark

a:hover
  color: $freedom-red-light

.intro
  color: $charles-blue
  font-family: $serif
  font-size: responsive 18px 30px
  font-range: 480px 1440px
  font-style: italic
  line-height: $line-height-300

.Tree
  &-collectionLabel,
  &-entityLink
    font-family: $sans
    font-weight: 300

  &-collectionLabel span::before
    top: 0.375rem

  &-title
    font-family: $sans
    font-weight: 700
    text-transform: uppercase
    color: $charles-blue
    font-size: 1rem
    letter-spacing: 0

.Document
  &-header
    border: none

  &-title
    color: $charles-blue
    font-family: $sans
    font-size: responsive 45px 62px
    font-range: 480px 1440px
    font-weight: 700
    line-height: $line-height-000
    text-transform: uppercase
    letter-spacing: -1px

.Browser-notes
  background: white

.Prose
  font-family: 'Lora', serif
  font-size: 1.175rem
  line-height: 1.5

  h1
    // overrides a Mandelbrot style that puts bottom margin on all
    // top-level elements in the markdown
    margin: 0 0 $sizing-300 !important
    font-family: $sans
    font-size: responsive 45px 62px
    font-range: 480px 1440px
    font-weight: 700
    padding-right: $sizing-300
    line-height: 1
    color: $charles-blue
    text-transform: uppercase

  h2
    color: $charles-blue
    font-family: $sans
    font-size: responsive 30px 45px
    font-range: 480px 1440px
    font-weight: 700
    line-height: $line-height-000
    text-transform: uppercase
    border-bottom: $border-300 solid $charles-blue
    padding-bottom: $sizing-100
    width: 100%
    // overrides a Mandelbrot style that puts bottom margin on all
    // top-level elements in the markdown
    margin: $sizing-500 0 $sizing-300 !important
    @media $media-large
      border-bottom: $border-400 solid $charles-blue

  h3
    color: $charles-blue
    font-family: $serif
    font-size: responsive 20px 30px
    font-range: 480px 1440px
    font-weight: 300
    font-style: italic
    line-height: $line-height-000
    // overrides a Mandelbrot style that puts bottom margin on all
    // top-level elements in the markdown
    margin: 0 !important

  h4
    color: $charles-blue
    font-family: $serif
    font-size: responsive 16px 20px
    font-range: 480px 1440px
    font-weight: 300
    font-style: italic
    line-height: $line-height-000
    // overrides a Mandelbrot style that puts bottom margin on all
    // top-level elements in the markdown
    margin: $sizing-500 0 $sizing-300 !important

.Header
  background-color: $charles-blue
  box-shadow: none

  &-button
    background-color: $freedom-red-light
    border: none

    &:hover
      background-color: $optimistic-blue-light

  &-title
    text-transform: uppercase
    font-weight: 900
    font-family: $sans
    letter-spacing: 1px
