.stp
  text-transform: uppercase
  font-family: $sans
  font-size: $font-700
  color: $charles-blue
  display: flex
  align-items: center
  min-height: 1.5em

  &-number
    display: inline-block
    border: $border-200 solid $charles-blue
    border-radius: 50% 50%
    height: 1.5em
    width: 1.5em
    margin-right: $sizing-200
    text-align: center
    flex-shrink: 0
