<div class="g">
  <div class="goq g--6 m-b300">
    <div class="goq-quote-text">" This is a test quote for a test. "</div>
    <div class="goq-quote-details">
      <div class="goq-quote-photo">
        <img src="https://d8-uat.boston.gov/sites/default/files/linked/styles/person_photo_profile_large_360x360_/public/img/person_profile/photos/2017/10/jeanathe-headshot.jpg" alt="No picture available">
      </div>
      <div class="goq-quote-person-details">
        <div class="goq-quote-name">First t.</div>
        <div class="goq-quote-location">Fenway/Kenmore</div>
      </div>
    </div>
  </div>
  <div class="goq g--6 m-b300">
    <div class="goq-quote-text">" Entering a test quote here to test a second quote. "</div>
    <div class="goq-quote-details">
      <div class="goq-quote-photo">
        <img src="https://patterns.boston.gov/images/global/icons/quote.svg" alt="No picture available">
      </div>
        <div class="quote-person-details">Last s.</div>
      </div>
    </div>
</div>
