/*

   Department Icon

   Base:
    ex

   Elements:
    i = icon

   Modifier:
    None Yet

 */

.ex
  display: flex
  
  &-i
    justify-content: center

    img
      max-width: 200px
      max-height: 200px
  

