/*

   logo

   Base:
    lo

   Elements:
    i = icon
    ic = icon container
    tt = tooltip

   Modifier:
    None Yet

 */

.lo

  &-i
    float: left
    position: relative
    top: 9px


  &-t
    float: left
