/*

   Detail List

   Base:
    sb

   Elements:
    i = item
    ic = icon
    d = description

   Modifier:
    b = block

 */

.sb
  list-style: none
  margin: 0
  padding: 0

  &-i
    clear: fix
    margin: 0
    padding: 0
    list-style: none
    background: none

    &:not(:first-child)
      padding-top: $sizing-300

    &:not(:last-child)
      border-bottom: 1px dashed $grey-100
      padding-bottom: $sizing-300

    &--b
      line-height: 1

      .sb-ic
        float: none
        width: 100%
      
      .sb-d
        margin-top: $sizing-100

  &-ic
    border: 3px solid
    border-radius: 50%
    width: 35px
    height: 35px
    clear: both
    float: left
    
    &--l
      width: 30%

  &-d
    color: $charles-blue
    float: left
    font-family: $sans
    font-size: responsive $font-100 $font-200
    line-height: "calc(%s * 1.25)" % ($line-height-200)
    text-transform: uppercase
    width: 80%
    padding-left: 35px
    margin-top: 4px
    
    &--s
      width: 70%

    &--tt-n
      text-transform: none

.desktop-33-right 
  margin-left: 3%
  float: right
  width: 30%

.mobile-100 
  margin-bottom: 1.5em
  margin-right: 0

.department-icon
  padding: 13px 0 0 15px
  display: block
  width: 112px
  height: 112px
  border: 3px solid $charles-blue
  border-radius: 100%
  margin-top: 39px

  svg
    height: 76px
    width: 76px

.contact-title
  border-top: 0
  border-right: 0
  border-bottom: 1px
  border-left: 0
  border-style: dashed
  border-color: #e0e0e0
  padding-bottom: 10px
  margin-top: 20px
  font-family: $sans
  text-transform: uppercase
  font-weight: 400
  letter-spacing: 1px
  font-family: Montserrat,sans-serif
  color: $charles-blue