/*

   STICKY SUBMENU MOBILE

   Base:
    ssm-m

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    sm = small

 */

:link {
    color: $optimistic-blue-dark;
    text-decoration: none
}
.inverted,
.inverted:link {
    color: $freedom-red-dark
}
:visited {
    color: $optimistic-blue-dark
}
.inverted:visited {
    color: $freedom-red-dark
}
a:hover,
a:focus {
    color: $freedom-red-dark
}
a.inverted:hover,
a.inverted:focus {
    color: $optimistic-blue-dark;
}
a:active {
    color: $freedom-red-dark;
    background-color: transparent
}
a.inverted:active {
    color: $optimistic-blue-dark
}
a:active,
a:hover {
    outline: 0
}
@media print {
    :link,
    :visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")";
        font-weight: normal;
        font-size: 18px;
        text-decoration: none
    }
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: ''
    }
}
.topic-nav {
    width: 100%;
    left: 0;
    background-color: $white;
    transition: background-color 0.25s ease;
    display: none;
    z-index: 10;
    margin-bottom: 42px
}
@media (min-width: 980px) {
    .topic-nav {
        display: block;
        position: relative;
        top: 0;
        margin-bottom: 45px;
        margin-top: 20px
    }
}
@media (min-width: 980px) {
    .topic-nav.sticky,
    .topic-nav.topic-nav__left.sticky {
        position: fixed;
        top: 65px;
        background-color: $charles-blue;
        z-index: 12;
        padding: 0 0 2px;
        margin-top: 0;
        margin-bottom: 0
    }
    #page #main-menu.sticky {
        position: fixed;
    }
}
.sub-nav-trigger {
    display: block
}
@media (min-width: 980px) {
    .sub-nav-trigger {
        display: none
    }
}
.sub-nav-chevron {
    height: 12px;
    width: 18px;
    float: right;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 4px
}
.sub-nav-chevron .icon-stroke {
    fill: $white
}
.active .sub-nav-chevron {
    -ms-transform: rotate(0);
    transform: rotate(0)
}
.topic-nav ul,
.topic-nav.topic-nav__left.sticky ul {
    width: 100%;
    margin: 0 auto
}
@media (min-width: 980px) {
    .topic-nav ul,
    .topic-nav.topic-nav__left.sticky ul {
        width: 100%;
        text-align: center;
        max-width: none
    }
}
@media (min-width: 980px) {
    .topic-nav.topic-nav__left ul {
        text-align: left
    }
}
@media (min-width: 980px) {
    .topic-nav.topic-nav__left li {
        margin: 0 2em 0 0
    }
}
.topic-nav li,
.topic-nav.topic-nav__left.sticky li {
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: $grey-100;
    margin: 0;
    padding: 0;
    text-indent: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-image: none;
    font-size: 12px;
    line-height: 46px;
    font-size: 0.66667rem;
    line-height: 2.55556rem
}
.topic-nav li:last-child,
.topic-nav.topic-nav__left.sticky li:last-child {
    border-bottom: 1px solid $grey-100
}
.topic-nav li:hover,
.topic-nav.topic-nav__left.sticky li:hover {
    background-color: $optimistic-blue-dark;
    cursor: pointer
}
.topic-nav li:hover a,
.topic-nav li:hover a:link,
.topic-nav li:hover a:visited,
.topic-nav li:hover a:hover,
.topic-nav li:hover a:active,
.topic-nav.topic-nav__left.sticky li:hover a,
.topic-nav.topic-nav__left.sticky li:hover a:link,
.topic-nav.topic-nav__left.sticky li:hover a:visited,
.topic-nav.topic-nav__left.sticky li:hover a:hover,
.topic-nav.topic-nav__left.sticky li:hover a:active {
    color: $white
}
@media (min-width: 980px) {
    .topic-nav li:hover a,
    .topic-nav li:hover a:link,
    .topic-nav li:hover a:visited,
    .topic-nav li:hover a:hover,
    .topic-nav li:hover a:active,
    .topic-nav.topic-nav__left.sticky li:hover a,
    .topic-nav.topic-nav__left.sticky li:hover a:link,
    .topic-nav.topic-nav__left.sticky li:hover a:visited,
    .topic-nav.topic-nav__left.sticky li:hover a:hover,
    .topic-nav.topic-nav__left.sticky li:hover a:active {
        color: $freedom-red-dark
    }
}
.topic-nav li:before,
.topic-nav.topic-nav__left.sticky li:before {
    content: none
}
@media (min-width: 980px) {
    .topic-nav li,
    .topic-nav.topic-nav__left.sticky li {
        display: inline-block;
        margin: 0 1em;
        border: none
    }
    .topic-nav li:last-child,
    .topic-nav.topic-nav__left.sticky li:last-child {
        border-bottom: none
    }
    .topic-nav li:hover,
    .topic-nav.topic-nav__left.sticky li:hover {
        background-color: $white
    }
}
@media (min-width: 980px) {
    .topic-nav.topic-nav__left.sticky li:hover {
        background-color: transparent
    }
}
@media (min-width: 980px) {
    .topic-nav.topic-nav__left.sticky li:hover {
        background-color: transparent
    }
}
@media (min-width: 980px) {
    .topic-nav.sticky li:hover {
        background-color: $charles-blue
    }
}
.topic-nav a {
    display: block;
    text-transform: uppercase;
    font-weight: bold
}
.topic-nav a:hover {
    color: $white
}
.topic-nav a:active,
.topic-nav a:focus {
    color: $freedom-red-dark
}
@media (min-width: 980px) {
    .topic-nav a {
        display: inline
    }
    .topic-nav a:hover,
    .topic-nav a:active,
    .topic-nav a:focus {
        color: $freedom-red-dark
    }
}
.topic-nav.sticky a {
    border-bottom: 2px solid transparent;
    font-weight: normal
}
@media (min-width: 980px) {
    .topic-nav.sticky a.is-active:link,
    .topic-nav.sticky a.is-active:visited {
        color: $freedom-red-dark;
        border-color: $freedom-red-dark
    }
    .topic-nav.sticky a:link,
    .topic-nav.sticky a:visited {
        color: $white
    }
    .topic-nav.sticky a:hover,
    .topic-nav.sticky a:active .topic-nav.sticky a:focus {
        color: $freedom-red-dark
    }
}
.subnav-anchor {
    position: absolute;
    margin-top: -100px
}

.sub-nav-trigger {
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: $white;
  background-color: $optimistic-blue-dark;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border: 0;
  text-transform: uppercase;
  padding: 1.275em 1.5em;
  font-size: 14px;
  line-height: 18px;
  font-size: 0.77778rem;
  line-height: 1rem;
  font-weight: bold;
  margin-top: 10px
}

@media (min-width: 768px) {
    .sub-nav-trigger,
    .sub-nav-trigger:visited {
        margin-top: 0
    }
}
.sub-nav-trigger:hover,
.sub-nav-trigger:visited:hover {
    cursor: pointer
}
.sub-nav-trigger:hover,
.sub-nav-trigger:focus,
.sub-nav-trigger:active,
.sub-nav-trigger:visited:hover,
.sub-nav-trigger:visited:focus,
.sub-nav-trigger:visited:active {
    text-decoration: none;
    color: $white;
    background-color: $freedom-red-dark
}

dl,
ol,
ul {
    margin: 8.97px 0px 39px;
    margin: 0.49833rem 0rem 2.16667rem
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin: 0
}
dd {
    margin: 0 0 0 36px
}
[dir="rtl"] dd {
    margin: 0 36px 0 0
}
ol,
ul {
    padding: 0 0 0 0;
    list-style-position: inside
}
[dir="rtl"] menu,
[dir="rtl"] ol,
[dir="rtl"] ul {
    padding: 0 0 0 0
}
ol {
    counter-reset: section;
    list-style-type: none;
    color: $charles-blue
}
ol li {
    margin: 0px 0px 18px 55px;
    margin: 0rem 0rem 1rem 3.05556rem
}
ol>li:before {
    border: 3px solid;
    border-radius: 100%;
    counter-increment: section;
    content: counters(section, ".") " ";
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 9.75px 0px 0px 0px;
    margin: 0.54167rem 0rem 0rem 0rem;
    text-align: center;
    width: 40px;
    font-family: "Montserrat", sans-serif;
    text-indent: 0;
    margin-left: -55px;
    margin-right: 5px
}
ul li {
    list-style: none;
    padding-left: 1.25em;
    background: url("../images/global/icons/ul-bullet.svg") no-repeat left 14px transparent;
    background-size: 10px;
    margin: 0px 0px 29.25px 0px;
    margin: 0rem 0rem 1.625rem 0rem
}
ul strong,
ul b {
    color: $charles-blue;
    font-weight: 700
}


/*.ssm-m
  background: $white
  font-family: $sans
  letter-spacing: 1px
  border: 0
  text-transform: uppercase
  font-size: .77778rem
  line-height: 1rem

  &-tr
    &:checked ~ .ssm-m, ^[-1]--open .ssm-m
      &-h
        background-color: red

        .ssm-m-t
          color: $white
          
        .ssm-m-ic
          margin-top: -9px

        .ssm-m-i
          fill: $white

    &:checked ~ .ssm-m
      &-c
        display: block

  &-h
    display: block
    margin: 0
    position: relative
    user-select: none
    padding: 1.275em 1.5em
    font-weight: 700

    // these override <button> default styles
    background: $optimistic-blue-dark
    width: 100%
    border: none
    text-align: left

    &:hover, &:focus
      cursor: pointer
      background-color: red
      color: $white

      .ssm-m-t
        color: $white

      .ssm-m-i
        fill: $white

  &-c
    display: none
    background: $white
    padding: $sizing-500

    p:first-child
    ul:first-child
      margin-top: 0

    p:last-child
    ul:last-child
      margin-bottom: 0

    @media $media-small-max
      .paragraphs-item-text-one-column .content
        padding-left: 0
        padding-right: 0

        .responsive-table
          font-size: 4.5vw
          border: 1px solid black
          word-wrap: break-word;
          word-break: break-word;
  &-ic
    height: 20px
    width: 26px
    position: absolute
    right: $sizing-500
    top: 50%
    margin-top: -8px

    svg
      max-height: 100%
      max-width: 100%

  &-i
    fill: $white

  &-t
    color: $white
    

// handle hover interference with focus
.ssm-m.focus-active:hover
  pointer-events: none
  background-color: $white
  color: $optimistic-blue-light

  .ssm-m-t
    color: $optimistic-blue-light

  .ssm-m-i
    fill: $optimistic-blue-light

.ssm-m-h.focus-active:hover
  background-color: $white

.ssm-m.focus-active:focus
  pointer-events: auto
  background-color: $optimistic-blue-light
  color: $white

  .ssm-m-t
    color: $white

  .ssm-m-i
    fill: $white

.ssm-m-h.focus-active:focus-within
  background-color: $optimistic-blue-light
  color: $white

  .ssm-m-t, .ssm-m-ic, .ssm-m-i
    color: $white
    fill: $white

*/