/*

   STICKY SUBMENU MOBILE

   Base:
    ssm-m

   Elements:
    h = header
    c = content
    ic = icon
    t = title
    st = subtitle

   Modifier:
    sm = small

 */


/*
.topic-nav
  width: 100%
  left: 0
  background-color: #fff
  transition: background-color .25s ease
  display: none
  z-index: 10
  margin-bottom: 42px

.sr-only 
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden

ul
  display: block
  list-style-type: disc
  margin-block-start: 1em
  margin-block-end: 1em
  margin-inline-start: 0px
  margin-inline-end: 0px
  padding-inline-start: 40px

.topic-nav.topic-nav__left.sticky li, .topic-nav li
  border-style: solid;
  border-width: 1px 1px 0;
  border-color: #e0e0e0;
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-family: Montserrat,sans-serif;
  text-align: center;
  background-image: none;
  font-size: .66667rem;
  line-height: 2.55556rem;

li 
  display: list-item
*/


.ssm-m
  background: $white
  font-family: $sans
  letter-spacing: 1px
  border: 0
  text-transform: uppercase
  font-size: .77778rem
  line-height: 1rem

  &-tr
    &:checked ~ .ssm-m, ^[-1]--open .ssm-m
      &-h
        background-color: red

        .ssm-m-t
          color: $white
          
        .ssm-m-ic
          margin-top: -9px

        .ssm-m-i
          fill: $white

    &:checked ~ .ssm-m
      &-c
        display: block

  &-h
    display: block
    margin: 0
    position: relative
    user-select: none
    padding: 1.275em 1.5em
    font-weight: 700

    // these override <button> default styles
    background: $optimistic-blue-dark
    width: 100%
    border: none
    text-align: left

    &:hover, &:focus
      cursor: pointer
      background-color: red
      color: $white

      .ssm-m-t
        color: $white

      .ssm-m-i
        fill: $white

  &-c
    display: none
    background: $white
    padding: $sizing-500

    p:first-child
    ul:first-child
      margin-top: 0

    p:last-child
    ul:last-child
      margin-bottom: 0

    @media $media-small-max
      .paragraphs-item-text-one-column .content
        padding-left: 0
        padding-right: 0

        .responsive-table
          font-size: 4.5vw
          border: 1px solid black
          word-wrap: break-word;
          word-break: break-word;
  &-ic
    height: 20px
    width: 26px
    position: absolute
    right: $sizing-500
    top: 50%
    margin-top: -8px

    svg
      max-height: 100%
      max-width: 100%

  &-i
    fill: $white

  &-t
    color: $white
    

// handle hover interference with focus
.ssm-m.focus-active:hover
  pointer-events: none
  background-color: $white
  color: $optimistic-blue-light

  .ssm-m-t
    color: $optimistic-blue-light

  .ssm-m-i
    fill: $optimistic-blue-light

.ssm-m-h.focus-active:hover
  background-color: $white

.ssm-m.focus-active:focus
  pointer-events: auto
  background-color: $optimistic-blue-light
  color: $white

  .ssm-m-t
    color: $white

  .ssm-m-i
    fill: $white

.ssm-m-h.focus-active:focus-within
  background-color: $optimistic-blue-light
  color: $white

  .ssm-m-t, .ssm-m-ic, .ssm-m-i
    color: $white
    fill: $white

