/*

   MAIN NAV

   Base:
    sm-m

 */

.sm
  &-m
    width: 265px
    position: fixed
    top: 0
    bottom: 0
    overflow-y: auto
    background-color: $charles-blue
    z-index: 0
    transition: opacity 0.5s

    @media $media-small
      width: 300px

    &-c
      &-a
        display: block

      &-a
        color: $white !important
        padding: $sizing-300 $sizing-200
        background: $optimistic-blue-dark
        line-height: 1
        margin-top: 2px
        font-family: $sans
        font-size: responsive 14px 16px
        font-range: 480px 1440px
        font-weight: bold
        text-decoration: none
        text-transform: uppercase
        outline-color: white

        &:hover, &:focus
          background-color: $optimistic-blue-hover

        &--h
          display: none

        &.nolink
          background-color: $optimistic-blue-hover

          &:hover, &:focus
            background-color: $optimistic-blue-hover

          &--a
            background-color: $optimistic-blue-dark

        &--y,
        &.three-one-one
          background-color: $charles-blue
          color: $yellow !important

          &:hover, &:focus
            background-color: $optimistic-blue-hover

        // If the menu has kids
        &.nolink
          position: relative
          padding-right: $sizing-600

          &:after
            content: ''
            position: absolute
            right: $sizing-300
            top: 50%
            height: 16px
            width: 16px
            background-image: url(../images/global/icons/chevron.svg)
            background-repeat: no-repeat
            background-position: 95% center
            background-size: contain
            transform: translateY(-50%) rotate(90deg)

          &--a
            &:after
              transform: translateY(-50%) rotate(0)

      &-b
        cursor: pointer
        display: block
        padding: 0
        font-family: $sans
        font-size: responsive 14px 16px
        font-range: 480px 1440px
        text-transform: uppercase
        color: $white
        background: transparent
        margin: 0
        line-height: 1
        border: none
        padding: $sizing-300 $sizing-400 $sizing-300 2.5rem
        width: 100%
        text-align: left
        position: relative

        &:hover, &:focus
          background-color: transparent

        &:before
          content: ''
          position: absolute
          left: $sizing-400
          top: 50%
          height: 13px
          width: 13px
          background-image: url(../images/global/icons/chevron-blue.svg)
          background-repeat: no-repeat
          background-position: 95% center
          background-size: contain
          transform: translateY(-50%) rotate(-180deg)

        &--h
          display: none

      &-l
        margin: 0
        padding: 0
        list-style: none

        &-i
          &--h
            display: none

        &-l
          margin: 0
          padding: 0
          list-style: none

          &--h
            display: none
