.nv {
  &-s {
    lost-utility: clearfix;

    &-l {
      @media #{$media-large} {
        float: right;
      }

      &-a {
        @media #{$media-large} {
          float: left;
        }
      }
    }
  }
}
