/*

   DISPLAY

   Base:
    d

   Modifier:
    b = block
    f = flex
    ib = inline-block
    i = inline

 */

.d
  &--b
    display: block
  &--f
    display: flex
  &--ib
    display: inline-block
  &--i
    display: inline

  @media (min-width: 48.125rem)
    &--b--m
      display: block
    &--f--m
      display: flex
    &--ib--m
      display: inline-block
    &--i--m
      display: inline
