<form class="" action="#" method="post">
  <div class="fs">
    <div class="fs-c m-b300">
      <div class="txt">
        <label for="email" class="txt-l txt-l--mt000">Your email address</label>
        <input id="email" type="text" value="" placeholder="email@address.com" class="txt-f">
      </div>
      <div class="txt">
        <label for="phone_number" class="txt-l txt-l--w txt-l--mt000">Your phone number</label>
        <input id="phone_number" type="text" value="" placeholder="Phone number" class="txt-f">
      </div>
    </div>
    <div class="fs-c fs-c--i">
      <label class="cb">
        <input id="checkbox-call" name="checkbox-call" type="checkbox" value="public_notices" class="cb-f">
        <span class="cb-l cb-l--sans">Call me</span>
      </label>
      <label class="cb">
        <input id="checkbox-text" name="checkbox-text" type="checkbox" value="public_notices" class="cb-f">
        <span class="cb-l cb-l--sans">Text me</span>
      </label>
    </div>
    <hr />
    <div class="fs-c m-b300">
      <div class="txt">
        <label for="first_name" class="txt-l txt-l--mt000">First name</label>
        <input id="first_name" type="text" value="" placeholder="First name" class="txt-f">
      </div>
      <div class="txt">
        <label for="last_name" class="txt-l txt-l--mt000">Last name</label>
        <input id="last_name" type="text" value="" placeholder="Last name" class="txt-f">
      </div>
    </div>
    <div class="fs-c m-b300">
      <div class="txt">
        <label for="zip_code" class="txt-l txt-l--w txt-l--mt000">Your phone number</label>
        <input id="zip_code" type="text" value="" placeholder="Zip code" class="txt-f" size="10">
      </div>
    </div>
    <div class="bc bc--r">
      <button type="submit" class="btn btn--700">Sign Up</button>
    </div>
  </div>
</form>
