/*

   CARD

   Base:
    cd

   Elements:
    t = title
    b = body

   Modifier:
    None Yet

 */

.cd
  display: block
  background-color: $white
  text-decoration: none
  font-family: $serif

  &:hover
    background-color: $optimistic-blue

    .cd-t
    .cd-st
    .cd-d
      color: $white

    .cd-ic
      background-blend-mode: multiply

  &-ic
    padding-bottom: 35%
    background-color: $optimistic-blue
    background-position: center
    background-size: cover

  &-c
    padding: $sizing-700

  &-t
    color: $optimistic-blue
    font-style: italic
    font-size: responsive 18px 25px
    font-range: 480px 1440px
    line-height: $line-height-200
    margin: 0

  &-d
    color: $grey-300
    font-size: responsive 15px 18px
    font-range: 480px 1440px
    line-height: $line-height-300
    margin-top: $sizing-300

  &--plain
    &:hover
      background-color: $white
      .cd-t
        color: $charles-blue
      .cd-st
        color: inherit
      .cd-d
        color: $grey-300

    .cd-t
      color: $charles-blue

// Handle white theme variation
.b--w
  .cd
    border: 2px solid #e0e0e0

    &:hover
      border-color: $optimistic-blue

      .cd-c
        border-color: $optimistic-blue

    &-c
      border-top: 2px solid #e0e0e0
