/*

   CARD

   Base:
    cd

   Elements:
    t = title
    b = body

   Modifier:
    None Yet

 */

.cd
  display: block
  background-color: $white
  text-decoration: none
  font-family: $serif

  &:hover
    background-color: $optimistic-blue

    .cd-t
    .cd-st
    .cd-d
      color: $white

  &-c
    padding: $sizing-700

  &-t
    color: $optimistic-blue
    font-style: italic
    font-size: responsive 18px 25px
    font-range: 480px 1440px
    line-height: $line-height-200
    margin: 0

  &-i
    display: block
    max-height: 100%
    max-width: 100%

  &-d
    color: $grey-300
    font-size: responsive 15px 18px
    font-range: 480px 1440px
    line-height: $line-height-300
    margin-top: $sizing-300
