/*
   CARD

   Base:
    cd

   Elements:
    t = title
    b = body

   Modifier:
    None Yet
 */

.cd {
  display: block;
  font-family: $serif;
  text-decoration: none;
  background-color: $white;

  &:hover {
    background-color: $optimistic-blue-light;

    .cd-t,
    .cd-st,
    .cd-d {
      color: $white;
    }

    .cd-ic {
      background-color: $blended-optimistic-blue;
      background-blend-mode: multiply;
    }
  }

  &-ic {
    padding-bottom: 35%;
    background-color: $optimistic-blue-light;
    background-position: center;
    background-size: cover;
  }

  &-c {
    padding: $sizing-700;
  }

  &-t {
    margin: 0;
    line-height: $line-height-200;
    color: $optimistic-blue-dark;
    font: {
      style: italic;
      size: responsive 18px 25px;
    }
    font-range: 480px 1440px;
  }

  &-d {
    margin-top: $sizing-300;
    line-height: $line-height-300;
    color: $grey-300;
    font-size: responsive 15px 18px;
    font-range: 480px 1440px;

    &--mt0 {
      margin-top: 0;
    }

    p {
      margin: 0 0 1rem;
    }

    &:last-child {
      margin: 0;
    }
  }

  &--plain {
    &:hover {
      background-color: $white;

      .cd-t {
        color: $charles-blue;
      }

      .cd-st {
        color: inherit;
      }

      .cd-d {
        color: $grey-300;
      }
    }

    .cd-t {
      color: $charles-blue;
    }
  }

  &--e[href*="//"]:not([href*="www.boston.gov"]) {
    position: relative;

    &::after {
      content: '';

      z-index: 1;
      position: absolute;
      top: 0;
      right: 1rem;
      height: 40px;
      border-right: 20px solid $charles-blue;
      border-left: 20px solid $charles-blue;
      border-bottom: 10px solid transparent;
    }

    &::before {
      z-index: 2;
      content: '';

      position: absolute;
      top: 0;
      right: 1rem;
      transform: translate(-8px, 11px);
      height: 20px;
      width: 20px;
      background-repeat: no-repeat;
      background-image: url(../images/global/icons/external-link-white.svg);
    }
  }
}
// Handle white theme variation
.b--w {
  $border: 2px solid $grey-100;

  .cd {
    border: $border;

    &:hover {
      border-color: $optimistic-blue-light;

      .cd-c {
        border-color: $optimistic-blue-light;
      }
    }
  }

  &-c {
    border-top: $border;
  }
}
