/*

   LINK CARD

   Base:
    lcd

   Elements:
    t = title
    im = image

   Modifier:
    mini = small

 */

.lcd--mini
  display: block
  height: 100%
  background-color: $grey-000 
  text-decoration: none
  font-family: $serif

  &:hover, &:focus-within
    background-color: $optimistic-blue-dark

    .lcd--mini-t
      color: $white

  .lcd-c
    position: relative
    padding: $sizing-600
    min-height: 50px
    height: 100px
    word-break: normal

    
  &-im
    position: absolute
    width: 10%
    right: 15px
    padding-bottom: 18px
    background-position: right
    background-size: contain
    background-repeat: no-repeat

  &-t
    color: $optimistic-blue-dark
    font-family: Montserrat,sans-serif;
    font-size: responsive 12px 15px
    font-range: 480px 1440px
    line-height: $line-height-200
    margin: 0
    text-transform: uppercase

  .lcd--plain
    &:hover, &:focus-within
      background-color: $white
      .lcd--mini-t
        color: $charles-blue
      .lcd--mini-st
        color: inherit
      .lcd--mini-d
        color: $black

    .lcd--mini-t
      color: $charles-blue


// handle hover interference with focus
.lcd--mini.focus-active:hover
pointer-events: none
background-color: $white

.lcd--mini-t
  color: $optimistic-blue-dark

.lcd--mini-im
  background-color: $optimistic-blue-dark

.lcd--mini.focus-active:focus-within
pointer-events: auto
background-color: $optimistic-blue-dark

.lcd--mini-t
  color: $white

.lcd--mini-im
  background-color: $blended-optimistic-blue
  background-blend-mode: multiply
