/*

   LINK CARD

   Base:
    lcd

   Elements:
    t = title
    st = subtitle
    d = detail
    im = image

 */

.lcd
  display: block
  height: 100%
  background-color: $white
  text-decoration: none
  font-family: $serif

  &:hover, &:focus-within
    background-color: $optimistic-blue-dark

    .lcd-t
    .lcd-st
      color: $white

  &-c
    position: relative
    padding: $sizing-600
    min-height: 100px
    height: 300px
    word-break: normal

    
  &-im
    position: absolute
    width: 10%
    right: 15px
    top: 15px
    padding-bottom: 15px
    background-position: right
    background-size: contain
    background-repeat: no-repeat

  #document
    background-image: url(/images/global/icons/icon-document.svg)

  #external
    background-image: url(/images/global/icons/external-link.svg)


  &-t
    color: $optimistic-blue-dark
    font-family: Montserrat,sans-serif;
    font-weight: 700
    font-size: responsive 12px 15px
    font-range: 480px 1440px
    line-height: $line-height-200
    margin: 0
    text-transform: uppercase

  &-st
    font-size: responsive 15px 18px
    font-range: 480px 1440px
    margin-top: $sizing-200
    word-break: normal

  #bottom
    position: absolute
    bottom: 0
    left: 0

  &-d
    padding: $sizing-600
    color: $black
    font-family: Montserrat,sans-serif
    font-size: responsive 12px 15px
    font-range: 480px 1440px
    line-height: $line-height-300
    text-transform: uppercase
    
    &--mt0
      margin-top: 0

    p
      margin: 0 0 1rem

      &:last-child
        margin: 0

// handle hover interference with focus
.lcd.focus-active:hover
  pointer-events: none
  background-color: $white

  .lcd-t
    color: $optimistic-blue-dark

  .lcd-d
    color: $black

  .lcd-im
    background-color: $optimistic-blue-dark

.lcd.focus-active:focus-within
  pointer-events: auto
  background-color: $optimistic-blue-dark

  .lcd-t, .lcd-d
    color: $white

  .lcd-im
    background-color: $blended-optimistic-blue
    background-blend-mode: multiply
