/*

   LINK CARD MINI

   Base:
    lcd--sm

   Elements:
    t = title
    im = image

   Variants:
    sm = small

 */

.lcd--sm
  display: block
  height: 100%
  background-color: $grey-000 
  text-decoration: none
  font-family: $serif

  &:hover, &:focus-within
    background-color: $optimistic-blue-dark

    .lcd--sm-t
      color: $white

  &-c
    position: relative
    padding: $sizing-600
    min-height: 50px
    height: 100px
    word-break: normal

  &-im
    position: absolute
    width: 10%
    right: 10%
    padding-bottom: 18px
    background-position: right
    background-size: contain
    background-repeat: no-repeat

  #document
    background-image: url(/images/global/icons/icon-document.svg)

  #external
    background-image: url(/images/global/icons/external-link.svg)

  &-t
    color: $optimistic-blue-dark
    font-family: Montserrat,sans-serif;
    font-size: responsive 12px 15px
    font-range: 480px 1440px
    line-height: $line-height-200
    margin: 0
    text-transform: uppercase

// handle hover interference with focus
.lcd--sm.focus-active:hover
  pointer-events: none
  background-color: $white

  .lcd--sm-t
    color: $optimistic-blue-dark

  .lcd--sm-im
    background-color: $optimistic-blue-dark

.lcd--sm.focus-active:focus-within
  pointer-events: auto
  background-color: $optimistic-blue-dark

  .lcd--sm-t
    color: $white

  .lcd--sm-im
    background-color: $blended-optimistic-blue
    background-blend-mode: multiply
