/*

   CARD: PERSON

   Base:
    cd-p

   Elements:
    t = title
    b = body

   Modifier:
    None Yet

 */

.cdp
  display: flex
  flex-direction: column

  &-a
    line-height: $line-height-000

  &-t
    line-height: $line-height-100

  &-l
    display: flex
    align-items: center
    background-color: $grey-000
    text-align: left
    flex: 1

    @media $media-large
      display: block
      text-align: center

    &:hover
      background-color: $optimistic-blue
      color: $white

      .cdp-t
        color: $charles-blue

      .cdp-st
        color: $white

  &-i
    display: block
    width: 110px
    height: 110px
    object-fit: cover
    border-radius: 100%
    margin-right: $sizing-300

    @media $media-large
      width: 120px
      height: 120px
      margin: 0 auto $sizing-300

    @media $media-xlarge
      width: 148px
      height: 148px
      margin: 0 auto $sizing-500

    @media $media-xxlarge
      width: 173px
      height: 173px

/* Handle theme variations */
.b--g
  .cdp
    &-l
      background-color: $white

      &:hover
        background-color: $optimistic-blue

.b--b
  .cdp
    &-a
      background-color: $optimistic-blue
      border-top: $border-200 solid $charles-blue

      &:hover
        color: $white
        background-color: $freedom-red
