/*

   RESOURCE CARD 1: PERSON

   Base:
    cd-r

   Elements:
    t = title
    b = body

   Modifier:
    None Yet

 */

.cdr
  display: flex
  flex-direction: column
  min-height: 300px
  height: 500px

  &-a
    padding: 3px
    width: 100%
    text-transform: uppercase
    font-family: Montserrat,sans-serif
    font-weight: normal
    font-size: responsive 12px 15px
    letter-spacing: 1px
    color: $white

  &-t
    font-family: Montserrat,Arial,sans-serif
    font-weight: 700
    text-transform: uppercase
    color: $black
    font-size: 1rem
    letter-spacing: 0

  &-l
    display: flex
    flex-grow: 1
    align-items: center
    background-color: $grey-000
    text-align: left
    width: 100%

    @media $media-large
      display: block
      text-align: center

  &-i
    display: block
    width: 80px
    height: 80px
    object-fit: cover
    border-radius: 100%
    margin-right: $sizing-300
    margin-top: $sizing-400

    @media $media-large
      width: 120px
      height: 120px
      margin: 0 auto $sizing-300

    @media $media-xlarge
      width: 148px
      height: 148px
      margin: 0 auto $sizing-500

    @media $media-xxlarge
      width: 173px
      height: 173px

    // Option for always centering, even on mobile breakpoints
    &--c
      margin: 0 auto;

// handle hover interference with focus
.cdr.focus-active:hover
  pointer-events: none
  background-color: $white

.b--g .cdr-l.focus-active:hover, .b--b .cdr-l.focus-active:hover
  pointer-events: none
  background-color: $white
  color: $optimistic-blue-dark

.b--b .cdr-a.focus-active:hover
  pointer-events: none
  color: $white
  background-color: $optimistic-blue-dark

.b--g .cdr-a.focus-active:hover, .b--w .cdr-a.focus-active:hover
  pointer-events: none
  color: $white
  background-color: $charles-blue

.b--g .cdr-l.focus-active:hover .cdr-st, .b--b .cdr-l.focus-active:hover .cdr-st, .cdr-l.focus-active:hover .cdr-st
  pointer-events: none
  color: $body-text

.b--g .cdr-a.focus-active:focus, .b--w .cdr-a.focus-active:focus
  pointer-events: auto
  color: $optimistic-blue-light

.b--b .cdr-a.focus-active:focus
  pointer-events: auto
  background-color: $freedom-red-light
  color: $white

.cdr-l.focus-active:hover:focus .cdr-st
  color: $white