/*

   CARD: PERSON

   Base:
    cd-p

   Elements:
    t = title
    b = body

   Modifier:
    None Yet

 */

.cds
  &:not(:first-child)
    border-top: 1px dotted $grey-200
    padding-top: $sizing-400

    @media $media-large
      border-top: none
      padding-top: 0

  &-ic
    margin-right: $sizing-300
    position: relative
    display: inline-block
    height: 65px
    width: 65px

    @media $media-large
      margin-left: auto
      margin-right: auto

  &-d
    p:last-child
      margin: 0

  &-c
    flex: 1

  &-ia
    position: absolute
    top: -5px
    right: -5px
    max-width: 28px
    max-height: 28px

  &-t
    font-size: responsive 14px 16px
    line-height: $line-height-100

  &-l
    background-color: rgb(255,255,255);
    display: flex
    text-align: left
    flex: 1

    @media $media-large
      display: block
      text-align: center

    &:hover, &:focus
      color: $optimistic-blue-dark

      .cds-t
        text-decoration: underline

      .svg-stroke-hover
        stroke: $optimistic-blue-light

      .svg-fill-hover
        fill: $optimistic-blue-light

/* Handle theme variations */
.b--g
  .cdp
    &-l
      background-color: $white

      &:hover, &:focus
        background-color: $optimistic-blue-light

// handle hover interference with focus
.cds.focus-active:hover
  pointer-events: none
  color: #FB4D42

.cds-l.focus-active:hover .svg-stroke-hover
  color: #FB4D42
  stroke: #FB4D42
  pointer-events: none

.cds-l.focus-active:hover .cds-t
  text-decoration: none

.cds-l.focus-active:hover .svg-fill-hover
  fill: #FB4D42

.cds.focus-active:focus
  color: $optimistic-blue-dark

.cds-l.focus-active:focus .svg-stroke-hover
  color: #FB4D42
  stroke: #FB4D42
  pointer-events: none

.cds-l.focus-active:focus .cds-t
  text-decoration: none

.cds-l.focus-active:focus .svg-fill-hover
  fill: #FB4D42
