/*

   HEIGHT

   Base:
    h

 */

.h
  // REM based heights
  &--7
    height: 7.8125rem // 125px at desktop

  // Percentage based heights
  &-p
    &--65
      height: 65%

  // Name based heights (these scaler responsively)
  &-n
    &--xl
      height: 500px

      @media (max-width: 750px)
        height: 400px

      @media (max-width: 390px)
        height: 300px
