/*

   PADDING

   Base:
    p

 */

.p
  &-a
    &--0
      padding: 0
    &--1
      padding: 0.125rem
    &--2
      padding: 0.25rem
    &--3
      padding: 0.5rem
    &--4
      padding: 1rem
    &--7
      padding: 7.8125rem
  &-t
    &--0
      padding-top: 0
    &--1
      padding-top: 0.125rem
    &--2
      padding-top: 0.25rem
    &--3
      padding-top: 0.5rem
    &--7
      padding-top: 7.8125rem
  &-r
    &--0
      padding-right: 0
    &--1
      padding-right: 0.125rem
    &--2
      padding-right: 0.25rem
    &--3
      padding-right: 0.5rem
    &--7
      padding-right: 7.8125rem
  &-b
    &--0
      padding-bottom: 0
    &--1
      padding-bottom: 0.125rem
    &--2
      padding-bottom: 0.25rem
    &--3
      padding-bottom: 0.5rem
    &--7
      padding-bottom: 7.8125rem
  &-l
    &--0
      padding-left: 0
    &--1
      padding-left: 0.125rem
    &--2
      padding-left: 0.25rem
    &--3
      padding-left: 0.5rem
    &--7
      padding-left: 7.8125rem
