{{#each cards as |card|}}
  <a href="{{ card.href }}" class="lcd--sm m-t500 g--4--xxl g--6 {{card.variant}}">
    <div class="lcd--sm-c">
      {{#if variant}}
        <div class="lcd--sm-im"></div>
      {{/if}}
      <div class="lcd--sm-t">{{ card.title }}</div>
    </div>
  </a>
{{/each}}
