/*

   Department Icon

   Base:
    di

   Elements:
    i = icon
    ic = icon container
    tt = tooltip
    c = in a circle
    c--w = in a circle with a white border
    c--l = in a big circle

   Modifier:
    None Yet

 */

.di
  display: none

  @media $media-xlarge
    display: block

  &--c
    border: 3px solid $charles-blue
    height: 120px
    width: 120px
    position: relative
    border-radius: 50%

    .di-a
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

    .di-i
    img
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    &--w
      border-color: $white

    &--l
      height: 150px
      width: 150px

      .di-i
      img
        max-width: 65px
        max-height: 65px


  &-i
  img
    width: 100%
    max-width: 60px
    max-height: 60px

  &-a
    display: block

  &-tt
    display: block
    position: relative

    &:hover:before
    &:hover:after
    &:focus:before
    &:focus:after
      visibility: visible;
      opacity: 1;

    &:before
    &:after
      visibility: hidden
      opacity: 0
      pointer-events: none

    &:after
      position: absolute
      bottom: 120%
      left: 50%
      transform: translateX(-50%)
      margin-bottom: -5px
      width: 0
      border-top: 5px solid $charles-blue
      border-right: 5px solid transparent
      border-left: 5px solid transparent
      content: " "
      font-size: 0
      line-height: 0

    &:before
      background-color: $charles-blue
      font-family: $sans
      line-height: $line-height-200
      text-transform: uppercase
      padding: $sizing-200
      position: absolute
      bottom: 120%
      left: 50%
      transform: translateX(-50%)
      width: 160px
      color: #fff
      content: attr(title)
      text-align: center
      font-size: $font-100
