<ul class="pg">
  <li class="pg-li">
    <a class= "pg-li-i pg-li-i--link" href="http://search.boston.gov?page=11&amp;q=city+clerk">« First</a>
  </li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=9&amp;q=city+clerk">9</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=10&amp;q=city+clerk">10</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=11&amp;q=city+clerk">11</a></li>
  <li class="pg-li"><a class="pg-li-i--a pg-li-i pg-li-i--link" href="http://search.boston.gov?page=12&amp;q=city+clerk">12</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=13&amp;q=city+clerk">13</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=14&amp;q=city+clerk">14</a></li>
  <li class="pg-li">
    <a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=13&amp;q=city+clerk">Last »</a>
  </li>
</ul>
