<ul class="pg">
  <li class="pg-li pg-disabled pg-first"><span class="pg-li-i" title="Go to first page">First ›</span></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=1&amp;q=city+clerk" title="Go to page 1">1</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=2&amp;q=city+clerk" title="Go to page 2">2</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=3&amp;q=city+clerk" title="Go to page 3">3</a></li>
  <li class="pg-li"><a class="pg-li-i--a pg-li-i pg-li-i--link" href="http://search.boston.gov?page=4&amp;q=city+clerk" title="Go to page 4">4</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=5&amp;q=city+clerk" title="Go to page 5">5</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=6&amp;q=city+clerk" title="Go to page 6">6</a></li>
  <li class="pg-li pg-next pg-last"><a class="pg-li-i pg-li-i--link" href="#" title="Go to next page">Last »</a></li>
</ul>

<ul class="pg">
  <li class="pg-li pg-previous pg-first"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=11&amp;q=city+clerk">« First</a></li>
  <li class="pg-li">
    <a class="pg-li-i pg-li-i--link" href="?title=&amp;field_published_date_value%5Bmin%5D=&amp;field_published_date_value%5Bmax%5D=&amp;page=0" title="Go to previous page" rel="prev">
      <span class="visually-hidden" style="display:none;">Previous page</span>
      <span aria-hidden="true">‹‹</span>
    </a>
  </li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=9&amp;q=city+clerk" title="Go to page 9">9</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--a pg-li-i--link" href="http://search.boston.gov?page=10&amp;q=city+clerk" title="Go to page 10">10</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=9&amp;q=city+clerk" title="Go to page 11">11</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=12&amp;q=city+clerk" title="Go to page 12">12</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=15&amp;q=city+clerk" title="Go to page 13">13</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=14&amp;q=city+clerk" title="Go to page 14">14</a></li>
  <li class="pg-li">
    <a class="pg-li-i pg-li-i--link" href="?title=&amp;field_published_date_value%5Bmin%5D=&amp;field_published_date_value%5Bmax%5D=&amp;page=2" title="Go to next page" rel="next">
      <span class="visually-hidden" style="display:none;">Next page</span>
      <span aria-hidden="true">››</span>
    </a>
  </li>
  <li class="pg-li pg-disabled pg-last"><span class="pg-li-i" title="Go to first page">‹ Last</span></li>
</ul>

<ul class="pg">
  <li class="pg-li pg-previous pg-first"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=11&amp;q=city+clerk">« First</a></li>
  <li class="pg-li">
    <a class="pg-li-i pg-li-i--link" href="?title=&amp;field_published_date_value%5Bmin%5D=&amp;field_published_date_value%5Bmax%5D=&amp;page=0" title="Go to previous page" rel="prev">
      <span class="visually-hidden" style="display:none;">Previous page</span>
      <span aria-hidden="true">‹‹</span>
    </a>
  </li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=9&amp;q=city+clerk" title="Go to page 9">9</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=10&amp;q=city+clerk" title="Go to page 10">10</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=15&amp;q=city+clerk" title="Go to page 10">11</a></li>
  <li class="pg-li"><a class="pg-li-i--a pg-li-i pg-li-i--link" href="http://search.boston.gov?page=12&amp;q=city+clerk" title="Go to page 12">12</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=16&amp;q=city+clerk" title="Go to page 10">13</a></li>
  <li class="pg-li"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=14&amp;q=city+clerk" title="Go to page 14">14</a></li>
  <li class="pg-li pg-ellipsis" role="presentation"><span class="pg-li-i" title="Go to first page">…</span></li>
  <li class="pg-li">
    <a class="pg-li-i pg-li-i--link" href="?title=&amp;field_published_date_value%5Bmin%5D=&amp;field_published_date_value%5Bmax%5D=&amp;page=2" title="Go to next page" rel="next">
      <span class="visually-hidden" style="display:none;">Next page</span>
      <span aria-hidden="true">››</span>
    </a>
  </li>
  <li class="pg-li pg-next pg-last"><a class="pg-li-i pg-li-i--link" href="http://search.boston.gov?page=19&amp;q=city+clerk">Last »</a></li>
</ul>

<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
  
</nav>