.hb
  background-color: $freedom-red
  cursor: pointer
  display: block
  height: 65px
  position: relative
  width: 65px
  user-select: none

  &-w
    left: 50%
    padding-top: 3px
    position: absolute
    text-align: center
    top: 50%
    transform: translateY(-50%) translateX(-50%)

  &-b
    hamburger-generator(27px, 4px, 4px, #fff, $timing-function: linear)

  &-t
    color: #ffffff
    font-family: $sans
    font-size: 0.5rem
    padding-top: 2px
    text-transform: uppercase
    letter-spacing: 0.5px

  &-tr
    display: none

    &:checked ~ .mn
      .hb
        &-b
          hamburger-animation()
