$icon_search = url(../images/public/icons/search.svg)
$icon_search_yellow = url(../images/public/icons/search-yellow.svg)
$check = url(../images/public/icons/check.svg)
$check_red = url(../images/public/icons/check-red.svg)
