$charles-blue     = #091f2f
$freedom-red      = #fb4d42
$optimistic-blue  = #288be4
$optimistic-blue-hover = #175182
$yellow           = #fcb61a
$yellow-hover     = darken($yellow, 20)
$white            = #ffffff
$grey-000         = #f3f3f3
$grey-100         = #e0e0e0
$grey-200         = #C8C8C8
$grey-300         = #828282

// Component specific colors
$seal-bg          = $white
$hero-main        = $optimistic-blue
$hero-alt         = #2d82cf
$nav-header       = $white
$nav-header-text  = $charles-blue
$blended-optimistic-blue = blend(rgba(#FFF, 0.35), $optimistic-blue)
