$charles-blue     = #091f2f
$freedom-red      = #fb4d42
$optimistic-blue  = #288be4
$yellow           = #fcb61a
$white            = #ffffff
$grey-000         = #f3f3f3
$grey-100         = #e0e0e0
$grey-300         = #828282
