// Families
$serif = "Lora", Georgia, serif
$sans = "Montserrat", Arial, sans-serif

// Sizes
$font100 = 0.75rem // ~12px
$font200 = 0.875rem // ~14px
$font300 = 1rem // ~16px
$font400 = 1.125rem // ~18px
$font500 = 1.25rem // ~20px
$font600 = 1.4rem // ~25px // fixed
$font700 = 2.125rem // ~20px
$font800 = 2.8125rem // ~45px
