// Families
$serif: "Lora", Georgia, serif;
$sans: "Montserrat", Arial, sans-serif;

// Sizes
$font-100: 0.75rem; // ~12px
$font-200: 0.875rem; // ~14px
$font-300: 1rem; // ~16px
$font-400: 1.125rem; // ~18px
$font-500: 1.25rem; // ~20px
$font-600: 1.4rem; // ~25px // fixed
$font-700: 1.6667rem; // ~20px
$font-800: 2.8125rem; // ~45px
