$breakpoint-small = '480px'
$breakpoint-small-max = '479px'
$breakpoint-medium = '768px'
$breakpoint-medium-max = '767px'
$breakpoint-large = '840px'
$breakpoint-large-max = '839px'
$breakpoint-xlarge = '980px'
$breakpoint-xlarge-max = '979px'
$breakpoint-xxlarge = '1280px'
$breakpoint-xxlarge-max = '1279px'
$breakpoint-xxlarge2 = '1239px'

$media-small  = 'screen and (min-width: ' + $breakpoint-small + ')'
$media-small-max  = 'screen and (max-width: ' + $breakpoint-small-max + ')'
$media-medium = 'screen and (min-width: ' + $breakpoint-medium + ')'
$media-medium-max  = 'screen and (max-width: ' + $breakpoint-medium-max + ')'
$media-large  = 'screen and (min-width: ' + $breakpoint-large + ')'
$media-large-max  = 'screen and (max-width: ' + $breakpoint-large-max + ')'
$media-xlarge = 'screen and (min-width: ' + $breakpoint-xlarge + ')'
$media-xlarge-max  = 'screen and (max-width: ' + $breakpoint-xlarge-max + ')'
$media-xxlarge = 'screen and (min-width: ' + $breakpoint-xxlarge + ')'
$media-xxlarge-max  = 'screen and (max-width: ' + $breakpoint-xxlarge-max + ')'

// Ranges
$media-table-to-desktop-portrait = 'screen and (min-width: ' + $breakpoint-medium + ') and (max-width: ' + $breakpoint-xxlarge-max + ')'

// $media-small  = 'screen and (min-width: 480px)'
// $media-small-max  = 'screen and (max-width: 479px)'
// $media-medium = 'screen and (min-width: 768px)'
// $media-medium-max  = 'screen and (max-width: 767px)'
// $media-large  = 'screen and (min-width: 840px)'
// $media-large-max  = 'screen and (max-width: 839px)'
// $media-xlarge = 'screen and (min-width: 980px)'
// $media-xlarge-max  = 'screen and (max-width: 979px)'
// $media-xxlarge = 'screen and (min-width: 1280px)'
// $media-xxlarge-max  = 'screen and (max-width: 1279px)'
