$media-small  = 'screen and (min-width: 480px)'
$media-small-max  = 'screen and (max-width: 479px)'
$media-medium = 'screen and (min-width: 768px)'
$media-medium-max  = 'screen and (max-width: 767px)'
$media-large  = 'screen and (min-width: 840px)'
$media-large-max  = 'screen and (max-width: 839px)'
$media-xlarge = 'screen and (min-width: 980px)'
$media-xlarge-max  = 'screen and (max-width: 979px)'
$media-xxlarge = 'screen and (min-width: 1280px)'
$media-xxlarge-max  = 'screen and (max-width: 1279px)'
