$media-small  = 'screen and (min-width: 480px)'
$media-medium = 'screen and (min-width: 768px)'
$media-large  = 'screen and (min-width: 840px)'
$media-large-max  = 'screen and (max-width: 839px)'
$media-xlarge = 'screen and (min-width: 980px)'
$media-xxlarge = 'screen and (min-width: 1280px)'
