<input type="checkbox" id="hb-tr" class="hb-tr" aria-hidden="true">
<div class="h">
  <label for="hb-tr" class="hb" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
    <div class="hb-w">
      <div class="hb-b"></div>
      <div class="hb-t">Menu</div>
    </div>
  </label>
</div>
