<label for="brg-tr" class="brg" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
  <div class="brg-w">
    <div class="brg-b"></div>
    <div class="brg-t">Menu</div>
  </div>
</label>
