<label for="hb-tr" class="hb" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
  <div class="hb-w">
    <div class="hb-b"></div>
    <div class="hb-t">Menu</div>
  </div>
</label>
