<form class="{{ action }}" action="{{ action }}" method="{{ method }}">
  <div class="fs">
    <div class="fs-c fs-c--i">
      {{> @textbox }}
    </div>
    <div class="bc bc--r">
      <button type="submit" class="btn btn--700" name="Sign Up">Sign Up</button>
    </div>
  </div>
</form>
