{{#each cards as |card|}}
  <a href="{{ card.href }}" class="lcd--mini m-t500 g--4 g--4--sl{{#../theme}} lcd--mini--{{this}}{{/../theme}}">
    <div class="lcd--mini-c">
      {{#if card.image}}
      <div class="lcd--mini-im" style="background-image: url({{ card.image.url }})"></div>
      {{/if}}
      <div class="lcd--mini-t">{{ card.title }}</div>
    </div>
  </a>
{{/each}}