<div class="p-a500">
  <div class="g">
    {{#each icons as |icon|}}
      <div class="g--4 m-b500 br br-a150">
        <div class="p-a300 ta--c t--upper t--cb t--sans">
          {{filename_to_title_format icon.file}}
        </div>
        
        <div class="icon">
          <img src="https://assets.boston.gov/icons/circle_icons/{{icon.file}}" style="max-height: 200px" />
        </div>

        <div class="p-a300 t--sans">
          <a href="https://assets.boston.gov/icons/circle_icons/{{icon.file}}">File URL</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>
