<div class="g">
    <div class="g--6 m-b300">
    <a href="https://d8-uat.boston.gov/news/city-boston-kicks-free-summer-fitness-series" class="item-link"
    title="https://d8-uat.boston.gov/news/city-boston-kicks-free-summer-fitness-series" aria-label="City of Boston kicks off free Summer Fitness Series
"></a>
<div class="n--a-news-item-wrapper">
    <div class="n--a-thumb-wrapper float-left">
        <img src="https://www.thebostoncalendar.com/system/events/photos/000/349/108/large/190346639_10159301409197929_545550673722616510_n.png?1622551716 "
            width="190" height="190" alt="Parks Summer Fitness Series" typeof="foaf:Image">
        <div class="n--a-date-flag"><time datetime="2021-06-03T10:15:09Z">Jun 3</time>
        </div>
    </div>

    <div class="n--a-text-wrapper">

        <h3 class="n--a-title"><span>City of Boston kicks off free Summer Fitness Series
            </span></h3>
        <div class="n--a-department-title">Parks and Recreation</div>
    </div>
    </div>
</div>
    <div class="g--6 m-b300">
    <a href="https://d8-uat.boston.gov/news/city-boston-kicks-free-summer-fitness-series" class="item-link"
    title="https://d8-uat.boston.gov/news/city-boston-kicks-free-summer-fitness-series" aria-label="City of Boston kicks off free Summer Fitness Series
"></a>
<div class="n--a-news-item-wrapper">
    <div class="n--a-thumb-wrapper float-left">
        <img src="https://www.thebostoncalendar.com/system/events/photos/000/349/108/large/190346639_10159301409197929_545550673722616510_n.png?1622551716 "
            width="190" height="190" alt="Parks Summer Fitness Series" typeof="foaf:Image">
        <div class="n--a-date-flag"><time datetime="2021-06-03T10:15:09Z">Jun 3</time>
        </div>
    </div>

    <div class="n--a-text-wrapper">

        <h3 class="n--a-title"><span>City of Boston kicks off free Summer Fitness Series
            </span></h3>
        <div class="n--a-department-title">Parks and Recreation</div>
    </div>

</div>
    </div>
</div>

