<div class="b b--fw">
  <div class="b-c">
    {{> @section_header }}
    <div class="g">
      {{> @resource-1 }}
      {{> @resource-2 }}
      {{> @resource-3 }}
      {{> @resource-4 }}
    </div>
  </div>
</div>
