/*

   SECTION HEADERS

   Base:
    sh

   Modifier:
    w = white
    y = yellow

 */

.sh
  border-bottom: $border-400 solid $charles-blue
  padding-bottom: $sizing-100

  &-title
    margin: 0
    font-family: $sans
    font-size: $font600
    font-weight: 700
    padding-right: $sizing-300
    line-height: 1
    color: $charles-blue
    text-transform: uppercase

  &-contact
    font-style: italic

  @media $media-medium
    display: flex
    align-items: baseline

    &-contact
      margin-left: auto

    &-title
      font-size: $font800
