/*

   BLOCK THEMES

   Base:
    b--b

 */

.b
  &--b
  &--dark-blue
    background-color: $charles-blue
    color: $white

  &.b--wt
    &:after
      border-top-color: $charles-blue

    // Handle text
    .t
      &--intro
      &--info
        color: $white

    // Handle form elements
    .txt
      &-l
        color: $white

      &-f
        border-color: $white
        color: $charles-blue

    .sel
      &-l
        color: $white

      &-f
        border-color: $white
        color: $charles-blue

      &-c:after
        border-color: $white

    .cb
      &-l
        color: $white
