/*

   BLOCKS

   Base:
    b

   Modifier:
    g = grey
    b = blue

 */

.b
  // Block content
  &-c
    max-width: 66.67rem
    margin: 0 auto
    padding: $sizing-700

  // Block with grey background
  &--g
    background-color: $grey-000

  @media $media-large
    &-c
      padding: $sizing-800
