/*

   BLOCKS

   Base:
    b

   Modifier:
    fw = full-width
    g = grey
    b = blue

   Element:
    c = content
    fv = filters (vertical)
 */

.b
  // Block content
  &-c
    max-width: 66.67rem
    margin: 0 auto
    padding: $sizing-700 10%

  // Vertical filters tab
  &-fv
    max-width: 66.67rem
    margin: 0 auto
    padding: $sizing-300 10%

  &--fw
    left: 50%
    position: relative
    transform: translate(-50%,0)
    width: 100vw

  &--b
    background-color: $charles-blue

  &--by
    border-top: $border-400 solid $yellow

  // Block with grey background
  &--g
    background-color: $grey-000

  // Block with white background
  &--w
    background-color: #ffffff

  // Blocks with padding
  &--p300
    padding: $sizing-300

  // Blocks with margin
  &--mb300
    margin-bottom: $sizing-300

  @media $media-xxlarge
    &-c
      padding: $sizing-800 0

    &-fv
      padding: $sizing-300
