<div style="max-width: 400px; padding: 1em;">
{{#each checkboxes as |checkbox|}}
  <label class="cb" for="checkbox-{{index}}">
    <input id="checkbox-{{index}}" name="public_notices" type="checkbox" value="public_notices" class="cb-f">
    <span class="cb-l">{{label}}</span>
  </label>
{{/each}}
</div>