<div class="b-c">

    

    <div class="sh">
      
    <h2 class="sh-title">Test Grid of Quotes</h2>

      
    </div>

    <div class="section-grid-of-quotes">
          <div class="paragraphs-items paragraphs-items-field-grid-of-quotes paragraphs-items-full paragraphs-items-field-grid-of-quotes-full field field-name-field-grid-of-quotes field-type-entity-reference-revisions field-label-hidden field-items">
            <div class="quote" bos_context_type="Quote">
      <div class="quote-text">
      "            This is a test quote for a test.
      "
    </div>
    <div class="quote-details">
    <div class="quote-photo">
                          <a href="/media/image/35406" hreflang="und">third space</a>
      
          </div>
          <div class="quote-person-details">
                  <div class="quote-name">
                        First
      
                        t.
          </div>
                            <div class="quote-location">
                          Fenway/Kenmore
      
            </div>
              </div>
      </div>
</div>

              <div class="quote" bos_context_type="Quote">
      <div class="quote-text">
      "            Entering a test quote here to test a second quote.
      "
    </div>
    <div class="quote-details">
    <div class="quote-photo">
              <img src="https://patterns.boston.gov/images/global/icons/quote.svg" alt="No picture available">
          </div>
          <div class="quote-person-details">
                  <div class="quote-name">
                        Last
      
                        s.
          </div>
                            <div class="quote-location">
              
            </div>
              </div>
      </div>
</div>

          </div>

    </div>

  </div>