<div class="b">
  <div class="b-c">
    <div class="h2 tt-u ta-c p-h300">{{ title }}</div>
    <hr class="hr hr--sq m-h300 m-v500" />
    <div class="ta-c p-h200 t--intro">
      {{ text }}
    </div>
  </div>
  <div class="b-c">
    <div class="h1 tt-u ta-c p-h300">{{ title }}</div>
    <div class="ta-c p-h200 t--intro">
      {{ text }}
    </div>
    <hr class="hr hr--sq m-h300 m-v500" />
  </div>
</div>
