<div class="br br-t100{{#if theme}} br--{{theme}}{{/if}}">
  Border 100
</div>
<div class="br br-t200{{#if theme}} br--{{theme}}{{/if}}">
  Border 200
</div>
<div class="br br-t300{{#if theme}} br--{{theme}}{{/if}}">
  Border 300
</div>
<div class="br br-t400{{#if theme}} br--{{theme}}{{/if}}">
  Border 400
</div>
