<div style="height: 200px; display: flex;" class="b{{#if container_classes}} {{container_classes}}{{/if}}">
  <div class="sep{{#if separator_classes}} {{separator_classes}}{{/if}}">
    <div class="sep-l"></div>
    <div class="sep-c">or</div>
    <div class="sep-l"></div>
  </div>
</div>
