

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <!--[if !IE]><!-->
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
  <!--<![endif]-->
  <!--[if lt IE 10]>
    <link media="all" rel="stylesheet" href="../../css/ie.css">
  <![endif]-->
  <title>Preview Layout</title>
</head>
<body>
  <div class="addr addr--s" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <div itemprop="streetAddress" class="addr-a">
    Boston City Hall, Room #241
      <br />
      2nd floor
      <br />
      1 City Hall Square
  </div>
  <div class="addr-l">
    <span itemprop="addressLocality">Boston</span>, <span itemprop="addressRegion">MA</span> <span itemprop="postalCode">02201</span>
  </div>
</div>

  <script src="../../scripts/all.js"></script>
</body>
</html>

