

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../css/hub.css" />
  <title>Preview Layout</title>
</head>
<body>
  <div style="min-height: 100vh; display: flex; align-items: center; justify-content: center; background-color: #091f2f">
    <div class="di di--c di--c--w">
  <div class="di-ic">
    <a href="/departments/innovation-and-technology" title="Innovation and Technology" class="di-a">
      <img typeof="foaf:Image" src="https://www.boston.gov/sites/default/files/department_icons/icons_doit.svg" alt="Innovation and Technology" class="di-i">
    </a>
  </div>
</div>

  </div>
  <script src="../../scripts/all.js"></script>
</body>
</html>

