

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../css/hub.css" />
  <title>Preview Layout</title>
</head>
<body>
  <div class="g g--m0 n-li">
  <div class="g--6 n-li-b n-li-b--br">
    <div class="n-li-t"><a  href="">Board Meeting: Boston Redevelopment Authority</a></div>
      <div class="n-li-a">Public testimony beings at 5:30pm</div>
  </div>
  <div class="g--6 n-li-b">
    <div class="g g--m0">
      <div class="g--10">
        <ul class="dl">
    <li class="dl-i">
      <span class="dl-t">When</span>
      <span class="dl-d">April 15, 2015 4:00PM - 6:00PM</span>
    </li>
    <li class="dl-i">
      <span class="dl-t">Posted</span>
      <span class="dl-d">11/27/2016 - 10:45AM</span>
    </li>
    <li class="dl-i">
      <span class="dl-t">Updated</span>
      <span class="dl-d">11/27/2016 - 10:45AM</span>
    </li>
  <li class="dl-i">
    <span class="dl-t">Where</span>
    <span class="dl-d"><div class="addr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <div itemprop="streetAddress" class="addr-a">
    Boston City Hall, Room #241
      <br />
      2nd floor
      <br />
      1 City Hall Square
  </div>
  <div class="addr-l">
    <span itemprop="addressLocality">Boston</span>, <span itemprop="addressRegion">MA</span> <span itemprop="postalCode">02201</span>
  </div>
</div>
</span>
  </li>
</ul>

      </div>
      <div class="g--2 n-li-ic">
        <div class="di">
  <div class="di-ic">
    <a href="/departments/innovation-and-technology" title="Innovation and Technology" class="di-tt">
      <img typeof="foaf:Image" src="https://www.boston.gov/sites/default/files/department_icons/icons_doit.svg" alt="Innovation and Technology" class="di-i">
    </a>
  </div>
</div>

      </div>
    </div>
  </div>
</div>

  <script src="../../scripts/all.js"></script>
</body>
</html>

