

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <!--[if !IE]><!-->
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
  <!--<![endif]-->
  <!--[if lt IE 10]>
    <link media="all" rel="stylesheet" href="../../css/ie.css">
  <![endif]-->
  <title>Preview Layout</title>
</head>
<body>
    <div class="sel">
    <label for="language" class="sel-l">Choose a language</label>
    <div class="sel-c">
      <select name="language" id="language" class="sel-f">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="cn">Chinese</option>
      </select>
    </div>
  </div>
  <div class="sel">
    <label for="language" class="sel-l">Choose a language</label>
    <div class="sel-c sel-c--fw">
      <select name="language" id="language" class="sel-f">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="cn">Chinese</option>
      </select>
    </div>
  </div>
  <div class="sel">
    <label for="language" class="sel-l sel-l--err">Choose a language</label>
    <div class="sel-c sel-c--fw sel-c--err">
      <select name="language" id="language" class="sel-f sel-f--err">
          <option value="en">English</option>
          <option value="es">Spanish</option>
          <option value="cn">Chinese</option>
      </select>
    </div>
      <div class="t--subinfo t--err m-t100">Please select a language</div>
  </div>

  <script src="../../scripts/all.js"></script>
</body>
</html>

