

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700" rel="stylesheet">
  <!--[if !IE]><!-->
	<link rel="stylesheet" type="text/css" href="../../css/public.css" />
  <!--<![endif]-->
  <!--[if lt IE 10]>
    <link media="all" rel="stylesheet" href="../../css/ie.css">
  <![endif]-->
  <title>Preview Layout</title>
</head>
<body>
  <div class="b b--fw">
  <div id="vid" class="vid" style="background-image: url(/images/crispus/boston.jpg)" data-vid-id="bTqVqk7FSmY" data-vid-channel="">
    <div class="vid-c">
      <div class="vid-ci">
        <div class="b-c">
          <div class="vid-t">Meet the pothole kings</div>
          <div class="vid-st m-t300">By: <a href="https://www.boston.gov/departments/public-works" class="vid-st-a">Public Works</a></div>
          <div class="vid-ic m-t300">
            <button class="vid-cta">
              <img src="/images/global/icons/play.svg" alt="Play Video" height="97" width="97" class="vid-cta-i" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="../../scripts/all.js"></script>
</body>
</html>

