<table border="1" cellpadding="1" cellspacing="1" class="responsive-table responsive-table--vertical">
  <tbody>
    {{#each rows as |row|}}
      <tr>
        <th>{{ row.label }}</th>
          {{#each row.value as |item|}}
            <td data-label="{{ row.label }}">{{ item }}</td>
          {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
