<table border="1" cellpadding="1" cellspacing="1" class="vertical-responsive-table table-mobile">
   <tbody>
    <tr>
      <th scope="col">
        Total Votes:
       </span>
      </th>
      <td>359,294</td>
    </tr>
    <tr>
      <th scope="col">Ballots:</th>
      <td>144,380</td>
    </tr>
    <tr>
      <th scope="col">Undervotes: <span tabindex="0" style="display: inline-block; margin-left: 5px;" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Total votes represents the total amount of votes for all candidates, including write-in votes."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span></th>
      <td>217,862</td>
    </tr>
    <tr>
      <th scope="col">Overvotes:</th>
      <td>336</td>
    </tr>
  </tbody>
</table>
